{%- liquid
  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif
-%}

{% capture placeholder_image %}
  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
  <div class="collection-item__image-wrapper">
    <div class="collection-item__image placeholder-image">
      {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  </div>
{% endcapture %}

<div
  class="collection-item collection-item--{{ aspect_ratio }}"
  style="--text-max-width: {{ text_max_width }}rem;"
>
  {%- if collection.image != blank or collection.products.first != blank -%}
    {%- assign image_object = collection.image | default: collection.products.first.featured_media.preview_image -%}
    {%- assign image_id = collection.image.id | default: collection.products.first.featured_media.id -%}

    <a
      href="{{ collection.url }}"
      class="collection-item__image-wrapper hover"
      aria-label="{{ collection.title }}"
    >
      {% render 'image' with
        image: image_object,
        id: image_id,
        wrapper_class: 'collection-item__image',
        disable_style: image_is_constrained
      %}
    </a>
  {%- elsif collection == empty -%}
    {{ placeholder_image }}
  {%- else -%}
    {{ placeholder_image }}
  {%- endif -%}

  <div class="collection-item__footer ta-c">
    <h4 class="collection-item__header ff-heading fs-heading-3-base fs-heading-2-large-ns">
      {%- if collection == empty -%}
        {{ 'collections.general.collection_label' | t }}
      {%- else -%}
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {%- endif -%}
    </h4>

    {%- unless subheading == blank -%}
      <p
        class="collection-item__subheading fs-body-small fs-body-base-ns"
        data-live-text-setting="{%- render 'live-text-setting' with block_id: block_id, schema_id: subheading_schema_name -%}"
      >
        {{ subheading }}
      </p>
    {%- endunless -%}

    {%- if show_description == true and collection.description != blank -%}
      <p class="collection-item__subheading fs-body-small fs-body-base-ns">
        {{ collection.description | truncate: 120 }}
      </p>
    {%- endif -%}

  </div>
</div>
