{%- if current_tags.size > 0 or collection.sort_by != blank -%}
  <div class="collection-top-bar">
    {%- for tag in current_tags -%}
      {%- assign label = tag -%}
      {%- assign cat = label | split: '_' -%}

      {%- if cat.size > 0 -%}
        {%- assign label = cat | last -%}
      {%- endif -%}

      {%- assign url = label | link_to_remove_tag: tag | split: '"' -%}
      {%- assign url = url[1] -%}

      <a href="{{ url }}" class="collection-top-bar__active-filter no-transition" data-button="filter" data-tag="{{ tag | handle }}">
        {{ label }}
        {%- render 'icon' with icon: 'close-stroke' -%}
      </a>
    {%- endfor -%}

    {%- if collection.sort_by != blank -%}
      {%- comment -%} Would be nice not to loop to get the formatted label {%- endcomment -%}
      {%- for option in collection.sort_options -%}
        {%- if collection.sort_by == option.value -%}
          {%- assign label = option.name -%}
        {%- endif -%}
      {%- endfor -%}
      <a href="#" class="collection-top-bar__active-filter no-transition" data-sort-pill data-button="sort">
        Sort: {{ label }}
        {%- render 'icon' with icon: 'close-stroke' -%}
      </a>
    {%- endif -%}

    <button type="button" class="collection-top-bar__clear btn btn--text-link" data-clear="true">{{ 'collections.filters.clear_filters' | t }}</button>
  </div>
{%- endif -%}
