{%- liquid
  assign swatch_options = settings.swatch_options | downcase | split: ', '
  assign chip_options = settings.chip_options | downcase | split: ', '
-%}

{%- if collection.all_tags.size > 0 or show_sort -%}
  <div class="collection-modal popover" data-filer-modal-wrapper>
    <div class="collection-modal__wash" data-mobile-wash></div>

    {%- if collection.all_tags.size > 0 -%}
      <div
        class="collection-modal__panel"
        data-filter-modal="__tags"
        aria-labelledby="modal-{{ 'collections.filters.title' | t }}"
        aria-modal="true"
        aria-hidden="true"
      >
        <button type="button" class="collection-modal__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-close-icon>
          {% render 'icon-button' with icon: 'close-stroke' %}
        </button>

        <div class="collection-modal__content" data-scroll-lock-ignore>
          <div class="collection-modal__heading">
            <h2 id="modal-{{ 'collections.filters.title' | t }}" class="ff-heading fs-heading-2-large">{{ 'collections.filters.title' | t }}</h2>
          </div>

          {%- if filter_type == 'by_group' -%}
            {%- for category in categories -%}
              {%- assign option_name = category | downcase -%}

              <div class="collection-modal__group">
                <div class="collection-modal__group-heading-wrapper">
                  <h4 class="collection-modal__group-heading ff-heading fs-heading-3-base">{{ category }}</h4>
                  <button type="button" class="collection-moda__group-clear btn btn--text-link ff-body fs-body-base" data-button="clear" data-category="{{ category | handleize }}">{{ 'collections.filters.clear' | t }}</button>
                </div>

                {%- assign list_modifiers = '' -%}
                {%- if swatch_options contains option_name or chip_options contains option_name -%}
                  {%- assign list_modifiers = list_modifiers | append: ' is-flex' -%}
                {%- endif -%}
                {%- if swatch_options contains option_name -%}
                  {%- assign list_modifiers = list_modifiers | append: ' has-swatch' -%}
                {%- elsif chip_options contains option_name -%}
                  {%- assign list_modifiers = list_modifiers | append: ' has-chip' -%}
                {%- endif -%}
                <ul class="collection-modal__list{{ list_modifiers }}">
                  {%- for tag in collection.all_tags -%}
                    {%- assign cat = tag | split: '_' | first -%}

                    {%- if cat != tag and category == cat -%}
                      {%- assign label = tag | remove_first: cat | remove_first: '_' -%}

                      {%- if current_tags contains tag -%}
                        {%- assign is_active = true -%}
                        {%- assign url = label | link_to_remove_tag: tag | split: '"' -%}
                        {%- assign url = url[1] -%}
                      {%- else -%}
                        {%- assign is_active = false -%}
                        {%- assign url = label | link_to_add_tag: tag | split: '"' -%}
                        {%- assign url = url[1] -%}
                      {%- endif -%}

                      {%- if swatch_options contains option_name -%}
                        {% render 'filter-item' with
                          type: 'swatch',
                          label: label,
                          active: is_active,
                          url: url,
                          key: 'tag',
                          val: tag
                        %}
                      {%- elsif chip_options contains option_name -%}
                        {% render 'filter-item' with
                          type: 'chip',
                          label: label,
                          active: is_active,
                          url: url,
                          key: 'tag',
                          val: tag
                        %}
                      {%- else -%}
                        {% render 'filter-item' with
                          type: 'checkbox',
                          label: label,
                          active: is_active,
                          url: url,
                          key: 'tag',
                          val: tag
                        %}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endfor -%}


            {%- if unorganized_categories.size > 0 -%}
              <div class="collection-modal__group">
                <div class="collection-modal__group-heading-wrapper">
                  <h4 class="collection-modal__group-heading ff-heading fs-heading-3-base">{{ 'collections.tags.title' | t }}</h4>
                  <button type="button" class="collection-moda__group-clear btn btn--text-link ff-body fs-body-base" data-button="clear" data-category="{{ category | handleize }}">{{ 'collections.filters.clear' | t }}</button>
                </div>

                <ul class="collection-modal__list">
                  {%- for tag in unorganized_categories -%}

                    {%- if current_tags contains tag -%}
                      {%- assign is_active = true -%}
                      {%- assign url = label | link_to_remove_tag: tag | split: '"' -%}
                      {%- assign url = url[1] -%}
                    {%- else -%}
                      {%- assign is_active = false -%}
                      {%- assign url = label | link_to_add_tag: tag | split: '"' -%}
                      {%- assign url = url[1] -%}
                    {%- endif -%}

                    {% render 'filter-item' with
                      type: 'checkbox',
                      label: tag,
                      active: is_active,
                      url: url,
                      key: 'tag',
                      val: tag
                    %}
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}

          {%- elsif filter_type == 'by_tag' -%}
            <div class="collection-modal__group">
              <div class="collection-modal__group-heading-wrapper">
                <h4 class="collection-modal__group-heading ff-heading fs-heading-3-base">{{ 'collections.tags.title' | t }}</h4>
                <button type="button" class="collection-moda__group-clear btn btn--text-link ff-body fs-body-base" data-button="clear" data-category="{{ category | handleize }}">{{ 'collections.filters.clear' | t }}</button>
              </div>

              <ul class="collection-modal__list">
                {%- for tag in collection.all_tags -%}

                  {%- assign label = tag | split: '_' | last -%}

                  {%- if current_tags contains tag -%}
                    {%- assign is_active = true -%}
                    {%- assign url = label | link_to_remove_tag: tag | split: '"' -%}
                    {%- assign url = url[1] -%}
                  {%- else -%}
                    {%- assign is_active = false -%}
                    {%- assign url = label | link_to_add_tag: tag | split: '"' -%}
                    {%- assign url = url[1] -%}
                  {%- endif -%}

                  {% render 'filter-item' with
                    type: 'checkbox',
                    label: label,
                    active: is_active,
                    url: url,
                    key: 'tag',
                    val: tag
                  %}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>

        <div class="collection-modal__footer">
          <button class="collection-modal__button-apply btn btn--primary btn--medium" data-button="apply">{{ 'collections.filters.apply' | t }}</button>
          <button class="collection-modal__button-clear btn btn--secondary btn--medium" data-button="clear-all">{{ 'collections.filters.clear_all' | t }}</button>
        </div>
      </div>
    {%- endif -%}

    {%- if show_sort -%}
      <div
        class="collection-modal__panel"
        data-filter-modal="__sort"
        aria-labelledby="modal-{{ 'collections.sorting.title' | t }}"
        aria-modal="true"
        aria-hidden="true"
      >

        <button type="button" class="collection-modal__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-close-icon>
          {% render 'icon-button' with icon: 'close-stroke' %}
        </button>
        <div class="collection-modal__content" data-scroll-lock-ignore>
          <div class="collection-modal__heading">
            <h2 id="modal-{{ 'collections.sorting.title' | t }}" class="ff-heading fs-heading-2-large">{{ 'collections.sorting.title' | t }}</h2>
          </div>

          <ul class="collection-modal__list">
            {%- for option in collection.sort_options -%}
              {%- assign is_active = false -%}
              {%- if option.value == collection.sort_by -%}
                {%- assign is_active = true -%}
              {%- endif -%}
              {% render 'filter-item' with
                label: option.name,
                type: 'radio',
                active: is_active,
                url: '#',
                key: 'sort',
                val: option.value
              %}
            {%- endfor -%}
          </ul>
        </div>
        <div class="collection-modal__footer">
          <button class="collection-modal__button-apply btn btn--primary btn--medium" data-button="apply">{{ 'collections.filters.apply' | t }}</button>
          <button class="collection-modal__button-clear btn btn--secondary btn--medium" data-button="clear-all">{{ 'collections.filters.clear' | t }}</button>
        </div>
      </div>
    {%- endif -%}

  </div>
{%- endif -%}

