{% if product.options.size == 1 %}
  <script>
    const addToCartForm = document.querySelector('form[action="/cart/add"]');
    if (window.MutationObserver && addToCartForm !== null) {
      if (typeof observer === 'object' && typeof observer.disconnect === 'function') {
        observer.disconnect();
      }
      var config = { childList: true, subtree: true };
      var observer = new MutationObserver(function() {
        let variantOptions = Array.from(document.querySelectorAll('.single-option-selector option'));
        {% for variant in product.variants %}
        {% unless variant.available %}
        variantOptions.forEach(function(element) {
          if (element.value === {{ variant.title | json }}) {
              element.setAttribute('disabled', '');
          }
        });
        {% endunless %}
        {% endfor %}
        observer.disconnect();
      });
      observer.observe(addToCartForm, config);
    }
  </script>
  {% endif %}
