{%- liquid
  assign links = linklists[menu].links
  assign secondary_links = linklists[secondary_menu].links

  assign account_visible = false
  if shop.customer_accounts_enabled
    assign account_visible = true
  endif

  assign language_visible = false
  if shop.published_locales.size > 1
    assign language_visible = true
  endif

  assign currency_visible = false
  if shop.enabled_currencies.size > 1
    assign currency_visible = true
  endif
-%}

{% capture search_settings %}
  { "limit":
  {{ settings.search_max_result_size | json }}, "show_articles": {{ settings.search_show_articles | json }},
  "show_pages": {{ settings.search_show_pages | json }}, "show_price": {{ settings.search_show_price | json }},
  "show_vendor":
  {{ settings.search_show_vendor | json }}
  }
{% endcapture %}

<div class="drawer-menu popover" data-drawer-menu>
  <script data-search-settings type="application/json">
    {{ search_settings }}
  </script>

  <div class="drawer-menu__overlay" data-overlay></div>

  <div class="drawer-menu__panel" data-scroll-lock-ignore>
    <div class="drawer-menu__close-wrapper">
      <button
        type="button"
        data-drawer-close
        class="drawer-menu__close-icon"
        aria-label="{{ 'general.accessibility.close_modal' | t }}"
      >
        {% render 'icon-button' with icon: 'close-stroke' %}
      </button>
    </div>

    <div class="drawer-menu__bottom">
      <div class="drawer-menu__all-links" data-all-links data-depth="0">
        <div class="drawer-menu__contents">
          <div class="drawer-menu__main" data-main>
            <ul class="drawer-menu__primary-links drawer-menu-list--0" data-depth="0" data-primary-container="true">
              <!-- if primary doesn't exist but secondary does -->
              {% comment %} 註冊/登入 在最上面 {% endcomment %}
              <li class="drawer-menu__item" data-list-item>
                <a
                  class="drawer-menu__link fs-body-base fs-body-large-ns"
                  style="font-size: 16px;line-height: 19px; height: 32px;font-family: sans-serif;"
                  href="{{ routes.account_url }}"
                >
                  {%- if customer -%}
                    {{ 'sections.drawer_menu.account.logged_in' | t }}
                  {% else %}
                    {{ 'sections.drawer_menu.account.logged_out' | t }}
                  {%- endif -%}
                </a>
              </li>
              {%- if menu == blank and secondary_menu != blank -%}
                {% render 'drawer-menu-list', links: secondary_links, emphasized: true %}

                <!-- If scondary menu is different show both with primary first -->
              {%- elsif secondary_menu != blank and secondary_menu != menu -%}
                {% render 'drawer-menu-list', links: links, emphasized: true %}
                {% render 'drawer-menu-list', links: secondary_links %}

                <!-- If secondary menu doesnt exist only show main menu -->
              {%- else -%}
                {% render 'drawer-menu-list', links: links, emphasized: true %}
              {%- endif -%}
              {%- if account_visible -%}
                {% if routes.account_url == "/account" %}
                  {% comment %} 手機版移到最上面 {% endcomment %}
                {% else %}
                  <li class="drawer-menu__item" data-list-item>
                    <a class="drawer-menu__link fs-body-base fs-body-large-ns" href="{{ routes.account_url }}">
                      {%- if customer -%}
                        {{ 'sections.drawer_menu.account.logged_in' | t }}
                      {% else %}
                        {{ 'sections.drawer_menu.account.logged_out' | t }}
                      {%- endif -%}
                    </a>
                  </li>
                {% endif %}
              {%- endif -%}
              <li class="drawer-menu__item drawer-menu__search-parent" data-list-item>
                <a
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="drawer-menu__link fs-body-base fs-body-large-ns"
                  data-item="parent"
                  href="#"
                >
                  {{ 'sections.drawer_menu.search_title' | t }}
                  {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                </a>
                <ul aria-hidden="true" class="drawer-menu__list drawer-menu__list--sub" data-search-menu>
                  <li class="drawer-menu__item drawer-menu__item--heading">
                    <button class="drawer-menu__link" data-item="back">
                      <span class="ff-heading fs-heading-2-base fs-heading-2-large-ns">
                        {{ 'sections.drawer_menu.search_title' | t }}
                      </span>
                      {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                    </button>
                  </li>
                  <li class="drawer-menu__search">
                    <form action="{{ routes.search_url }}" autocomplete="off">
                      <div class="drawer-menu__header">
                        <div class="drawer-menu__search-input-wrapper">
                          <label class="visually-hidden" for="drawer-search">
                            {{- 'sections.drawer_menu.search_title' | t -}}
                          </label>
                          <input
                            name="q"
                            id="drawer-search"
                            class="drawer-menu__search-input"
                            placeholder="{{ 'sections.drawer_menu.search_title' | t }}"
                            data-input
                          >
                          <div class="drawer-menu__actions">
                            <button
                              class="drawer-menu__clear"
                              type="button"
                              data-search-clear
                              aria-label="{{ 'search.clear_search' | t }}"
                            >
                              {% render 'icon' with icon: 'close-stroke' %}
                            </button>
                            <button
                              class="drawer-menu__submit"
                              type="submit"
                              data-search-submit
                              aria-label="{{ 'search.search' | t }}"
                            >
                              {% render 'icon' with icon: 'arrow-stroke' %}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="drawer-menu__search-results" data-scroll-lock-ignore data-search-results></div>
                    </form>
                  </li>
                </ul>
              </li>

              {%- if language_visible or currency_visible -%}
                {%- form 'localization', class: 'drawer-menu__form' -%}
                  {%- if language_visible -%}
                    <li class="drawer-menu__item" data-list-item>
                      <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="drawer-menu__link fs-body-base fs-body-large-ns"
                        data-item="parent"
                        href="#"
                      >
                        {{ 'sections.drawer_menu.language' | t }}
                        {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                      </a>
                      <ul aria-hidden="true" class="drawer-menu__list drawer-menu__list--sub">
                        <li class="drawer-menu__item drawer-menu__item--heading">
                          <button class="drawer-menu__link" data-item="back">
                            <span class="ff-heading fs-heading-2-base fs-heading-2-large-ns">
                              {{ 'sections.drawer_menu.language' | t }}
                            </span>
                            {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                          </button>
                        </li>
                        {% for locale in form.available_locales %}
                          <li class="drawer-menu__item" data-list-item>
                            <a
                              class="drawer-menu__link drawer-menu__link--cb"
                              href="#"
                              data-item="locale"
                              data-value="{{ locale.iso_code }}"
                            >
                              <div
                                class="drawer-menu__radio{% if locale.iso_code == form.current_locale.iso_code %} active{% endif %}"
                              ></div>
                              <span>{{ locale.endonym_name }}</span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </li>
                    <input
                      type="hidden"
                      name="locale_code"
                      id="LocaleSelectorDrawer"
                      value="{{ form.current_locale.iso_code }}"
                      data-locale-input
                    >
                  {%- endif -%}

                  {%- if currency_visible -%}
                    <li class="drawer-menu__item" data-list-item>
                      <a
                        aria-expanded="false"
                        aria-haspopup="true"
                        class="drawer-menu__link fs-body-base fs-body-large-ns"
                        data-item="parent"
                        href="#"
                      >
                        {{ 'sections.drawer_menu.currency' | t }}
                        {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                      </a>
                      <ul aria-hidden="true" class="drawer-menu__list drawer-menu__list--sub">
                        <li class="drawer-menu__item drawer-menu__item--heading">
                          <button class="drawer-menu__link drawer-menu__item--emphasized" data-item="back">
                            <span class="ff-heading fs-heading-2-base fs-heading-2-large-ns">
                              {{ 'sections.drawer_menu.currency' | t }}
                            </span>
                            {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                          </button>
                        </li>
                        {% for currency in form.available_currencies %}
                          <li class="drawer-menu__item" data-list-item>
                            <a
                              class="drawer-menu__link drawer-menu__link--cb"
                              href="#"
                              data-item="currency"
                              data-value="{{ currency.iso_code }}"
                            >
                              <div
                                class="drawer-menu__radio{% if currency.iso_code == form.current_currency.iso_code %} active{% endif %}"
                              ></div>
                              <span class="fs-body-base fs-body-large-ns">
                                {{ currency.iso_code }}
                                {%- if currency.symbol -%}
                                  &#40;{{ currency.symbol }}&#41;
                                {%- endif -%}
                              </span>
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </li>
                    <input
                      type="hidden"
                      name="currency_code"
                      id="CurrencySelector"
                      value="{{ form.current_currency.iso_code }}"
                      data-currency-input
                    >
                  {%- endif -%}
                {%- endform -%}
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media(max-width:800px) {
    .drawer-menu__list--sub {
      opacity: 1;
      padding:0;
      position: static;
      visibility: visible;
      pointer-events:auto;
    }
    .drawer-menu__item.drawer-menu__item--heading{
      display:none;
    }
    .drawer-menu__bottom .drawer-menu__all-links ul{
      padding:0;
    }
    .drawer-menu__item.drawer-menu__item--emphasized .icon,.drawer-menu__item:not(.drawer-menu__item--emphasized) .menu-icon{
      display: none;
    }
    .drawer-menu__item--emphasized>a{
      display: block !important;
    }
    .drawer-menu a.active{
        {% comment %} display: none; {% endcomment %}
        opacity: 1;
      }
  }
</style>
