{%- liquid
  if forloop
    assign zero_index = forloop.index0
    assign content_index = forloop.index
  else
    assign zero_index = index | minus: 1
    assign content_index = index
  endif
-%}

<div
  class="faq__accordion-group"
  data-index="{{ zero_index }}"
  {{ block.shopify_attributes }}
>
  {%- unless question == blank -%}
    <button
      type="button"
      class="faq__accordion-label ff-heading fs-body-base fs-heading-2-base-ns"
      aria-controls="content-{{ content_index }}"
      aria-expanded="false"
    >
      {% render 'icon' with icon: 'quote', class: 'faq__accordion-quote' %}
      <span
        class="faq__accordion-title"
        data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: question_schema_id %}"
      >
        {{ question }}
      </span>
      {% render 'icon' with icon: 'triangle', class: 'faq__accordion-chevron' %}
    </button>
  {%- endunless -%}

  {%- unless answer == blank -%}
    <div
      class="faq__accordion-answer"
      aria-hidden="true"
      id="content-{{ content_index }}"
    >
      <div
        class="faq__accordion-answer-text ff-body fs-body-small fs-body-base-ns measure"
        data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: answer_schema_id %}"
      >
        {{ answer }}
      </div>
      {%- if author != blank -%}
        <p
          class="faq__accordion-answer-by ff-body fs-body-small"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: author_schema_id %}"
        >
          {{ 'sections.faq.answered_by' | t: author: author }}
        </p>
      {%- endif -%}
    </div>
  {%- endunless -%}
</div>