{% assign file_extension = 'png' %}

<li
  class="
    filter-item
    {% if active -%}active{% endif %}
    {% if type == 'swatch' or type == 'chip' -%}inline{% endif %}
    "
  >
  <a
    class="filter-item__content no-transition"
    href="{{ url }}"
    {%- if key != blank and val != blank -%}
      data-{{ key }}="{{ val | handle }}"
    {%- endif -%}
    {%- if type == 'swatch' -%}
      aria-label="{{ label }}"
    {%- endif -%}
  >
    {%- if type == 'checkbox' -%}
      <div class="filter-input__input filter-item__checkbox">
        {% render 'icon' with icon: 'check' %}
      </div>
    {%- endif -%}

    {%- if type == 'radio' -%}
      <div class="filter-input__input filter-item__radio">
        <div class="indicator"></div>
      </div>
    {%- endif -%}

    {%- if type == 'checkbox' or type == 'radio' -%}
      <span class="filter-item__label">
        {{ label }}
      </span>
    {%- endif -%}

    {%- if type == 'swatch' -%}
      <div
        class="filter-item__swatch"
        style="
          background-image: url({{ label | handle | append: '.' | append: file_extension | file_url }});
          background-color: {{ label | handle }};
        "
      >
      </div>
    {%- endif -%}

    {%- if type == 'chip' -%}
      <div class="filter-item__chip">
        {{ label }}
      </div>
    {%- endif -%}
  </a>
</li>
