
<span class="icon {{ class }}">

  <svg width="100%"   {% if icon == 'line' %}
  viewBox="0 0 177 177"
  {% else %}
  viewBox="0 0 24 24"
  {% endif %}>
    {% case icon %}
      {% when '3d-button-control' %}
      <g clip-path="url(#clip0)">
        <path d="M23.8033 0.196777H0.196716V23.8033H23.8033V0.196777Z" class="bg" fill="white" stroke="currentColor" stroke-miterlimit="10" />
        <path d="M12 6.82629L7.17639 9.60793V15.1791L12 17.9607L16.8236 15.1751V9.60793L12 6.82629ZM7.96328 14.7227V10.0643L12 7.73121L15.9856 10.0329L12 12.3463V17.0676L7.96328 14.7227Z" fill="currentColor" />
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="30" height="30" />
        </clipPath>
      </defs>

      {% when '3d-badge' %}
        <path d="M1,25H25V1H1Z" class="badge-background"/>
        <path d="M.5,25v.5h25V.5H.5Z" fill="none" stroke="currentColor" stroke-opacity="0.05"/>
        <path d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z" fill="currentColor" opacity="0.6" style="isolation:isolate"/>

      {% when 'play-badge' %}
        <path class="badge-background" fill-rule="evenodd" clip-rule="evenodd" d="M1 25H25V1H1V25Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71814 6.71984C9.0517 6.31605 8.19995 6.79588 8.19995 7.5751V18.311C8.19995 19.1138 9.09826 19.5893 9.76217 19.1379L18.1123 13.4612C18.7146 13.0518 18.6912 12.1564 18.0682 11.779L9.71814 6.71984Z" fill="currentColor" fill-opacity="0.6"/>

      {% when 'arrow' %}
        <path d="M12 0 9.87 2.11l8.35 8.36H0v3h18.22l-8.35 8.36L12 23.94 24 12z" fill="currentColor" {% if non_focusable %} focusable="false"{% endif %}/>

      {% when 'arrow-stroke' %}
        <path fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M5 12h14M12 5l7 7-7 7"/>

      {% when 'arrow-circle' %}
        <circle fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" cx="12" cy="12" r="10"/>
        <path fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="m12 16 4-4-4-4M8 12h8"/>

      {% when 'play_arrow' %}
        <path d="M0 0h24v24H0z" fill="none"/><path d="M8 5v14l11-7z" fill="currentColor" {% if non_focusable %} focusable="false"{% endif %}/>

      {% when 'quote' %}
        <path fill="currentColor" d="M5 20.38A4.82 4.82 0 0 1 1.25 19 5.22 5.22 0 0 1 0 15.42v-.86a10.58 10.58 0 0 1 .45-3.08 18 18 0 0 1 1.29-3 22.3 22.3 0 0 1 1.81-2.64 25.93 25.93 0 0 1 2.08-2.29h5.11A19.74 19.74 0 0 0 7.37 7a12 12 0 0 0-1.85 3.66h.11a4.37 4.37 0 0 1 3.09 1.19 4.2 4.2 0 0 1 1.35 3.31v.23A5.22 5.22 0 0 1 8.78 19 4.83 4.83 0 0 1 5 20.38zm13.26 0A4.81 4.81 0 0 1 14.51 19a5.22 5.22 0 0 1-1.29-3.54v-.86a10.57 10.57 0 0 1 .44-3.08 17.28 17.28 0 0 1 1.3-3 22.3 22.3 0 0 1 1.85-2.68 24.47 24.47 0 0 1 2.08-2.29H24A19.38 19.38 0 0 0 20.63 7a12 12 0 0 0-1.85 3.66h.11A4.37 4.37 0 0 1 22 11.88a4.2 4.2 0 0 1 1.35 3.31v.23A5.18 5.18 0 0 1 22 19a4.81 4.81 0 0 1-3.73 1.38z"/>

      {% when 'chevron' %}
        <path stroke-width="1.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m6 9 6 6 6-6"/>

      {% when 'triangle' %}
        <path fill="currentColor" d="m0 6 12 12L24 6z" {% if non_focusable %} focusable="false"{% endif %}/>

      {% when 'heart' %}
        <path fill="currentColor" d="m12 23-1.74-1.59C4.07 15.82 0 12.13 0 7.6A6.53 6.53 0 0 1 6.59 1 7.17 7.17 0 0 1 12 3.51 7.17 7.17 0 0 1 17.37 1 6.53 6.53 0 0 1 24 7.6c0 4.53-4.07 8.22-10.24 13.83z" {% if non_focusable %} focusable="false"{% endif %} />

      {% when 'close' %}
        <path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" {% if non_focusable %} focusable="false"{% endif %} />

      {% when 'close-stroke' %}
        <path stroke-width="1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M18 6 6 18M6 6l12 12"/>

      {% when 'check' %}
        <path fill="currentColor" d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z" />

      {% when '3d' %}
        <path d="M12 2L3 7.20705V17.6079L12 22.8018L21 17.6079V7.20705L12 2ZM12.8194 11.3436L12 11.8722V20.5022L4.98238 16.4581V8.34361L12 4.29956L18.4361 8.01322L12.8194 11.3436Z" fill="currentColor" />

      {% when 'payment' %}
        <path fill="currentColor" d="M18.8 8h-1.1V5.7C17.7 2.6 15.1 0 12 0S6.3 2.6 6.3 5.7V8H5.2c-1.3 0-2.3 1-2.3 2.3v11.4c0 1.3 1 2.3 2.3 2.3h13.7c1.3 0 2.3-1 2.3-2.3V10.3C21.1 9 20.1 8 18.8 8zM12 18.3c-1.3 0-2.3-1-2.3-2.3s1-2.3 2.3-2.3 2.3 1 2.3 2.3-1 2.3-2.3 2.3zM15.5 8h-7V5.7c0-1.9 1.6-3.5 3.5-3.5s3.5 1.6 3.5 3.5V8z" />

      {% when 'security' %}
        <path fill="currentColor" d="M12 0 2.4 3.6v7.3C2.4 17 6.5 22.6 12 24c5.5-1.4 9.6-7 9.6-13.1V3.6L12 0zm-1.3 16.2L6.5 12l1.7-1.7 2.5 2.5 5.1-5.1 1.7 1.7-6.8 6.8z" />

      {% when 'shipping' %}
        <path fill="currentColor" d="M20.7 7.6h-3.3V3.3H2.2C1 3.3 0 4.3 0 5.5v12h2.2c0 1.8 1.5 3.3 3.3 3.3s3.3-1.5 3.3-3.3h6.5c0 1.8 1.5 3.3 3.3 3.3s3.3-1.5 3.3-3.3H24V12l-3.3-4.4zM5.5 19.1c-.9 0-1.6-.7-1.6-1.6s.7-1.6 1.6-1.6 1.6.7 1.6 1.6-.7 1.6-1.6 1.6zm14.7-9.8 2.1 2.7h-4.9V9.3h2.8zm-1.7 9.8c-.9 0-1.6-.7-1.6-1.6s.7-1.6 1.6-1.6 1.6.7 1.6 1.6-.7 1.6-1.6 1.6z" />

      {% when 'chat' %}
        <path fill="currentColor" d="M21.6 0H2.4C1.1 0 0 1.1 0 2.4V24l4.8-4.8h16.8c1.3 0 2.4-1.1 2.4-2.4V2.4C24 1.1 22.9 0 21.6 0zM4.8 8.4h14.4v2.4H4.8V8.4zm9.6 6H4.8V12h9.6v2.4zm4.8-7.2H4.8V4.8h14.4v2.4z"/>

      {% when 'plus' %}
        <path fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M12 5v14M5 12h14"/>

      {% when 'minus' %}
        <path fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M5 12h14"/>

      {% when 'remove' %}
        <path fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>

      {% when 'in-stock' %}
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".86" d="m6.85 12 3.61 3.75 6.69-7.42" />
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".86" d="M.51 12A11.49 11.49 0 1 0 12 .51 11.48 11.48 0 0 0 .51 12z" />

      {% when 'out-of-stock' %}
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".86" d="m15.77 8.33-7.53 7.41m0-7.41 7.53 7.41M.46 12a11.44 11.44 0 0 0 11.38 11.5 11.45 11.45 0 0 0 11.7-11.19V12A11.44 11.44 0 0 0 12.22.47 11.45 11.45 0 0 0 .47 11.6a3.09 3.09 0 0 0 0 .43z"/>

      {% when 'alphabetical' %}
        <path d="M3 7A2 2 0 0 0 1 9V17H3V13H5V17H7V9A2 2 0 0 0 5 7H3M3 9H5V11H3M15 10.5V9A2 2 0 0 0 13 7H9V17H13A2 2 0 0 0 15 15V13.5A1.54 1.54 0 0 0 13.5 12A1.54 1.54 0 0 0 15 10.5M13 15H11V13H13V15M13 11H11V9H13M19 7A2 2 0 0 0 17 9V15A2 2 0 0 0 19 17H21A2 2 0 0 0 23 15V14H21V15H19V9H21V10H23V9A2 2 0 0 0 21 7Z" fill="currentColor" />

      {% when 'search' %}
        <circle fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" class="cls-1" cx="10" cy="9.93" r="8.41"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" class="cls-1" d="M16.29,16.22l6.12,6.11"/>

      {% when 'shopping-cart' %}
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" class="cls-1" d="m19.84 7.53 1.4 12.88a1.73 1.73 0 0 1-1.53 1.91H4.48a1.73 1.73 0 0 1-1.73-1.72 1.15 1.15 0 0 1 0-.19L4.16 7.53a.27.27 0 0 1 .28-.25h15.12a.27.27 0 0 1 .28.25z"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" class="cls-1" d="M16.23 7.28V5.75a4.23 4.23 0 0 0-8.46 0v1.53"/>

      {% when 'account' %}
        <circle fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" cx="12" cy="6.47" r="4.8"/>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25" d="M21 22.33a.33.33 0 0 0 .32-.36c-.08-.76-.27-2.57-.37-3.28a4.54 4.54 0 0 0-4.51-3.92h-9A4.54 4.54 0 0 0 3 18.69c-.1.71-.29 2.52-.37 3.28a.33.33 0 0 0 .32.36z"/>

      {% when 'menu' %}
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1" d="M3.43 12h17.14M3.43 6.29h17.14M3.43 17.71h17.14"/>

      {% when 'rss_feed' %}
        <path d="M0 0h24v24H0z" fill="none"/><circle cx="6.18" cy="17.82" r="2.18" fill="currentColor" /><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z" fill="currentColor" />

      {% when 'social-share' %}
      <path fill="currentColor" d="M18.53 15.27a4.35 4.35 0 0 0-3.09 1.28l-5.8-3.38a3.89 3.89 0 0 0 0-2.34l5.8-3.39a4.35 4.35 0 1 0-1.26-3.06 4.21 4.21 0 0 0 .18 1.18l-5.8 3.38a4.35 4.35 0 1 0 0 6.12l5.8 3.38a4.21 4.21 0 0 0-.18 1.18 4.35 4.35 0 1 0 4.35-4.35zm0-13.06a2.18 2.18 0 1 1-2.18 2.17 2.18 2.18 0 0 1 2.18-2.17zm-13.06 12A2.18 2.18 0 1 1 7.65 12a2.18 2.18 0 0 1-2.18 2.18zm13.06 7.61a2.18 2.18 0 0 1-2.18-2.17 2.22 2.22 0 0 1 .3-1.09h0s0 0 0 0a2.17 2.17 0 1 1 1.86 3.29z"/>

      {% when 'lock' %}
        <g fill="none">
          <path d="M0 0h24v24H0V0z"/>
          <path d="M0 0h24v24H0V0z" opacity=".87"/>
        </g>
        <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z" fill="currentColor" />

      <!-- Social icons -->
      {% when 'facebook' %}
        <path d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995 l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z" fill="currentColor" />
      
      {% when 'line' %}
      <path fill="currentColor" d="M160.91,131.93a49.86,49.86,0,0,1-2.66,8.75,31.15,31.15,0,0,1-5.78,9,40.62,40.62,0,0,1-7.19,6.09c-2.48,1.74-5.29,2.64-7.94,3.93a12.15,12.15,0,0,1-3.33.9,45.69,45.69,0,0,1-6.86.82c-25,.06-50,0-75.05,0A36.31,36.31,0,0,1,40,159.64c-4.88-1.71-9.45-4.1-13-8a47.54,47.54,0,0,1-4.35-4.77,41.91,41.91,0,0,1-5-9.9C15.86,132.09,16,127.17,16,122.2q0-36.78.05-73.54c0-3.47,1.1-6.77,2.21-10A29.12,29.12,0,0,1,22.87,30,35.93,35.93,0,0,1,36.32,19.12a27,27,0,0,1,9-2.62c3.28-.28,6.57-.72,9.85-.72q35.86-.1,71.73,0c3,0,6.06,1,9.1,1.54a24.91,24.91,0,0,1,9.71,4.4,33.59,33.59,0,0,1,9.3,9.07,39.47,39.47,0,0,1,4.83,9.76A33.2,33.2,0,0,1,161.24,51q0,18.91,0,37.83,0,17.92,0,35.86A37.89,37.89,0,0,1,160.91,131.93ZM131,60.81c-11.25-11.76-25.52-16.69-41.59-16.89a60.48,60.48,0,0,0-31.09,8.36c-14,7.95-25.22,26.26-19.88,43.33,3.47,11.12,10.32,19.11,19.92,25a53.67,53.67,0,0,0,19.91,7.13c2.7.42,5.84,1.23,7.13,3.9,1.45,3,.36,8.06.56,11.34,3.28.75,8.46-2.46,11.2-4.07,3.61-2.11,7-4.64,10.37-7a161.69,161.69,0,0,0,19.59-15.91c7.2-6.89,12.88-14.73,14.35-24.7C143.2,79.48,139.05,69.22,131,60.81Z"/>
      <path fill="currentColor" d="M67.72,94.78H58.44V77.69a2.91,2.91,0,0,0-5-2,2.93,2.93,0,0,0-.82,2V97.11a3.44,3.44,0,0,0,1,2.45,3.4,3.4,0,0,0,2.45,1H67.72a2.87,2.87,0,0,0,2-.83,2.76,2.76,0,0,0,.88-2,3,3,0,0,0-2.92-2.92Z"/>
      <path fill="currentColor" d="M72.3,75.65a2.89,2.89,0,0,0-.82,2V97.86a2.89,2.89,0,0,0,2.88,2.89,2.92,2.92,0,0,0,2-.83,2.84,2.84,0,0,0,.88-2.06V77.69a2.86,2.86,0,0,0-.87-2.06A2.9,2.9,0,0,0,72.3,75.65Z"/>
      <path fill="currentColor" d="M98.56,75.65a2.9,2.9,0,0,0-.83,2V90.8L87.67,76.27a3.64,3.64,0,0,0-2.91-1.5h-.43a3.45,3.45,0,0,0-2.51,1.07,3.52,3.52,0,0,0-1,2.5V97.86a2.83,2.83,0,0,0,.84,2,2.94,2.94,0,0,0,4.08,0,2.84,2.84,0,0,0,.88-2.06V84.71l10.1,14.6a3.51,3.51,0,0,0,1.24,1,3.57,3.57,0,0,0,1.63.4H100a3.57,3.57,0,0,0,2.51-1,3.49,3.49,0,0,0,1.07-2.51V77.69a2.86,2.86,0,0,0-.87-2.06A2.9,2.9,0,0,0,98.56,75.65Z"/>
      <path fill="currentColor" d="M123.05,95H112.86V90.54h9a2.79,2.79,0,0,0,2-.79,2.79,2.79,0,0,0,0-4,2.77,2.77,0,0,0-2-.83h-9v-4.4h10.19a2.79,2.79,0,0,0,2-.8,2.68,2.68,0,0,0,.85-2,2.83,2.83,0,0,0-2.82-2.82H109.94a2.84,2.84,0,0,0-2.06.88,2.89,2.89,0,0,0-.82,2V97.7a2.87,2.87,0,0,0,2.88,2.88h13.11a2.78,2.78,0,0,0,2-.79,2.68,2.68,0,0,0,.85-2,2.77,2.77,0,0,0-.83-2A2.73,2.73,0,0,0,123.05,95Z"/></svg>        
      {% when 'instagram' %}
        <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" fill="currentColor" />

      {% when 'linkedin' %}
        <path d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" fill="currentColor" />

      {% when 'pinterest' %}
        <path d="M12,2C6.477,2,2,6.477,2,12c0,4.237,2.636,7.855,6.356,9.312c-0.087-0.791-0.167-2.005,0.035-2.868 c0.182-0.78,1.172-4.971,1.172-4.971s-0.299-0.599-0.299-1.484c0-1.391,0.806-2.428,1.809-2.428c0.853,0,1.265,0.641,1.265,1.408 c0,0.858-0.546,2.141-0.828,3.329c-0.236,0.996,0.499,1.807,1.481,1.807c1.777,0,3.143-1.874,3.143-4.579 c0-2.394-1.72-4.068-4.177-4.068c-2.845,0-4.515,2.134-4.515,4.34c0,0.859,0.331,1.781,0.744,2.282 c0.082,0.099,0.093,0.186,0.069,0.287c-0.076,0.316-0.244,0.995-0.277,1.134c-0.043,0.183-0.145,0.222-0.334,0.133 c-1.249-0.582-2.03-2.408-2.03-3.874c0-3.154,2.292-6.052,6.608-6.052c3.469,0,6.165,2.472,6.165,5.776 c0,3.447-2.173,6.22-5.189,6.22c-1.013,0-1.966-0.527-2.292-1.148c0,0-0.502,1.909-0.623,2.378 c-0.226,0.868-0.835,1.958-1.243,2.622C9.975,21.843,10.969,22,12,22c5.522,0,10-4.478,10-10S17.523,2,12,2z" fill="currentColor" />

      {% when 'snapchat' %}
        <path d="M21.93 16.56C21.79 16.18 21.5 16 21.22 15.81C21.17 15.78 21.11 15.75 21.07 15.73C21 15.68 20.89 15.64 20.8 15.59C19.86 15.09 19.12 14.46 18.61 13.72C18.47 13.5 18.35 13.29 18.24 13.06C18.2 12.93 18.2 12.86 18.23 12.8C18.26 12.75 18.3 12.7 18.35 12.67C18.5 12.56 18.68 12.46 18.79 12.38C19 12.25 19.15 12.15 19.25 12.08C19.64 11.81 19.91 11.5 20.08 11.2C20.32 10.75 20.35 10.22 20.16 9.75C19.91 9.08 19.27 8.66 18.5 8.66C18.34 8.66 18.18 8.68 18 8.71C18 8.72 17.94 8.73 17.9 8.74C17.9 8.28 17.89 7.8 17.85 7.32C17.71 5.64 17.12 4.76 16.5 4.06C16.11 3.62 15.65 3.24 15.14 2.95C14.21 2.42 13.15 2.15 12 2.15S9.8 2.42 8.87 2.95C8.35 3.24 7.89 3.62 7.5 4.06C6.88 4.76 6.3 5.64 6.15 7.32C6.11 7.8 6.1 8.28 6.11 8.74C6.06 8.73 6 8.72 6 8.71C5.82 8.68 5.66 8.66 5.5 8.66C4.73 8.66 4.09 9.08 3.84 9.75C3.65 10.22 3.68 10.75 3.92 11.2C4.09 11.5 4.36 11.81 4.75 12.08C4.85 12.15 5 12.25 5.21 12.39L5.63 12.66C5.69 12.7 5.73 12.75 5.77 12.8C5.8 12.87 5.8 12.94 5.75 13.07C5.65 13.3 5.53 13.5 5.39 13.72C4.89 14.45 4.18 15.07 3.27 15.56C2.78 15.82 2.28 16 2.07 16.56C1.91 17 2 17.5 2.42 17.91C2.57 18.06 2.74 18.19 2.93 18.29C3.33 18.5 3.75 18.68 4.18 18.79C4.27 18.82 4.36 18.85 4.43 18.91C4.58 19.03 4.56 19.23 4.76 19.5C4.86 19.66 5 19.79 5.13 19.89C5.54 20.18 6 20.19 6.5 20.21C6.94 20.23 7.44 20.25 8 20.44C8.26 20.5 8.5 20.67 8.79 20.85C9.5 21.27 10.42 21.85 12 21.85C13.57 21.85 14.5 21.27 15.22 20.84C15.5 20.67 15.75 20.5 16 20.44C16.55 20.25 17.06 20.23 17.5 20.21C18 20.2 18.46 20.18 18.87 19.89C19.04 19.77 19.18 19.61 19.29 19.43C19.43 19.19 19.43 19 19.56 18.91C19.63 18.86 19.71 18.82 19.8 18.8C20.24 18.68 20.66 18.5 21.06 18.29C21.27 18.18 21.45 18.04 21.6 17.87L21.61 17.87C22 17.46 22.08 17 21.93 16.56M20.53 17.31C19.67 17.78 19.1 17.73 18.66 18C18.5 18.12 18.45 18.28 18.42 18.44C18.41 18.5 18.4 18.58 18.39 18.64C18.37 18.78 18.34 18.9 18.24 18.97C17.9 19.2 16.91 18.95 15.63 19.37C14.57 19.72 13.9 20.73 12 20.73C10.1 20.73 9.45 19.73 8.37 19.37C7.1 18.95 6.1 19.2 5.77 18.97C5.5 18.78 5.72 18.26 5.34 18C4.9 17.73 4.33 17.78 3.5 17.31C3.19 17.15 3.14 17 3.18 16.93C3.22 16.84 3.34 16.77 3.42 16.73C5.07 15.94 6 14.91 6.47 14.1C6.91 13.38 7 12.83 7.03 12.75C7.06 12.54 7.09 12.38 6.86 12.17C6.64 11.96 5.66 11.36 5.39 11.17C4.93 10.85 4.74 10.54 4.88 10.15L4.88 10.15V10.15C5 9.88 5.23 9.78 5.5 9.78C5.58 9.78 5.66 9.79 5.74 9.81C6.24 9.91 6.72 10.16 7 10.23C7.03 10.24 7.06 10.24 7.1 10.24C7.19 10.24 7.24 10.21 7.27 10.15C7.28 10.11 7.29 10.06 7.29 10C7.25 9.46 7.18 8.41 7.26 7.42C7.3 7 7.37 6.64 7.46 6.33C7.66 5.65 8 5.2 8.34 4.79C8.59 4.5 9.75 3.27 12 3.27C13.85 3.27 14.96 4.11 15.44 4.56C15.54 4.66 15.62 4.74 15.66 4.79C16.04 5.23 16.38 5.71 16.58 6.47C16.65 6.74 16.71 7.06 16.74 7.42C16.82 8.4 16.75 9.46 16.71 10C16.71 10.04 16.71 10.08 16.72 10.11C16.73 10.2 16.79 10.24 16.9 10.24C16.94 10.24 16.97 10.24 17 10.23C17.28 10.16 17.76 9.91 18.26 9.8C18.34 9.79 18.42 9.78 18.5 9.78C18.75 9.78 19 9.87 19.1 10.1L19.11 10.14L19.12 10.14L19.12 10.15C19.27 10.53 19.07 10.85 18.62 11.16C18.35 11.35 17.36 11.96 17.14 12.16C16.91 12.38 16.94 12.54 16.97 12.75C17 12.85 17.18 13.8 18.08 14.86C18.63 15.5 19.42 16.17 20.58 16.73C20.65 16.76 20.74 16.81 20.79 16.87C20.82 16.92 20.84 16.96 20.83 17C20.82 17.1 20.73 17.2 20.53 17.31Z" fill="currentColor" />

      {% when 'tumblr' %}
        <path d="M 20 2 L 4 2 C 2.898438 2 2 2.898438 2 4 L 2 20 C 2 21.101563 2.898438 22 4 22 L 20 22 C 21.101563 22 22 21.101563 22 20 L 22 4 C 22 2.898438 21.101563 2 20 2 Z M 17 17.875 C 17 17.921875 16.980469 17.972656 16.941406 18 C 16.894531 18.046875 15.515625 19 13 19 C 9.980469 19 10 15.386719 10 15 L 10 11 L 8.175781 11 C 8.078125 11 8 10.921875 8 10.824219 L 8 9.164063 C 8 9.085938 8.039063 9.027344 8.105469 9 C 8.136719 8.988281 11 7.730469 11 5.175781 C 11 5.078125 11.078125 5 11.175781 5 L 12.828125 5 C 12.921875 5 13 5.078125 13 5.175781 L 13 9 L 15.824219 9 C 15.914063 9 16 9.078125 16 9.175781 L 16 10.828125 C 16 10.921875 15.914063 11 15.824219 11 L 13 11 L 13 15 C 13 15.058594 12.90625 16.273438 14.199219 16.273438 C 15.261719 16.273438 16.71875 15.925781 16.730469 15.925781 C 16.789063 15.886719 16.855469 15.886719 16.902344 15.917969 C 16.960938 15.945313 17 16.003906 17 16.070313 Z" fill="currentColor" />

      {% when 'twitter' %}
        <path d="M21.9617 5.80742C21.2242 6.13158 20.4367 6.35242 19.6075 6.45325C20.4525 5.94408 21.1025 5.14158 21.41 4.18408C20.6175 4.64658 19.7392 4.98325 18.8042 5.17075C18.0575 4.37158 16.9933 3.87158 15.8117 3.87158C13.5475 3.87158 11.7117 5.70742 11.7117 7.96908C11.7117 8.29408 11.7492 8.60658 11.8175 8.90575C8.40917 8.74492 5.38833 7.10825 3.36667 4.63408C3.01083 5.23575 2.81167 5.93492 2.81167 6.69658C2.81167 8.12158 3.53667 9.37408 4.635 10.1099C3.9625 10.0882 3.33 9.90325 2.77833 9.59658V9.64742C2.77833 11.6349 4.18917 13.2924 6.06667 13.6699C5.7225 13.7624 5.35917 13.8124 4.98667 13.8124C4.725 13.8124 4.47417 13.7874 4.22333 13.7407C4.74917 15.3682 6.26083 16.5549 8.06 16.5882C6.66 17.6874 4.88583 18.3424 2.975 18.3424C2.65 18.3424 2.32583 18.3232 2 18.2866C3.82417 19.4482 5.97333 20.1274 8.2975 20.1274C15.8425 20.1274 19.9633 13.8807 19.9633 8.47242C19.9633 8.29825 19.9633 8.12242 19.9508 7.94742C20.7517 7.37325 21.4508 6.64742 22.0008 5.82408L21.9617 5.80742Z" fill="currentColor" />

      {% when 'youtube' %}
        <path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z" fill="currentColor" />

      {% when 'vimeo' %}
        <path d="M22,7.42C21.91,9.37 20.55,12.04 17.92,15.44C15.2,19 12.9,20.75 11,20.75C9.85,20.75 8.86,19.67 8.05,17.5C7.5,15.54 7,13.56 6.44,11.58C5.84,9.42 5.2,8.34 4.5,8.34C4.36,8.34 3.84,8.66 2.94,9.29L2,8.07C3,7.2 3.96,6.33 4.92,5.46C6.24,4.32 7.23,3.72 7.88,3.66C9.44,3.5 10.4,4.58 10.76,6.86C11.15,9.33 11.42,10.86 11.57,11.46C12,13.5 12.5,14.5 13.05,14.5C13.47,14.5 14.1,13.86 14.94,12.53C15.78,11.21 16.23,10.2 16.29,9.5C16.41,8.36 15.96,7.79 14.94,7.79C14.46,7.79 13.97,7.9 13.46,8.12C14.44,4.89 16.32,3.32 19.09,3.41C21.15,3.47 22.12,4.81 22,7.42Z" fill="currentColor" />

      {% endcase %}
  </svg>
</span>
