{%- liquid
  assign block_has_image = false
  assign heading_style = 'fs-heading-2-base-ns'

  if image
    assign block_has_image = true
    assign heading_style = 'fs-heading-3-base-ns'
  endif
-%}

<div
  class="
    image-with-feature__item
    {% if image_shape == 'round' %} image-with-feature__item--rounded{% endif %}
    {% if block_has_image %} image-with-feature__item--has-image{% endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  {%- if block_has_image -%}
    <div class="image-with-feature__item-image">
      {% render 'image' with image: image, disable_style: true %}
    </div>
  {%- endif -%}

  {%- if heading != blank or subheading != blank -%}
    <div class="image-with-feature__item-content">
      {%- unless heading == blank -%}
        <h4 
          class="image-with-feature__item-heading ff-heading fs-heading-4-base {{ heading_style }}"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: heading_schema_id %}"
        >{{ heading }}</h4>
      {%- endunless -%}

      {%- unless subheading == blank -%}
        <div
          class="image-with-feature__item-text fs-body-small fs-body-base-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: subheading_schema_id %}"
        >
          {{ subheading }}
        </div>
      {%- endunless -%}
    </div>
  {%- endif -%}
</div>