<div class="inline-features__item">
  <div class="inline-features__item-inner">
    {%- if show_image -%}
      {%- if image -%}
        {% render 'image' with
          image: image,
          wrapper_class: 'inline-features__item-image',
          disable_style: true,
        %}
      {%- else -%}
        <div class="inline-features__item-image placeholder-image">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- if heading != blank or subheading != blank -%}
      <div class="inline-features__item-content">
        {% unless heading == blank %}
          <h4
            class="inline-features__item-heading ff-heading fs-heading-4-base fs-heading-2-base-ns {{ column_heading_type }}"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: heading_schema_id %}"
          >
            {{ heading }}
          </h4>
        {% endunless %}

        {% unless subheading == blank %}
          <p
            class="inline-features__item-text fs-body-small fs-body-base-l"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: subheading_schema_id %}"
          >
            {{ subheading }}
          </p>
        {% endunless %}
      </div>
    {%- endif -%}
  </div>
</div>