{% assign liquid_date = 'now' | date: '%s' %}
{% assign liquid_date = liquid_date | plus: 0 %}
{% assign app_enabled = shop.metafields.appid_2922505.app_enabled %}
{% assign last_updated = shop.metafields.appid_2922505.time_updated %}{% assign threedays_later = last_updated| plus: 259200  %}
{% if liquid_date < threedays_later and app_enabled != 'N' %}{% assign af_cart_json = cart | json %}
{% assign af_customer_id = customer.id %}
	<script>
	window.af_custom_id = '{{ af_customer_id }}';
	window.af_cd_cart_obj = {{af_cart_json}};
	</script>
	<script defer type='text/javascript' src='https://cd.anglerfox.com/app/script/load_script.php?v={{last_updated}}&shop={{ shop.permanent_domain }}'></script>
{% endif %}