{%- liquid
  assign filters_valid = false
  if collection.all_tags.size > 0 and show_filters
    assign filters_valid = true
  endif
-%}

<div
  class="
    mobile-filters
    active
    {% if filters_valid and show_sort -%}mobile-filters--has-grid{%- endif %}
    {% if filters_valid or show_sort -%}show{%- endif %}
  "
  data-mobile-filters
>
  <button type="button" class="mobile-filters__trigger btn" aria-label="{{ 'general.accessibility.mobile_filters' | t }}" data-mobile-trigger>
    {% render 'icon' with icon: 'triangle' %}
  </button>

  {%- if filters_valid -%}
    <div class="mobile-filters__group" data-group="{{ 'collections.filters.title' | t }}">
      <button type="button" class="mobile-filters__button mobile-filters__button-dropdown fs-body-small" data-filter="__tags" data-tags-dropdown>
        {{ 'collections.filters.title' | t }}

        {% render 'icon' with icon: 'triangle' %}
      </button>
    </div>
  {%- endif -%}


  {%- if show_sort -%}
    <div class="mobile-filters__group" data-group="{{ heading }}">
      <button type="button" class="mobile-filters__button mobile-filters__button-dropdown fs-body-small" data-filter="__sort" data-sort-dropdown>
        {{ 'collections.sorting.title' | t }}
        {% render 'icon' with icon: 'triangle' %}
      </button>
    </div>
  {%- endif -%}
</div>
