{% assign needed_to_compute = shop.enabled_payment_types %}
<div class="payment-icons">
  {% for type in shop.enabled_payment_types %}
    <div class="payment-icons__icon">
      <img src="{{ type | payment_type_img_url }}" alt="{{ type }}" />
    </div>
  {% endfor %}
</div>