{%- liquid
  assign file_extension = 'png'
  assign chip_options = settings.chip_options | downcase | split: ', '
  assign swatch_options = settings.swatch_options | downcase | split: ', '

  assign button_options = swatch_options | concat: chip_options

  assign variant_popup_page = pages[settings.variant_popup_page_mask_holder]
  assign variant_popup_content_exists = false
  assign variant_popup_option = ''

  if settings.variant_popup_option != blank and settings.variant_popup_text != blank and variant_popup_page.content != blank
    assign variant_popup_content_exists = true
    assign variant_popup_option = settings.variant_popup_option | downcase
  endif
-%}

{% capture "form_classes" -%}
  product-form product-form-{{ section.id }}
  {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
  {%- if show_dynamic_checkout and product.has_only_default_variant %}
    product-form--payment-button-no-variants
  {%- endif -%}
  {% if current_variant.available == false %} product-form--variant-sold-out{%- endif %}
  {% if product.has_only_default_variant -%}product-form--single-variant{%- endif %}
  {% unless show_quantity %} product-form--quantity-hidden {% endunless %}
{%- endcapture %}

{% capture label_classes %}
  ff-heading fs-heading-4-base
  {%- unless show_labels %} visually-hidden{% endunless %}
{% endcapture %}

{%- capture variant_popup_trigger -%}
  <button
    type="button"
    class="variant-popup__trigger btn btn--text-link"
    data-variant-popup-trigger
    data-modal-content-id="modal-{{ settings.variant_popup_page }}"
  >
    {{ settings.variant_popup_text }}
  </button>
  <div id="modal-{{ settings.variant_popup_page }}" class="variant-popup__content modal-content">
    <h2 class="ff-heading fs-heading-2-large">{{ variant_popup_page.title }}</h2>
    {{ variant_popup_page.content }}
  </div>
{%- endcapture -%}

{%
  form 'product',
  product,
  class: form_classes,
  novalidate: 'novalidate',
  data-product-form: '',
  data-product-handle: product.handle,
  data-current-product-id: current_variant.id
%}
  {%- unless product.has_only_default_variant -%}
    <div class="product-form__controls-group">
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign option_name = option.name | downcase
          assign show_popup_trigger = false

          if variant_popup_content_exists and option_name == variant_popup_option
          assign show_popup_trigger = true
          endif
        -%}

        {% comment %}
          All inputs that have `name=options[Name]` will be picked up by
          ProductForm, registered as an option input, and made available
          at ProductForm.optionsInputs
        {% endcomment %}
        {%- capture option_values -%}
          <select
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]"
            class="input"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {%- if option.selected_value == value -%}
                  selected="selected"
                {%- endif -%}
              >
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
        {%- endcapture -%}

        <div class="js-enabled product-form__option" name="{{ option.name }}">
          <div class="product-form__label-wrapper {% if show_popup_trigger == false and show_labels == false %} product-form__label-wrapper--collapse{% endif %}">
            <label class="product-form__label {{ label_classes }}" for="Option{{ option.position }}">
              {{ option.name }}
            </label>

            {% if show_popup_trigger %}
              {{ variant_popup_trigger }}
            {% endif %}
          </div>

          {%- if swatch_options contains option_name -%}
            <!-- Handle swatches -->
            <div
              class="product-form__color-swatches"
              data-option-buttons
              data-product-option="Option{{ option.position }}"
            >
              {%- for value in option.values -%}
                <button
                  type="button"
                  data-label="{{ value }}"
                  aria-label="{{ value }}"
                  data-button="{{ value }}"
                  class="product__color-swatch {% if option.selected_value == value %}selected{% endif %}"
                  style="background-color: {{ value | lowercase | replace: ' ', '' }}; background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }})"
                ></button>
              {%- endfor -%}

              {{ option_values }}
            </div>
          {%- endif -%}

          {%- if chip_options contains option_name -%}
            <!-- Handle chips -->
            <div
              class="product-form__color-chips product-form__custom"
              data-option-buttons
              data-product-option="Option{{ option.position }}"
              onclick="findImg()"
            >
              {%- for value in option.values -%}
                <button
                  type="button"
                  data-button="{{ value }}"
                  class="product__chip {% if option.selected_value == value %}selected{% endif %}"
                >
                  {{ value }}
                </button>
              {%- endfor -%}

              {{ option_values }}
            </div>
          {%- endif -%}

          {%- unless button_options contains option_name -%}
            <div class="select-wrapper">
              {{ option_values }}

              {% render 'icon' with icon: 'triangle' %}
            </div>
          {%- endunless -%}
        </div>
      {% endfor %}
    </div>
  {% endunless %}

  {% comment %}
    In order for this form to submit, it needs to contain an input with name="id".
    ProductForm() will automatically create this input (or make sure it has the
    right value set if it already exists) on form submit based on the
    currently selected variant. However, if JS is disabled we need a fallback.

    Include a single <select> element which allows users to select all variants
    as a fallback and present it only when JS is disabled. In addition,
    make sure you hide the option inputs declared above, like we do with the
    `.js-enabled` class which only shows its contents when JS is enabled.
  {% endcomment %}
  <div class="product-form__variants">
    <select
      name="id"
      class="input"
      id="variant-selector"
      data-variant-select
    >
      {%- for variant in product.variants -%}
        <option
          value="{{ variant.id }}"
          {%- if variant == current_variant -%}
            selected="selected"
          {%- endif -%}
        >
          {{ variant.title }}
          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
        </option>
      {%- endfor -%}
    </select>
  </div>

  <div class="product-form__controls-group product-form__controls-group-quanity{% unless show_quantity %} hidden{% endunless %}">
    <div class="product-form__label-wrapper{% unless show_labels %} product-form__label-wrapper--collapse{% endunless %}">
      <label class="product-form__label {{ label_classes }}" for="Quantity-{{ product.id }}">
        {{ 'products.product.quantity' | t }}
      </label>
    </div>
    <div class="product-form__item product-form__quantity">
      <button
        type="button"
        class="product-form__quantity-button product-form__quantity-subtract-item"
        data-subtract-quantity
        aria-label="{{ 'general.accessibility.quantity_add' | t }}"
      >
        {% render 'icon' with icon: 'minus' true, non_focusable: true %}
      </button>
      <input
        type="number"
        id="Quantity-{{ product.id }}"
        name="quantity"
        value="1"
        min="1"
        pattern="[0-9]*"
        class="product-form__input product-form__input--quantity"
        data-quantity-input
        aria-label="{{ 'general.accessibility.quantity' | t }}"
      >
      <button
        type="button"
        class="product-form__quantity-button product-form__quantity-add-item"
        data-add-quantity
        aria-label="{{ 'general.accessibility.quantity_subtract' | t }}"
      >
        {% render 'icon' with icon: 'plus', non_focusable: true %}
      </button>
    </div>
  </div>

  <div class="product-form__quantity-error hidden" data-quantity-error>
    {{ 'products.product.quantity_error' | t }}
  </div>

  <div class="product-form__controls-group product-form__controls-group--submit">
    <div class="
        product-form__item product-form__item--submit
        {%- if show_dynamic_checkout %} product-form__item--payment-button {%- endif -%}
        {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}
      ">
      <button
        type="submit"
        name="add"
        id="product-form-add-to-cart"
        {% unless current_variant.available %}
          aria-disabled="true" disabled
        {% endunless %}
        aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
        class="product-form__cart-submit btn btn--small btn--medium-ns btn--full {% if show_dynamic_checkout %}btn--secondary{% else %}btn--primary{% endif %}"
        data-add-to-cart
        data-lang-available="{{ 'product.add_to_cart' | t }}"
        data-lang-unavailable="{{ 'product.unavailable' | t }}"
        data-lang-sold-out="{{ 'product.sold_out' | t }}"
      >
        <span data-add-to-cart-text>
          {%- unless current_variant.available -%}
            {{ 'products.product.sold_out' | t }}
          {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
          {%- endunless -%}
        </span>
        <div class="btn__loading-wrap">
          <div class="btn__loading-bar"></div>
        </div>
      </button>

      {%- if show_dynamic_checkout -%}
        {%- comment -%}
          {{ form | payment_button }}
        {%- endcomment -%}

        <a
          id="quick-to-cart-normal"
          style="
            margin-top:15px;display: block;
            text-align: center;
          "
          {% unless current_variant.available %}
            aria-disabled="true" disabled
          {% endunless %}
          aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %} {{ 'products.product.buy_now' | t }}{% endunless %}"
          class="btn btn--small btn--medium-ns btn--full {% if show_dynamic_checkout %}btn--secondary{% else %}btn--primary{% endif %}"
        >
          <span>
            {%- unless current_variant.available -%}
              {{ 'products.product.sold_out' | t }}
            {%- else -%}
              {{ 'products.product.buy_now' | t }}
            {%- endunless -%}
          </span>
        </a>
      {%- endif -%}

      <div class="product-form__shop-pay fs-body-small">
        {{- form | payment_terms -}}
      </div>

      {% comment %} Surface pick-up {% endcomment %}
      <div
        class="store-availability-container__wrapper"
        data-store-availability-container
        data-base-url="{{ shop.url }}{{ routes.root_url }}"
      ></div>
    </div>
  </div>
{%- endform -%}
<style>
  @media(max-width:600px){
    .product-form__custom{
      font-size: {{ settings.product-option-size-mobile }}px;
    }
  }
</style>

<script>
  window.addEventListener("DOMContentLoaded", function () {
          document
        .getElementById("quick-to-cart-normal")
        .addEventListener("click", () => {
          let list = {{ current_variant | json }};
          let id = document
            .querySelector(".quick-normal")
            .href
            .split("/")[document
                .querySelector(".quick-normal")
                .href
                .split("/")
                .length - 1]
            .split(":")[0];
          let optionNum = list.options.length

          let productInfo = {}
          productInfo["id"] = id
          for (let i = 1; i <= optionNum; i++) {
            let text = document
              .querySelector(`label[for="Option${i}"]`)
              .textContent
              .trim()
            productInfo[`options[${text}]`] = document.getElementById(`Option${i}`).value
          }
          productInfo["form_type"] = "product"

          quickAddToCart(productInfo)

          let current_variant = {{ current_variant | json }};
          let collection = {{ product | json }}
          console.log("current",current_variant)
          console.log("collection",collection)
          let name = current_variant.name.split(" - ")[0];
          let current_id = current_variant.sku;


          dataLayer.push({
              event : 'emp_event',
              eventCategory : 'ecommerce',
              eventAction : 'add_to_cart',
              ecommerce: {
                  add: {
                      products: [{
                            name: name,
                            id: current_id.split('.')[0]+'.'+current_id.split('.')[1],
                            price: `${current_variant.price/100}`,
                            brand: 'NU Concept 肌能衣研製所',
                            category: {{ product.type | json }},
                            variant: document.querySelector('[name="options[尺寸]"]').value,
                            quantity: 1    //購買數量
                       }]
                    }
                }
          });
          console.log("data", dataLayer)


        })
      })
</script>
