{%- liquid
  if product.media.size > 1
    assign multiple_images = true
  endif

  assign includes_aspect_ratio = false
  assign current_variant = product.selected_or_first_available_variant

  if aspect_ratio != blank and aspect_ratio != 'natural'
    assign includes_aspect_ratio = true
  endif
-%}

<div class="product-item{% if includes_aspect_ratio %} product-item--{{ aspect_ratio }}{% endif %}">
  {%- if placeholder or product.featured_media == blank -%}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}

    <div class="product-item__media">
      <div class="product-item__image-link">
        <div class="placeholder-image product-item__image">
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </div>
    </div>
  {%- elsif product.featured_media -%}
    <div class="product-item__media">
      <a class="product-item__image-link product-item-{{ index }}" href="{{ product.url }}" aria-label="{{ product.title }}" data-type="{{ product.type }}" data-option1="{{ product.variants[0].option1 }}" data-option2="{{ product.variants[0].option2 }}">
        {% comment %} {%- if multiple_images -%}
          {% render 'image' with
            id: product.media[0].id,
            image: product.media[0].preview_image,
            wrapper_class: 'product-item__image',
            disable_style: includes_aspect_ratio,
            href: product.url
          %}
          {% render 'image' with
            image: product.media[1].preview_image,
            wrapper_class: 'product-item__image product-item__image--two',
            disable_style: true,
            disable_style: includes_aspect_ratio,
            href: product.url
          %}
        {%- else -%}
          {% render 'image' with
            id: product.featured_media.id,
            image: product.featured_media,
            wrapper_class: 'product-item__image',
            disable_style: includes_aspect_ratio,
            href: product.url
          %}
        {%- endif -%} {% endcomment %}
        {% render 'image' with
          id: product.featured_media.id,
          image: product.featured_media,
          wrapper_class: 'product-item__image',
          disable_style: includes_aspect_ratio,
          href: product.url
        %}
      </a>

      {%- unless product.available -%}
        <div class="product-item__wash"></div>
      {%- endunless -%}

      {%- if enable_hover_options -%}
        {%- render 'product-item-options' with product: product, product_columns: product_columns -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="product-item__meta fs-body-small">
    <div class="product-item__text ff-body fs-body-small fs-body-base-ns ta-c product-item__wording">
      <h4 class="product-item__product-title fs-product-title fs-body-bold product-item-custom">
        {%- if placeholder -%}
          {{ 'homepage.onboarding.product_title' | t }}
        {%- else -%}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {%- endif -%}
      </h4>
      {% if settings.reviews-function-show %}
<!-- Stamped - Begin Star Rating Badge -->
<span 
class="stamped-product-reviews-badge" 
data-id="{{ product.id }}"
data-product-sku="{{ product.handle }}" 
data-product-type="{{ product.type }}" 
data-product-title="{{ product.title }}" 
style="display:block;">
{{ product.metafields.stamped.badge }}
</span>
<!-- Stamped - End Star Rating Badge -->
{% endif %}
      {% if placeholder %}
        {{ 9999 | money }}

      {% elsif product.compare_at_price > product.price %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s class="t-subdued">{{ product.compare_at_price | money }}</s>

        {% if product.price_varies %}
          {%- assign sale_price = product.price | money -%}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          <span class="sale">{{ product.price | money }}<span>
        {% endif %}

      {% else %}
        {% if product.price_varies %}
          {%- assign price = product.price | money -%}
          {{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}

      {% endif %}

      <div>
        {% render 'unit-price' item: current_variant %}
      </div>
    </div>

    <!-- sale_badge_includes_percent -->

    {%- if product.compare_at_price > product.price or product.available != true -%}
      <div class="product-item__badges fs-body-x-small">
        {% if product.compare_at_price > product.price %}
          <div class="product-item__badge product-item__badge--sale">
            <span class="fs-body-bold">{{ 'products.product.on_sale' | t }}</span>
            {%- if settings.sale_badge_includes_percent and product.compare_at_price_max > product.price -%}
              {%- assign percent = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' -%}
              &nbsp;{{ 'products.product.on_sale_percent' | t: value: percent }}
            {%- endif -%}
          </div>
        {% endif %}

        {% unless product.available or placeholder %}
          <div class="product-item__badge product-item__badge--sold-out fs-body-bold">
            {{ 'products.product.sold_out' | t }}
          </div>
        {% endunless %}
      </div>
    {%- endif -%}

  </div>

<!-- **BEGIN** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
    {% render 'hextom_usb_coll', product: product %}
    <!-- **END** Hextom USB Integration // Collection Include - DO NOT MODIFY -->
</div>
