{%- liquid
  assign heading_font_styles = ' fs-heading-4-base'
  assign content_font_styles = ''

  if description_below
    assign heading_font_styles = ' fs-heading-3-base fs-heading-2-base-ns'
    assign content_font_styles = ' fs-body-base-ns'
  endif
-%}

<div class="product__description{% if description_below %} product__description--below{% else %} product__description--inline{% endif %}">
  <h2 class="product__description-header ff-heading {{ heading_font_styles }}">{{ 'products.product.description' | t }}</h2>

  <div class="product__description-content rte rte--product ff-body fs-body-small measure {{ content_font_styles }}" data-description>{{ description }}</div>

  {%- if show_share_buttons -%}
    {%- render 'share-icons' with title: product.title, url: product.url, image: product.featured_media -%}
  {%- endif -%}
</div>
