{% if product.media.size > 1 %}
  <ul class="product-thumbnails" data-product-thumbnails>
    {% for media in product.media %}
      <li class="product-thumbnails__item">
        <button
          type="button"
          class="product-thumbnails__item-link{% if media.id == featured_media.id %} active{% endif %}"
          data-thumbnail-id="{{ media.id }}"
          data-product-thumbnail
          aria-label="{{ 'general.accessibility.image_thumbail' | t: number: forloop.index }}"
        >
          {%
            render 'image' with
            image: media.preview_image,
            id: media.id
            wrapper_class: 'product-thumbnails__item-image',
            disable_style: true
          %}

          {% case media.media_type %}
            {% when 'video' %}
              <div class="product-thumbnails__item-badge">
                {% render 'icon' with icon: 'play-badge' %}
              </div>
            {% when 'external_video' %}
              <div class="product-thumbnails__item-badge">
                {% render 'icon' with icon: 'play-badge' %}
              </div>
            {% when 'model' %}
              <div class="product-thumbnails__item-badge">
                {% render 'icon' with icon: '3d-badge' %}
              </div>
          {% endcase %}
        </button>
      </li>
    {% endfor %}
  </ul>

  {%- comment -%}
    <div class="product-thumbnails-mobile">
      <div class="thumbnail-swiper-icon thumbnail-swiper-prev" id="">
        {% render 'icon', with icon: 'arrow',  non_focusable: true %}
      </div>
      <div class="swiper-container product-thumbnails-container" id="product-{{product.id}}">
        <div class="swiper-wrapper">
          {% for media in product.media %}
            <li class="product-thumbnails__item swiper-slide product-thumbnails-mobile__swiper">
              <button type="button" class="product-thumbnails__item-link{% if media.id == featured_media.id %} active{% endif %}" data-thumbnail-id="{{ media.id }}" data-product-thumbnail aria-label="{{ 'general.accessibility.image_thumbail' | t: number: forloop.index }}">
                {% render 'image' with
              image: media.preview_image,
              id: media.id
              wrapper_class: 'product-thumbnails__item-image',
              disable_style: true
            %}

                {% case media.media_type %}
                  {% when 'video' %}
                    <div class="product-thumbnails__item-badge">
                      {% render 'icon' with icon: 'play-badge' %}
                    </div>
                  {% when 'external_video' %}
                    <div class="product-thumbnails__item-badge">
                      {% render 'icon' with icon: 'play-badge' %}
                    </div>
                  {% when 'model' %}
                    <div class="product-thumbnails__item-badge">
                      {% render 'icon' with icon: '3d-badge' %}
                    </div>
                {% endcase %}
              </button>
            </li>
          {% endfor %}
        </div>
      </div>

      <div class="thumbnail-swiper-icon thumbnail-swiper-next">
        {% render 'icon', with icon: 'arrow',  non_focusable: true %}
      </div>
    </div>
  {%- endcomment -%}
  <script>
    window.addEventListener('DOMContentLoaded', function () {

      let thumbSwiper = {{ product.id }};
      console.log(thumbSwiper);
      const productSwiper = new Swiper(`#product-${thumbSwiper}`, {
        slidesPerView: 5,
        spaceBetween: 10,
        slidesPerGroup: 1,
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          nextEl: '.thumbnail-swiper-next',
          prevEl: '.thumbnail-swiper-prev',
        },
        lazy: {
          loadPrevNext: true,
        },
      });
      /*
      if(productSwiper.slides.length<=5){
        document.querySelector('.thumbnail-swiper-prev').style.display='none';
        document.querySelector('.thumbnail-swiper-next').style.display='none';
    }
    */
    const x = window.matchMedia("(max-width: 600px)")
    const desktop = window.matchMedia("(min-width: 600px)")
    const length = document.querySelectorAll('.product-thumbnails__item').length
    if(x.matches){
      document.querySelector('.product-thumbnails').style.cssText=`grid-template-columns:repeat(${length}, 55px) 5px`;
    }
    if(desktop.matches){
      document.querySelector('.product-thumbnails').style.cssText=`grid-template-columns:repeat(${length}, 100px)`;

    }

    })
  </script>
{% endif %}

<style>
  .product-thumbnails::-webkit-scrollbar {
    display: none;
  }
  @media(max-width:600px){
    /* .product-thumbnails{
      overflow: scroll;
      display: none;
    }
    .product-thumbnails-mobile{
      overflow: hidden;
      margin-top: 16px;
      display: grid;
      grid-template-columns: max-content 1fr max-content;
    }
    .product-thumbnails-container{
      width: 270px;
    }

    .thumbnail-swiper-icon{
      display: flex;
      align-items: center;
    }

    .thumbnail-swiper-prev .icon{
      transform: rotate(180deg);
    }
    .thumbnail-swiper-icon .icon{
      width: 20px;
      height: 20px;
    } */
  }
</style>
