{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
-%}

<div
  class="
    quick-purchase-bar quick-purchase-customize
      {% if template.suffix == "FIR-leggings-S1" or
        template.suffix == "FIR-leggings-S2" or
        template.suffix == "FIR-leggings-S3" or
        template.suffix == "empty"
      %} quick-purchase-customize-scroll
    {% endif %}
  "
  data-quick-purchase-bar
>
  <button
    type="button"
    class="quick-purchase-bar__hide quick-purchase-customize__hide btn"
    aria-label="{{ 'general.accessibility.mobile_filters' | t }}"
    data-mobile-hide
  >
    {% render 'icon' with icon: 'triangle' %}
  </button>

  <div class="quick-purchase-bar__inner quick-purchase-customize-inner">
    <div class="quick-purchase-customize-inner-section">
      {%- if template.suffix == "FIR-leggings-S1" -%}
        <a href="#shopify-section-product--template-fir-leggings-s1" class="smooth-scroll">立即購買</a>
      {% elsif template.suffix == "FIR-leggings-S2" %}
        <a href="#shopify-section-product--template-fir-leggings-s2" class="smooth-scroll">立即購買</a>
      {% elsif template.suffix == "FIR-leggings-S3" %}
        <a href="#shopify-section-product--template-fir-leggings-s3" class="smooth-scroll">立即購買</a>
      {% elsif template.suffix == "empty" %}
        <a href="#shopify-section-product--template-empty" class="smooth-scroll">立即購買</a>
      {%- else -%}
        <a
          class="quick-purchase-bar-customize__purchase-button quick-purchase-bar__purchase-button btn btn--small btn--primary"
          {% unless current_variant.available %}
            aria-disabled="true" disabled
          {% endunless %}
          id="quick-purchase-add-to-cart"
        >
          {%- unless current_variant.available -%}
            {{ 'products.product.sold_out' | t }}
          {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
          {%- endunless -%}
        </a>
        <a
          class="quick-purchase-bar-customize__purchase-button quick-purchase-bar__purchase-button btn btn--small btn--primary"
          {% unless current_variant.available %}
            aria-disabled="true" disabled
          {% endunless %}
          id="quick-to-cart"
        >
          {{ 'products.product.buy_now' | t }}
        </a>
      {%- endif -%}
    </div>
    <div class="quick-purchase-bar__product" style="display:none">
      {%- if featured_media != blank -%}
        {%-
          render 'image' with
          image: featured_media,
          wrapper_class: 'quick-purchase-bar__product-image',
          disable_style: true
        -%}
      {%- endif -%}

      <h4
        class="quick-purchase-bar__product-title ff-heading fs-heading-4-base fs-heading-3-base-ns"
        data-bar-product-title
      >
        {{ product.title }}
      </h4>

      <div class="quick-purchase-bar__product-price fs-body-x-small fs-heading-4-base-l">
        <span data-price>{{ current_variant.price | money }}</span>
        <s data-compare-price>
          {%- if current_variant.compare_at_price > current_variant.price -%}
            {{ current_variant.compare_at_price | money }}
          {%- endif -%}
        </s>
        <span class="fs-body-x-small fs-body-base-l" data-bar-quantity></span>
      </div>
    </div>
    <div class="quick-purchase-bar__purchase" style="display:none">
      {%- if show_share_buttons -%}
        {%- render 'share-icons' with title: product.title, url: product.url, image: product.featured_media -%}
      {%- endif -%}

      <a
        class="quick-purchase-bar__purchase-button btn btn--small btn--primary quick-normal"
        data-quick-purchase-button
      >
        {{ 'products.product.buy_now' | t }}
      </a>
    </div>
  </div>
</div>
<style>
  .quick-purchase-customize{
    display: flex;
    background-color: transparent;
    border-top: 0px;
    top:150px;
    bottom:unset;
  }
  .quick-purchase-customize__hide{
    display:none;
  }
  .quick-purchase-customize-inner{
    display: flex;
    align-items: center;
    margin:0 0 0 auto;
  }
  .quick-purchase-bar-customize__purchase-button{
    width:135px;
  }
  .quick-purchase-customize-scroll{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    justify-content: center;
    word-break: break-all;
    /* padding: 50px; */
    padding: 20px;
    left: unset;
    bottom: 10px;
    right: 20px;
    background-color: white;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 20%);
  }
  @media(min-width: 1200px){
    .quick-purchase-customize-scroll{
      right: 20%;
    }
  }
  @media(min-width: 1300px){
    .quick-purchase-customize-scroll{
      right: 15%;
    }
  }


  @media(max-width:600px) {
    .quick-purchase-customize {
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color:#fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
      bottom:0;
      top:unset;
    }
    .quick-purchase-bar{
      min-height:unset;
            transition:unset;

    }
    .quick-purchase-customize-inner {
      width: inherit;
    }
    .quick-purchase-customize-inner-section {
      display: flex;
      width: inherit;
      justify-content: space-around;
    }
    .quick-purchase-customize-scroll{
      width: 75px;
      height: 75px;
      background: #9a9a9a;
      color: white;
      bottom: 100px;
      font-size: 16px;
    }
  }
</style>
<script>
    window.addEventListener("DOMContentLoaded", function () {
      {% if current_variant.available %}
  //     加入購物車
        document
          .getElementById("quick-purchase-add-to-cart")
          .addEventListener("click", () => {
            document.querySelectorAll("button").forEach(item => {
              if (item.getAttribute("data-add-to-cart") === "") {
  //               LINE
                _lt('send', 'cv', {
    type: 'AddToCart'
  },['e64a7d41-8025-402a-8012-ce7d7350ad72']);
                item.click()
                return;
              }
            })
          })
          document.getElementById("quick-to-cart").addEventListener("click", () => {
  			//               LINE
                _lt('send', 'cv', {
    type: 'InitialCheckout'
  },['e64a7d41-8025-402a-8012-ce7d7350ad72']);
            let list = {{ current_variant | json }};
            let id = document
              .querySelector(".quick-normal")
              .href
              .split("/")[document
                  .querySelector(".quick-normal")
                  .href
                  .split("/")
                  .length - 1]
              .split(":")[0];
            let optionNum = list.options.length

            let productInfo = {}
            productInfo["id"] = id
            for (let i = 1; i <= optionNum; i++) {
              let text = document
                .querySelector(`label[for="Option${i}"]`)
                .textContent
                .trim()
              productInfo[`options[${text}]`] = document.getElementById(`Option${i}`).value
            }
            productInfo["form_type"] = "product"
            quickAddToCart(productInfo)
          }){% endif %}
      })
</script>
