<div class="quick-cart" data-quick-cart>
  <div class="quick-cart__overlay" data-overlay></div>

  <div class="quick-cart__container popover">
    <button type="button" class="quick-cart__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-close-icon>
      {% render 'icon-button' with icon: 'close-stroke' %}
    </button>
    <div class="quick-cart__cart visible" data-cart data-scroll-lock-ignore>
      <div class="quick-cart__header ff-heading fs-heading-2-base fs-heading-2-large-ns">{{ 'quick_cart.cart' | t }}</div>
      <div class="quick-cart__items" data-items></div>
      <div class="quick_cart__empty ff-body fs-body-base" data-empty>{{ 'quick_cart.empty' | t }}</div>
      <div class="quick-cart__footer ff-body fs-body-base ta-c" data-footer>
        <div class="quick-cart__discounts c-subdued" data-discounts></div>
        <div class="quick-cart__total">
          <span>{{ 'quick_cart.subtotal' | t }}</span>
          <span class="fs-body-bold" data-subtotal></span>
        </div>
        <a href="{{ routes.cart_url }}" class="btn btn--secondary btn--medium btn--full visible" id="quick-cart-button">{{ 'quick_cart.go_to_cart' | t }}</a>

        <a href="" class="quick-cart__buy-now btn btn--primary btn--medium btn--full visible" style="{% if settings.quick_cart_show_more_button == false %}display:none{% endif %}" data-buy-now-button>{{ 'quick_cart.checkout' | t }}</a>
        {%comment%}
        <button id="continue_shop" class="quick-cart__buy-now btn btn--primary btn--medium btn--full visible" >繼續購物</button>
      	{% endcomment %}
        {% if settings.quick_cart_mkt_wording != '' %}
          <p style="margin-top:10px">{{settings.quick_cart_mkt_wording}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector("#quick-cart-button").addEventListener("click", () => { 
      //LINE
      _lt("send", "cv", {
        type: "InitialCheckout"
      }, ["e64a7d41-8025-402a-8012-ce7d7350ad72"]);
    })
  })
</script>