{%- liquid
  if forloop
    assign zero_index = forloop.index0
  else
    assign zero_index = index | minus: 1
  endif
-%}

<div
  class="quote__item"
  {{ block.shopify_attributes }}
  data-index="{{ zero_index }}"
  data-slide
>
  {%- unless quote == blank -%}
    <h4 class="quote__item-text ff-heading fs-heading-3-base fs-heading-2-large-ns">
      &ldquo;<span data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: quote_schema_id %}">{{ quote }}</span>&rdquo;
    </h4>
  {%- endunless -%}

  {%- unless author == blank -%}
    <div class="quote__item-author ff-body fs-body-small fs-body-base-ns">
      &mdash;&ensp;<span data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: author_schema_id %}">{{ author }}</span>
    </div>
  {%- endunless -%}

  {%- unless image == blank -%}
    <div class="quote__item-image">
      {%- render 'image' with
        image: image,
        disable_style: true,
      -%}
    </div>
  {%- endunless -%}
</div>
