{%- liquid
  assign opacity_overlay = opacity_overlay
  assign opacity = opacity_overlay | divided_by: 100.0
-%}

<section
  class="video section{% if section_contrast %} section--contrast{% endif %}"
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="video"
  style="
    --color-overlay: {{ color_overlay }};
    --color-overlay-transparent: {{ color_overlay | color_modify: 'alpha', opacity }};
    --text-max-width: {{ text_max_width }}rem;
  "
>
  <div
    class="video__inner section__inner"
    data-video-id="{{ video_url.id }}"
    data-video-type="{{  video_url.type }}"
  >
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: 'section-header--large section-header--center',
    %}

    <div class="video__wrapper">
      {%- if video_url.url != blank -%}
        <div class="video__container" data-video-container>
          <div class="video__player" tabindex="-1" data-video-player></div>
        </div>
      {%- endif -%}

      {%- if image != blank -%}
        {% render 'image' with
          image: image,
          wrapper_class: 'video__image visible',
          disable_style: true
        %}
      {%- endif -%}

      <div class="video__overlay visible" data-overlay>
        <button
          type="button"
          class="video__play"
          data-play-button
          data-video-trigger
          aria-label="{{ 'general.accessibility.play_video' | t }}"
        >
          {% render 'icon' with icon: 'play_arrow' %}
        </button>
      </div>
    </div>
  </div>
</section>