<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="text-columns-with-images"
  class="
    text-columns-with-images
    text-columns-with-images--columns-{{ columns }}
    text-columns-with-images--text-{{ text_alignment }}
    {% if image_shape == 'round' -%}
      text-columns-with-images--image-rounded
    {%- endif %}
    section
    section--small
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: 42rem;"
>
  <div class="section__inner">
    {% if mobile_one_line %}
      <div class="text-column-heap ">
        {%- for block in blocks -%}
          {%-
            render 'text-columns-with-images-item' with
            block_id: block.id,
            columns: columns,
            image: block.settings.image,
            heading: block.settings.heading,
            heading_schema_id: 'heading',
            subheading: block.settings.subheading,
            subheading_schema_id: 'subheading',
            link: block.settings.link,
            link_text: block.settings.link_text
            link_text_schema_id: 'link_text',
            button_size: button_size,
            mobile_one_line: mobile_one_line
          -%}
        {%- endfor -%}
      </div>
    {% else %}
      <div class="text-columns-with-images__grid">
        {%- unless block_id -%}
          <!-- Dynamic -->
        {%- else -%}
          <!-- Static -->
          {%- if column_1_image != blank or column_1_heading != blank or column_1_subheading != blank -%}
            {%-
              render 'text-columns-with-images-item' with
              block_id: block_id,
              columns: columns,
              image: column_1_image,
              heading: column_1_heading,
              heading_schema_id: 'column_1_heading',
              subheading: column_1_subheading,
              subheading_schema_id: 'column_1_subheading',
              link: column_1_link,
              link_text: column_1_link_text,
              link_text_schema_id: 'column_1_link_text',
              button_size: button_size,
            -%}
          {%- endif -%}

          {%- if column_2_image != blank or column_2_heading != blank or column_2_subheading != blank -%}
            {%-
              render 'text-columns-with-images-item' with
              block_id: block_id,
              columns: columns,
              image: column_2_image,
              heading: column_2_heading,
              heading_schema_id: 'column_2_heading',
              subheading: column_2_subheading,
              subheading_schema_id: 'column_2_subheading',
              link: column_2_link,
              link_text: column_2_link_text,
              link_text_schema_id: 'column_2_link_text',
              button_size: button_size,
            -%}
          {%- endif -%}

          {%- if column_3_image != blank or column_3_heading != blank or column_3_subheading != blank -%}
            {%-
              render 'text-columns-with-images-item' with
              block_id: block_id,
              columns: columns,
              image: column_3_image,
              heading: column_3_heading,
              heading_schema_id: 'column_3_heading',
              subheading: column_3_subheading,
              subheading_schema_id: 'column_3_subheading',
              link: column_3_link,
              link_text: column_3_link_text,
              link_text_schema_id: 'column_3_link_text',
            -%}
          {%- endif -%}

          {%- if column_4_image != blank or column_4_heading != blank or column_4_subheading != blank -%}
            {%-
              render 'text-columns-with-images-item' with
              block_id: block_id,
              columns: columns,
              image: column_4_image,
              heading: column_4_heading,
              heading_schema_id: 'column_4_heading',
              subheading: column_4_subheading,
              subheading_schema_id: 'column_4_subheading',
              link: column_4_link,
              link_text: column_4_link_text,
              link_text_schema_id: 'column_4_link_text',
              button_size: button_size,
            -%}
          {%- endif -%}
        {%- endunless -%}
      </div>
    {% endif %}
  </div>
</section>
<style>
  .text-column-heap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
  }
  @media(max-width: 800px){
    .text-column-heap {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 20px;
    }
  }
</style>
