{%- liquid
  assign dot_count = blocks.size

  if block_id
    assign dot_count = 0
  endif

  if quote_1_quote != blank
    assign dot_count = dot_count | plus: 1
  endif

  if quote_2_quote != blank
    assign dot_count = dot_count | plus: 1
  endif

  if quote_3_quote != blank
    assign dot_count = dot_count | plus: 1
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="quote"
  class="
    quote
    {% if image_shape == 'round' -%}
      quote--image-rounded
    {%- endif %}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    <div
      class="quotes"
      data-slider
      data-timer="{{ timer | times: 1000 }}"
    >
      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {%- if block.settings.quote != blank or block.settings.author != blank -%}
            {%- render 'quote-item' with
              block: block,
              block_id: block.id,
              forloop: forloop,
              quote: block.settings.quote,
              quote_schema_id: 'quote',
              image: block.settings.image,
              author: block.settings.author,
              author_schema_id: 'author',
            -%}
          {%- endif -%}
        {%- endfor -%}

      {%- else -%}
        <!-- Static -->
        {%- if quote_1_quote != blank -%}
          {%- render 'quote-item' with
            block_id: block_id,
            index: 1,
            quote: quote_1_quote,
            quote_schema_id: 'quote_1_quote',
            image: quote_1_image,
            author: quote_1_author,
            author_schema_id: 'quote_1_author',
          -%}
        {%- endif -%}

        {%- if quote_2_quote != blank -%}
          {%- render 'quote-item' with
            block_id: block_id,
            index: 2,
            quote: quote_2_quote,
            quote_schema_id: 'quote_2_quote',
            image: quote_2_image,
            author: quote_2_author,
            author_schema_id: 'quote_2_author',
          -%}
        {%- endif -%}

        {%- if quote_3_quote != blank -%}
          {%- render 'quote-item' with
            block_id: block_id,
            index: 3,
            quote: quote_3_quote,
            quote_schema_id: 'quote_3_quote',
            image: quote_3_image,
            author: quote_3_author,
            author_schema_id: 'quote_3_author',
          -%}
        {%- endif -%}

      {%- endunless -%}
    </div>

    {% if dot_count >= 1 %}
      <div class="quote__navigation">
        {%- render 'navigation-dots' with dot_count: dot_count -%}
      </div>
    {% endif %}

  </div>
</section>