<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="newsletter"
  class="
    newsletter
    section
    section--extra-small
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: 42rem;"
>
  <div class="newsletter__inner section__inner">
    <div class="newsletter__text">
      {%- unless heading == blank -%}
        <h2
          class="newsletter__heading ff-heading fs-heading-2-base fs-heading-2-large-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'title' %}"
        >
          {{ heading | newline_to_br }}
        </h2>
      {%- endunless -%}

      {%- unless subheading == blank -%}
        <div
          class="newsletter__subheading rte ff-body fs-body-small fs-body-base-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'subheading' %}"
        >
          {{ subheading }}
        </div>
      {%- endunless -%}
    </div>

    {% render 'newsletter-form' id: 'newsletter-dynamic' %}
  </div>
</section>