{%- liquid
  assign max_products = 7

  case columns
    when 2
      assign desktop_max_width = text_max_width | minus: 10
    when 3
      assign desktop_max_width = text_max_width | minus: 15
    when 4
      assign desktop_max_width = text_max_width | minus: 20
  endcase
-%}

{%- capture text_slide -%}
  <div class="featured-collection-row__slide featured-collection-row__slide--text" data-slide>
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      url: collection.url,
      link_text: link_text,
      classes: 'section-header--large',
    %}
  </div>
{%- endcapture -%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="featured-collection-row"
  class="
    featured-collection-row
    featured-collection-row--columns-{{ columns }}
    featured-collection-row--{{ aspect_ratio }}
    featured-collection-row--text-align-{{ text_alignment }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="
    --text-max-width: {{ text_max_width }}rem;
    --text-max-width-desktop: {{ desktop_max_width }}rem;
  "
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      url: collection.url,
      link_text: link_text,
      classes: 'section-header--large section-header--center',
    %}

    <div class="featured-collection-row__content">
      <div class="featured-collection-row__slider-wrapper">
        <div class="featured-collection-row__slider" data-slider>
          {%- if collection != blank -%}
            {{ text_slide }}
            {%- for product in collection.products limit: max_products -%}
              <div class="featured-collection-row__slide" data-slide>
                {% render 'product-item', product: product, aspect_ratio: aspect_ratio %}
              </div>
            {%- endfor -%}
          {%- else -%}
            {{ text_slide }}
            {%- for i in (1..max_products) -%}
              <div class="featured-collection-row__slide" data-slide>
                {% render 'product-item', product: product, aspect_ratio: aspect_ratio, placeholder: true %}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>

      {% assign count = collection.products.size | plus: 1 %}

      {% render 'carousel-navigation' with columns: columns, item_count: count %}
    </div>
  </div>
</section>