
{%- liquid
  assign header_classes = 'section-header--large'

  if text_alignment == 'center'
    assign header_classes = header_classes | append: ' section-header--center'
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="testimonials"
  class="
    testimonials
    testimonials--columns-{{ columns }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: header_classes
    %}

    <div class="testimonials__grid">
      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {%- render 'testimonials-item' with
            block_id: block.id,
            columns: columns,
            heading: block.settings.heading,
            heading_schema_id: 'heading',
            testimonial: block.settings.testimonial,
            testimonial_schema_id: 'testimonial',
            author: block.settings.author,
            author_schema_id: 'author'
          -%}
        {%- endfor -%}
      {%- else -%}
        <!-- Static -->
        {%- if testimonial_1_heading != blank or testimonial_1_testimonial != blank -%}
          {%- render 'testimonials-item' with
            block_id: block_id,
            columns: columns,
            heading: testimonial_1_heading,
            heading_schema_id: 'testimonial_1_heading',
            testimonial: testimonial_1_testimonial,
            testimonial_schema_id: 'testimonial_1_testimonial',
            author: testimonial_1_author,
            author_schema_id: 'testimonial_1_author'
          -%}
        {%- endif -%}

        {%- if testimonial_2_heading != blank or testimonial_2_testimonial != blank -%}
          {%- render 'testimonials-item' with
            block_id: block_id,
            columns: columns,
            heading: testimonial_2_heading,
            heading_schema_id: 'testimonial_2_heading',
            testimonial: testimonial_2_testimonial,
            testimonial_schema_id: 'testimonial_2_testimonial',
            author: testimonial_2_author,
            author_schema_id: 'testimonial_2_author'
          -%}
        {%- endif -%}

        {%- if testimonial_3_heading != blank or testimonial_3_testimonial != blank -%}
          {%- render 'testimonials-item' with
            block_id: block_id,
            columns: columns,
            heading: testimonial_3_heading,
            heading_schema_id: 'testimonial_3_heading',
            testimonial: testimonial_3_testimonial,
            testimonial_schema_id: 'testimonial_3_testimonial',
            author: testimonial_3_author,
            author_schema_id: 'testimonial_3_author'
          -%}
        {%- endif -%}

        {%- if testimonial_4_heading != blank or testimonial_4_testimonial != blank -%}
          {%- render 'testimonials-item' with
            block_id: block_id,
            columns: columns,
            heading: testimonial_4_heading,
            heading_schema_id: 'testimonial_4_heading',
            testimonial: testimonial_4_testimonial,
            testimonial_schema_id: 'testimonial_4_testimonial',
            author: testimonial_4_author,
            author_schema_id: 'testimonial_4_author'
          -%}
        {%- endif -%}
      {%- endunless -%}
    </div>
  </div>
</section>