{%- liquid
  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif

  case columns
    when 2
      assign article_heading_type = 'fs-heading-2-large-l'
    when 3
      assign article_heading_type = 'fs-heading-2-base-l'
    when 4
      assign article_heading_type = 'fs-heading-3-base-l'
  endcase
-%}

{%- capture placeholder_item -%}
  <div class="blog-posts__item">
    <div class="blog-posts__item-image-wrapper">
      <div class="blog-posts__item-image placeholder-image">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>
    <div class="blog-posts__item-footer ta-c">
      <h4 class="blog-posts__item-heading ff-heading fs-heading-3-base fs-heading-2-base-nl {{ article_heading_type }}">{{ 'homepage.onboarding.blog_title' | t }}</h4>
      {%- if show_date -%}
        <div class="blog-posts__item-date fs-body-base">{{ "now" | time_tag: format: 'date' }}</div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="blog-posts"
  class="
    blog-posts
    blog-posts--columns-{{ columns }}
    blog-posts--{{ aspect_ratio }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: title,
      subheading: subheading,
      classes: 'section-header--large section-header--center',
    %}
    <div class="blog-posts__grid">
      {%- for block in blocks limit: block_limit -%}
        {%- if block.settings.article != blank or block_id -%}
          {% if block_id %}
            {%- assign article = block -%}
          {%- else -%}
            {%- assign article = articles[block.settings.article] -%}
          {% endif %}
          <div class="blog-posts__item">
            {%- if article.image -%}
              <a href="{{ article.url }}" class="blog-posts__item-image-wrapper hover">
                {% render 'image' with
                  image: article.image,
                  wrapper_class: 'blog-posts__item-image',
                  disable_style: image_is_constrained,
                %}
              </a>
            {%- endif -%}

            <div class="blog-posts__item-footer ta-c">
              <h4 class="blog-posts__item-heading ff-heading fs-heading-3-base {{ article_heading_type }}"><a href="{{ article.url }}">{{ article.title }}</a></h4>
              {%- if show_date -%}
                <p class="blog-posts__item-date fs-body-small fs-body-base-ns">{{ article.published_at | time_tag: format: 'date' }}</p>
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          {{ placeholder_item }}
        {%- endif -%}
      {%- else -%}
        {%- for i in (1..columns) -%}
          {{ placeholder_item }}
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
</section>