{%- liquid
  assign max_products = 6

  assign carousel_wraps = false
  assign minimum_items_for_wrap_around = columns | plus: 1
  assign items_needed = minimum_items_for_wrap_around | minus: collection.all_products_count

  if items_needed <= 0 or collection.all_products_count == 0 or collection == blank
    assign carousel_wraps = true
  endif

  assign carousel_item_count = collection.all_products_count

  if collection.all_products_count == 0
    assign carousel_item_count = minimum_items_for_wrap_around
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="featured-collection"
  data-carousel-wraps="{{ carousel_wraps }}"
  class="
    featured-collection
    featured-collection--columns-{{ columns }}
    featured-collection--{{ aspect_ratio }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      url: collection.url,
      link_text: link_text,
      classes: 'section-header--large section-header--center',
    %}

    <div class="featured-collection__content">
      <div class="featured-collection__slider-wrapper">
        <div class="featured-collection__slider" data-slider>
          {%- for product in collection.products limit: max_products -%}
            <div class="featured-collection__slide" data-slide>
              {% render 'product-item', product: product, aspect_ratio: aspect_ratio %}
            </div>
          {%- else -%}
            {%- for i in (1..minimum_items_for_wrap_around) -%}
              <div class="featured-collection__slide" data-slide>
                {% render 'product-item', product: product, aspect_ratio: aspect_ratio, placeholder: true %}
              </div>
            {%- endfor -%}
          {%- endfor -%}
        </div>
      </div>

      {% render 'carousel-navigation' with columns: columns, item_count: carousel_item_count %}
    </div>
  </div>
</section>
