{%- liquid
  assign shadow_amount = overlay_shadow | divided_by: 100.00
  assign shadow_amount_lesser = shadow_amount | minus: 0.04
  assign overlay_opacity_final = overlay_opacity | divided_by: 100.00
  assign enable_text_overlay = true

  if shadow_amount == 0
    assign enable_text_overlay = false
  endif

  assign brightness_button = color_background_button | color_brightness
  if brightness_button > 60
    assign color_background_button_hover = color_background_button | color_darken: 20
    else
    assign color_background_button_hover = color_background_button | color_lighten: 20
  endif

  assign dot_count = blocks.size

  if block_id
    assign dot_count = 0
  endif

  if slide_1_desktop_image != blank or slide_1_mobile_image != blank
    assign dot_count = dot_count | plus: 1
  endif

  if slide_2_desktop_image != blank or slide_2_mobile_image != blank
    assign dot_count = dot_count | plus: 1
  endif
-%}

<section
  class="
    slideshow
    {% if enable_text_overlay %}slideshow--has-shadow{% endif %}
  "
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="slideshow"
  style="
    --color-background-button: {{ color_background_button }};
    --color-background-button-hover: {{ color_background_button_hover }};
    --slide-color-text: {{ color_text }};
    --color-text-button: {{ color_text_button }};
    --color-overlay: {{ color_overlay }};
    --overlay-opacity: {{ overlay_opacity_final }};
    --text-shadow-amount: {{ shadow_amount }};
    --text-shadow-amount-lesser: {{ shadow_amount_lesser }};
    --heading-font-size: {{ heading_text_size }}px;
    --desktop-height: {{ desktop_height }}vh;
    --mobile-height: {{ mobile_height }}vh;
  "
>

  <div
    class="slideshow__slides is-hidden"
    data-slider
    data-autoplay="{{ duration_autoplay | times: 1000 }}"
  >
    {%- unless block_id -%}
      <!-- Dynamic -->
      {%- for block in blocks -%}

        {%- render 'slideshow-item' with
          block: block,
          forloop: forloop,
          block_id: block.id,

          desktop_image: block.settings.desktop_image,
          mobile_image: block.settings.mobile_image,
          alignment: block.settings.alignment,
          aspect_ratio: aspect_ratio,

          heading: block.settings.title,
          heading_schema_id: 'title',
          subheading: block.settings.subheading,
          subheading_schema_id: 'subheading',
          link: block.settings.link,
          link_text: block.settings.link_text,
          link_text_schema_id: 'link_text',

          max_width_subheading: block.settings.max_width_subheading,
          heading_text_size: block.settings.heading_text_size,
        -%}

      {%- endfor -%}

    {%- else -%}
      <!-- Static -->
      {%- render 'slideshow-item' with
        block_id: block_id,
        desktop_image: slide_1_desktop_image,
        mobile_image: slide_1_mobile_image,
        alignment: slide_1_alignment,
        aspect_ratio: aspect_ratio,

        heading: slide_1_heading,
        heading_schema_id: 'slide_1_heading',
        subheading: slide_1_subheading,
        subheading_schema_id: 'slide_1_subheading',
        link: slide_1_link,
        link_text: slide_1_link_text,
        link_text_schema_id: 'slide_1_link_text',

        max_width_subheading: slide_1_max_width_subheading,
        heading_text_size: slide_1_heading_text_size,
      -%}

      {%- if slide_2_desktop_image != blank or slide_2_mobile_image != blank -%}
        {%- render 'slideshow-item' with
          block_id: block_id,
          desktop_image: slide_2_desktop_image,
          mobile_image: slide_2_mobile_image,
          alignment: slide_2_alignment,
          aspect_ratio: aspect_ratio,

          heading: slide_2_heading,
          heading_schema_id: 'slide_2_heading',
          subheading: slide_2_subheading,
          subheading_schema_id: 'slide_2_subheading',
          link: slide_2_link,
          link_text: slide_2_link_text,
          link_text_schema_id: 'slide_2_link_text',

          max_width_subheading: slide_2_max_width_subheading,
          heading_text_size: slide_2_heading_text_size,
        -%}
      {%- endif -%}

    {%- endunless -%}
  </div>

  {%- render 'navigation-dots' with dot_count: dot_count -%}
</section>
