{%- liquid
  assign image_modifier = 'single-image'

  if image_1 and image_2
    assign image_modifier = 'double-image'
  endif

  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif
-%}

<section
  class="
    image-with-text
    image-with-text--image-{{ image_position }}
    image-with-text--align-{{ text_alignment }}
    image-with-text--{{ image_modifier }}
    image-with-text--{{ aspect_ratio }}
    image-with-text--image-{{ image_width }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="image-with-text"
>
  <div class="image-with-text__inner section__inner">
    <div class="image-with-text__image-container">
      {%- if image_1 or image_2 -%}
        {%- if image_1 -%}
          <div class="image-with-text__image-container-inner image-with-text__image--primary">
            <div class="image-with-text__image-wrapper">
              {% render 'image' with
                image: image_1,
                wrapper_class: 'image-with-text__image',
                disable_style: image_is_constrained,
              %}
            </div>
          </div>
        {%- endif -%}

        {%- if image_2 -%}
          <div class="image-with-text__image-container-inner image-with-text__image--secondary">
            <div class="image-with-text__image-wrapper">
              {% render 'image' with
                image: image_2,
                wrapper_class: 'image-with-text__image',
                disable_style: image_is_constrained,
              %}
            </div>
          </div>
        {%- endif -%}
      {%- else -%}
        <div class="image-with-text__image-container-inner">
          <div class="image-with-text__image-wrapper">
            <div class="image-with-text__image placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="image-with-text__text-container">
      {%- unless title == blank -%}
        <h2
          class="image-with-text__heading ff-heading fs-heading-2-base fs-heading-1-base-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'title' %}"
        >
          {{ title | newline_to_br }}
        </h2>
      {%- endunless -%}

      {%- unless subheading == blank -%}
        <div
          class="image-with-text__subheading rte ff-body fs-body-base fs-body-large-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'subheading' %}"
        >
          {{ subheading }}
        </div>
      {%- endunless -%}

      {%- if link != blank and link_text != blank -%}
        <a
          class="image-with-text__button fs-body-base btn btn--primary btn--medium"
          href="{{ link }}"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'link_text' %}"
        >
          {{ link_text }}
        </a>
      {%- endif -%}
    </div>
  </div>
</section>