<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="faq"
  class="faq section{% if section_contrast %} section--contrast{% endif %}"
  style="
    --s-icon-darker: {{ settings.color_border | color_darken: 10 }};
    --s-icon-darker-contrast: {{  settings.color_border_contrast | color_darken: 10 }};
  "
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: 'section-header--large section-header--spacing-small',
    %}

    <div class="faq__accordion" aria-label="{{ 'general.accessibility.accordion_groups' | t }}">
      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {%- render 'faq-item' with
            forloop: forloop,
            block: block,
            block_id: block.id,
            question: block.settings.title,
            question_schema_id: 'title',
            answer: block.settings.answer,
            answer_schema_id: 'answer',
            author: block.settings.author,
            author_schema_id: 'author',
          -%}
        {%- endfor -%}

      {%- else -%}
        <!-- Static -->
        {%- if question_1_question != blank or question_1_answer != blank -%}
          {%- render 'faq-item' with
            index: 1,
            block_id: block_id,
            question: question_1_question,
            question_schema_id: 'question_1_question',
            answer: question_1_answer,
            answer_schema_id: 'question_1_answer',
            author: question_1_author,
            author_schema_id: 'question_1_author',
          -%}
        {%- endif -%}

        {%- if question_2_question != blank or question_2_answer != blank -%}
          {%- render 'faq-item' with
            index: 2,
            block_id: block_id,
            question: question_2_question,
            question_schema_id: 'question_2_question',
            answer: question_2_answer,
            answer_schema_id: 'question_2_answer',
            author: question_2_author,
            author_schema_id: 'question_2_author',
          -%}
        {%- endif -%}

        {%- if question_3_question != blank or question_3_answer != blank -%}
          {%- render 'faq-item' with
            index: 3,
            block_id: block_id,
            question: question_3_question,
            question_schema_id: 'question_3_question',
            answer: question_3_answer,
            answer_schema_id: 'question_3_answer',
            author: question_3_author,
            author_schema_id: 'question_3_author',
          -%}
        {%- endif -%}

        {%- if question_4_question != blank or question_4_answer != blank -%}
          {%- render 'faq-item' with
            index: 4,
            block_id: block_id,
            question: question_4_question,
            question_schema_id: 'question_4_question',
            answer: question_4_answer,
            answer_schema_id: 'question_4_answer',
            author: question_4_author,
            author_schema_id: 'question_4_author',
          -%}
        {%- endif -%}

        {%- if question_5_question != blank or question_5_answer != blank -%}
          {%- render 'faq-item' with
            index: 5,
            block_id: block_id,
            question: question_5_question,
            question_schema_id: 'question_5_question',
            answer: question_5_answer,
            answer_schema_id: 'question_5_answer',
            author: question_5_author,
            author_schema_id: 'question_5_author',
          -%}
        {%- endif -%}

        {%- if question_6_question != blank or question_6_answer != blank -%}
          {%- render 'faq-item' with
            index: 6,
            block_id: block_id,
            question: question_6_question,
            question_schema_id: 'question_6_question',
            answer: question_6_answer,
            answer_schema_id: 'question_6_answer',
            author: question_6_author,
            author_schema_id: 'question_6_author',
          -%}
        {%- endif -%}

        {%- if question_7_question != blank or question_7_answer != blank -%}
          {%- render 'faq-item' with
            index: 7,
            block_id: block_id,
            question: question_7_question,
            question_schema_id: 'question_7_question',
            answer: question_7_answer,
            answer_schema_id: 'question_7_answer',
            author: question_7_author,
            author_schema_id: 'question_7_author',
          -%}
        {%- endif -%}

        {%- if question_8_question != blank or question_8_answer != blank -%}
          {%- render 'faq-item' with
            index: 8,
            block_id: block_id,
            question: question_8_question,
            question_schema_id: 'question_8_question',
            answer: question_8_answer,
            answer_schema_id: 'question_8_answer',
            author: question_8_author,
            author_schema_id: 'question_8_author',
          -%}
        {%- endif -%}

      {%- endunless -%}
    </div>
  </div>
</section>