{%- liquid
  assign section_spacing = 28
  assign section_spacing_large = 40

  if gutter_spacing >= section_spacing
    assign section_spacing = gutter_spacing
  endif

  if gutter_spacing >= section_spacing_large
    assign section_spacing_large = gutter_spacing
  endif
-%}

<section
  class="
    logo-list
    logo-list--columns-{{ columns }}
    section
    section--extra-small
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="logo-list"
  style="
  --gutter-spacing: {{ gutter_spacing }}px;
  --section-spacing: {{ section_spacing }}px;
  --section-spacing-large: {{ section_spacing_large }}px;
  "
>
  <div class="section__inner">
    <div class="logo-list__content">
      {%- unless heading == blank -%}
        <h2
          class="logo-list__heading ff-heading"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'title' %}"
        >
          {{ heading }}
        </h2>
      {%- endunless -%}

      <div class="logo-list__list">
        {%- unless block_id -%}
          <!-- Dynamic -->
          {%- for block in blocks -%}
            {% render 'logo-list-item' with
              image: block.settings.image,
              link: block.settings.link,
            %}
          {%- endfor -%}
        {%- else -%}
          <!-- Static  -->
          {%- if logo_1_image == blank and logo_2_image == blank and logo_3_image == blank and logo_4_image == blank and logo_5_image == blank and logo_6_image == blank -%}
            {%- for i in (1..columns) -%}
              {% render 'logo-list-item' %}
            {%- endfor -%}
          {%- endif -%}
          {%- if logo_1_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_1_image,
              link: logo_1_link,
            %}
          {%- endif -%}

          {%- if logo_2_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_2_image,
              link: logo_2_link,
            %}
          {%- endif -%}

          {%- if logo_3_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_3_image,
              link: logo_3_link,
            %}
          {%- endif -%}

          {%- if logo_4_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_4_image,
              link: logo_4_link,
            %}
          {%- endif -%}

          {%- if logo_5_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_5_image,
              link: logo_5_link,
            %}
          {%- endif -%}

          {%- if logo_6_image != blank  -%}
            {% render 'logo-list-item' with
              image: logo_6_image,
              link: logo_6_link,
            %}
          {%- endif -%}
        {%- endunless -%}
      </div>
    </div>
  </div>
</section>