{%- liquid
  assign shadow_amount = overlay_shadow | divided_by: 100.00
  assign shadow_amount_lesser = shadow_amount | minus: 0.04
  assign overlay_opacity = overlay_opacity | divided_by: 100.00
  assign align = alignment | split: "_"
  assign enable_text_overlay = true

  if shadow_amount == 0
    assign enable_text_overlay = false
  endif

  assign brightness_button = color_background_button | color_brightness
  if brightness_button > 60
    assign color_background_button_hover = color_background_button | color_darken: 20
    else
    assign color_background_button_hover = color_background_button | color_lighten: 20
  endif

  assign has_content = false
  if heading != blank or subheading != blank or link != blank or link_text != blank
    assign has_content = true
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="video-hero"
  class="
    video-hero
    video-hero--{{ aspect_ratio }}
    {% if enable_text_overlay %}video-hero--has-shadow{% endif %}
  "
  style="
    --color-background-button: {{ color_background_button }};
    --color-background-button-hover: {{ color_background_button_hover }};
    --color-text: {{ color_text }};
    --color-text-button: {{ color_text_button }};
    --color-overlay: {{ color_overlay }};
    --overlay-opacity: {{ overlay_opacity }};
    --text-shadow-amount: {{ shadow_amount }};
    --text-shadow-amount-lesser: {{ shadow_amount_lesser }};
    --content-max-width: {{ max_width_subheading }}rem;
    --heading-font-size: {{ heading_text_size }}px;
    --desktop-height: {{ desktop_height }}vh;
    --mobile-height: {{ mobile_height }}vh;
  "
>
  <div class="video-hero__video-wrapper">
    {%- if video_url != blank -%}
      {%- if image != blank -%}
        {% render 'image' with image: image, disable_style: true, wrapper_class: 'video-hero__image' %}
      {%- endif -%}

      <video class="video-hero__video" autoplay playsinline loop muted src="{{ video_url }}"></video>
      {% render 'video-pause' %}
    {%- else -%}
      {%- if image != blank -%}
        {% render 'image' with image: image, disable_style: true, wrapper_class: 'video-hero__image' %}
      {%- else -%}
        <div class="placeholder-image">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
    {%- endif -%}

    <div class="video-hero__overlay"></div>

    <div class="video-hero__content-wrapper">
      <div
        class="
          video-hero__content
          video-hero__content--h-{{ align[0] }}
          video-hero__content--v-{{ align[1] }}
          {% if has_content != true %}video-hero__content--no-content{% endif %}
        "
      >
        {%- if link != blank and link_text == blank -%}
          <a href="{{ link }}" class="video-hero__content-inner">
        {%- else -%}
          <div class="video-hero__content-inner">
        {%- endif -%}

          {%- if heading != blank -%}
            <h4
              class="video-hero__heading ff-heading animate"
              data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'title' %}"
            >
              {{ heading | newline_to_br }}
            </h4>
          {%- endif -%}

          {%- if subheading != blank -%}
            <div
              class="video-hero__subheading ff-body fs-body-large animate"
              data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'subheading' %}"
            >
              {{ subheading }}
            </div>
          {%- endif -%}

          {%- if link != blank and link_text != blank -%}
            <div class="video-hero__button animate">
              <a
                class="btn btn--primary btn--large"
                href="{{ link }}"
                data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'link_text' %}"
              >
                {{ link_text }}
              </a>
            </div>
          {%- endif -%}
        {%- if link != blank and link_text == blank -%}
          </a>
        {%- else -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>