{%- liquid
  case columns
    when 2
      assign column_heading_type = 'fs-heading-2-large-l'
    when 3
      assign column_heading_type = 'fs-heading-2-base-l'
    when 4
      assign column_heading_type = 'fs-heading-3-base-l'
  endcase
-%}

<section
  class="
    inline-features
    inline-features--columns-{{ columns }}
    inline-features--text-{{ text_alignment }}
    {% if image_shape == 'round' -%}
      inline-features--image-rounded
    {%- endif %}
    section
    section--extra-small
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="inline-features"
>
  <div class="section__inner">
    <div class="inline-features__grid">
      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {% render 'inline-feature-item' with
            block_id: block.id,
            show_image: block.settings.show_image,
            image: block.settings.image,
            heading: block.settings.heading,
            heading_schema_id: 'heading',
            subheading: block.settings.subheading,
            subheading_schema_id: 'subheading',
            column_heading_type: column_heading_type,
          %}
        {%- endfor -%}

      {%- else -%}
        <!-- Static -->
        {%- if feature_1_image != blank or feature_1_heading != blank or feature_1_subheading != blank -%}
          {% render 'inline-feature-item' with
            block_id: block_id,
            show_image: feature_1_show_image,
            image: feature_1_image,
            heading: feature_1_heading,
            heading_schema_id: 'feature_1_heading',
            subheading: feature_1_subheading,
            subheading_schema_id: 'feature_1_subheading',
            column_heading_type: column_heading_type,
          %}
        {%- endif -%}

        {%- if feature_2_image != blank or feature_2_heading != blank or feature_2_subheading != blank -%}
          {% render 'inline-feature-item' with
            block_id: block_id,
            show_image: feature_2_show_image,
            image: feature_2_image,
            heading: feature_2_heading,
            heading_schema_id: 'feature_2_heading',
            subheading: feature_2_subheading,
            subheading_schema_id: 'feature_2_subheading',
            column_heading_type: column_heading_type,
          %}
        {%- endif -%}

        {%- if feature_3_image != blank or feature_3_heading != blank or feature_3_subheading != blank -%}
          {% render 'inline-feature-item' with
            block_id: block_id,
            show_image: feature_3_show_image,
            image: feature_3_image,
            heading: feature_3_heading,
            heading_schema_id: 'feature_3_heading',
            subheading: feature_3_subheading,
            subheading_schema_id: 'feature_3_subheading',
            column_heading_type: column_heading_type,
          %}
        {%- endif -%}

        {%- if feature_4_image != blank or feature_4_heading != blank or feature_4_subheading != blank -%}
          {% render 'inline-feature-item' with
            block_id: block_id,
            show_image: feature_4_show_image,
            image: feature_4_image,
            heading: feature_4_heading,
            heading_schema_id: 'feature_4_heading',
            subheading: feature_4_subheading,
            subheading_schema_id: 'feature_4_subheading',
            column_heading_type: column_heading_type,
          %}
        {%- endif -%}
      {%- endunless -%}
    </div>
  </div>
</section>