{%- liquid
  if columns != blank
    assign column_count = columns
    assign total_items = blocks.size

  else
    assign column_count = 0

    if item_1_image != blank
      assign column_count = column_count | plus: 1
    endif

    if item_2_image != blank
      assign column_count = column_count | plus: 1
    endif

    if item_3_image != blank
      assign column_count = column_count | plus: 1
    endif

    if item_4_image != blank
      assign column_count = column_count | plus: 1
    endif

    if item_5_image != blank
      assign column_count = column_count | plus: 1
    endif

    assign total_items = column_count

    if column_count == 0
      assign column_count = 3
      assign total_items = 3
    elsif column_count == 1
      assign column_count = 2
    elsif column_count >= 5
      assign column_count = 4
    endif
  endif

  assign carousel_wraps = false
  assign minimum_items_for_wrap_around = column_count | plus: 1
  assign items_needed = minimum_items_for_wrap_around | minus: total_items

  if items_needed <= 0 or total_items == 0
    assign carousel_wraps = true
  endif

  assign carousel_item_count = total_items

  if total_items == 0 and columns != blank
    assign carousel_item_count = minimum_items_for_wrap_around
  endif
-%}

{%- capture placeholder_item -%}
  <div class="social-proof__slide" data-slide>
    <div class="social-proof__image-wrapper">
      <div class="social-proof__image placeholder-image">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>
  </div>
{%- endcapture -%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="social-proof"
  class="
    social-proof
    social-proof--columns-{{ column_count }}
    social-proof--{{ aspect_ratio }}
    section
    {% if section_contrast -%}
    section--contrast
    {%- endif %}
  "
  style="
    --text-max-width: {{ text_max_width }}rem;
    --color-like: {{ like_color }};
  "
  data-carousel-wraps="{{ carousel_wraps }}"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: 'section-header--large section-header--center',
    %}

    <div class="social-proof__content">
      <div class="social-proof__slider-wrapper">
        <div class="social-proof__slider" data-slider>
          {%- unless block_id -%}
            <!-- Dynamic -->
            {%- for block in section.blocks -%}
              {%- render 'social-proof-item' with
                block_id: block.id,
                forloop: forloop,
                block: block,
                link: block.settings.link,
                image: block.settings.image,
                aspect_ratio: aspect_ratio,
                likes: block.settings.likes,
                likes_schema_id: 'likes',
                account: block.settings.account,
                account_schema_id: 'account',
                caption: block.settings.caption,
                caption_schema_id: 'caption',
              -%}
            {%- else -%}
              {% for i in (1..minimum_items_for_wrap_around) %}
                {{ placeholder_item }}
              {% endfor %}
            {%- endfor -%}
          {%- else -%}
            <!-- Static -->

            {%- if item_1_image == blank and item_2_image == blank and item_3_image == blank and item_4_image == blank and item_5_image == blank -%}
              {% for i in (1..column_count) %}
                <div class="social-proof__slide" data-slide>
                  <div class="social-proof__image-wrapper">
                    <div class="social-proof__image placeholder-image">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {%- else -%}

              {%- unless item_1_image == blank -%}
                {%- render 'social-proof-item' with
                  block_id: block_id,
                  link: item_1_link,
                  image: item_1_image,
                  aspect_ratio: aspect_ratio,
                  likes: item_1_likes,
                  likes_schema_id: 'item_1_likes',
                  account: item_1_account,
                  account_schema_id: 'item_1_account',
                  caption: item_1_caption,
                  caption_schema_id: 'item_1_caption',
                  placeholder: needs_placeholder,
                -%}
              {%- endunless -%}

              {%- unless item_2_image == blank -%}
                {%- render 'social-proof-item' with
                  block_id: block_id,
                  link: item_2_link,
                  image: item_2_image,
                  aspect_ratio: aspect_ratio,
                  likes: item_2_likes,
                  likes_schema_id: 'item_2_likes',
                  account: item_2_account,
                  account_schema_id: 'item_2_account',
                  caption: item_2_caption,
                  caption_schema_id: 'item_2_caption',
                  placeholder: needs_placeholder,
                -%}
              {%- endunless -%}

              {%- unless item_3_image == blank -%}
                {%- render 'social-proof-item' with
                  block_id: block_id,
                  link: item_3_link,
                  image: item_3_image,
                  aspect_ratio: aspect_ratio,
                  likes: item_3_likes,
                  likes_schema_id: 'item_3_likes',
                  account: item_3_account,
                  account_schema_id: 'item_3_account',
                  caption: item_3_caption,
                  caption_schema_id: 'item_3_caption',
                  placeholder: needs_placeholder,
                -%}
              {%- endunless -%}

              {%- unless item_4_image == blank -%}
                {%- render 'social-proof-item' with
                  block_id: block_id,
                  link: item_4_link,
                  image: item_4_image,
                  aspect_ratio: aspect_ratio,
                  likes: item_4_likes,
                  likes_schema_id: 'item_4_likes',
                  account: item_4_account,
                  account_schema_id: 'item_4_account',
                  caption: item_4_caption,
                  caption_schema_id: 'item_4_caption',
                  placeholder: needs_placeholder,
                -%}
              {%- endunless -%}

              {%- unless item_5_image == blank -%}
                {%- render 'social-proof-item' with
                  block_id: block_id,
                  link: item_5_link,
                  image: item_5_image,
                  aspect_ratio: aspect_ratio,
                  likes: item_5_likes,
                  likes_schema_id: 'item_5_likes',
                  account: item_5_account,
                  account_schema_id: 'item_5_account',
                  caption: item_5_caption,
                  caption_schema_id: 'item_5_caption',
                  placeholder: needs_placeholder,
                -%}
              {%- endunless -%}
            {%- endif -%}
          {%- endunless -%}
        </div>
      </div>

      {% render 'carousel-navigation' with columns: column_count, item_count: carousel_item_count %}
    </div>
  </div>
</section>