<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="rich-text"
  class="rich-text section{% if section_contrast %} section--contrast{% endif %}"
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: 'section-header--large section-header--extra-space section-header--center',
    %}

    {%- if link and link_text -%}
      <div class="rich-text__button-wrapper">
        <a
          href="{{ link }}"
          class="rich-text__button fs-body-base btn btn--primary btn--medium"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'link_text' %}"
        >
          {{ link_text }}
        </a>
      </div>
    {%- endif -%}
  </div>
</section>