{%- liquid
  if columns != blank
    assign column_count = columns

  else
    assign column_count = 0

    for i in (1 .. 6)
      assign collection_handle = 'collection_' | append: i
      assign collection_subheading = 'collection_' | append: i | append: '_subheading'

      if block.settings[collection_handle] != blank or block.settings[collection_subheading] != blank
        assign column_count = column_count | plus: 1
      endif
    endfor

    if column_count <= 1
      assign column_count = 2
    endif
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="collection-list"
  class="
    collection-list
    collection-list--columns-{{ column_count }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
  style="--text-max-width: {{ text_max_width }}rem;"
>
  <div class="section__inner">
    {% render 'section-header',
      block_id: block_id,
      heading: heading,
      subheading: subheading,
      classes: 'section-header--large section-header--center',
    %}

    <div class="collection-list__grid">
      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {%- assign featured_collection = collections[block.settings.collection] -%}
          {%- if featured_collection != empty -%}
            {% render 'collection-item' with
              block_id: block.id,
              collection: featured_collection,
              subheading: block.settings.subheading,
              subheading_schema_name: 'subheading',
              aspect_ratio: aspect_ratio,
              text_max_width: block.settings.text_max_width,
            %}
          {%- else -%}
            {% render 'collection-item' with collection: empty, aspect_ratio: aspect_ratio %}
          {%- endif -%}
        {%- else -%}
          {%- for i in (1..columns) -%}
            {% render 'collection-item' with collection: empty, aspect_ratio: aspect_ratio %}
          {%- endfor -%}
        {%- endfor -%}

      {%- else -%}
        <!-- Static -->
        {%- if collection_1 != blank or collection_1_subheading != blank -%}
          {%- assign featured_collection_1 = collections[collection_1] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_1,
            subheading: collection_1_subheading,
            subheading_schema_name: 'collection_1_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
        {%- if collection_2 != blank or collection_2_subheading != blank -%}
          {%- assign featured_collection_2 = collections[collection_2] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_2,
            subheading: collection_2_subheading,
            subheading_schema_name: 'collection_2_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
        {%- if collection_3 != blank or collection_3_subheading != blank -%}
          {%- assign featured_collection_3 = collections[collection_3] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_3,
            subheading: collection_3_subheading,
            subheading_schema_name: 'collection_3_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
        {%- if collection_4 != blank or collection_4_subheading != blank -%}
          {%- assign featured_collection_4 = collections[collection_4] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_4,
            subheading: collection_4_subheading,
            subheading_schema_name: 'collection_4_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
        {%- if collection_5 != blank or collection_5_subheading != blank -%}
          {%- assign featured_collection_5 = collections[collection_5] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_5,
            subheading: collection_5_subheading,
            subheading_schema_name: 'collection_5_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
        {%- if collection_6 != blank or collection_6_subheading != blank -%}
          {%- assign featured_collection_6 = collections[collection_6] -%}
          {% render 'collection-item' with
            block_id: block_id,
            collection: featured_collection_6,
            subheading: collection_6_subheading,
            subheading_schema_name: 'collection_6_subheading',
            aspect_ratio: aspect_ratio,
            text_max_width: 26,
          %}
        {%- endif -%}
      {%- endunless -%}
    </div>
  </div>
</section>