{%- liquid
  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif
-%}

<section
  data-section-id="{% render 'section-id' with block_id: block_id %}"
  data-section-type="image-with-feature"
  class="
    image-with-feature
    image-with-feature--text-{{ text_position }}
    image-with-feature--align-{{ text_alignment }}
    image-with-feature--{{ aspect_ratio }}
    image-with-feature--image-{{ image_width }}
    section
    {% if section_contrast -%}
      section--contrast
    {%- endif %}
  "
>
  <div class="image-with-feature__inner section__inner">
    <div class="image-with-feature__image-container">
      {%- if image -%}
        <div class="image-with-feature__image-wrapper">
          {% render 'image' with
            image: image,
            wrapper_class: 'image-with-feature__image',
            disable_style: image_is_constrained,
          %}
        </div>
      {%- else -%}
        <div class="image-with-feature__image-wrapper">
          <div class="image-with-feature__image placeholder-image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="image-with-feature__text-container">
      {%- unless title == blank -%}
        <h2
          class="image-with-feature__heading ff-heading fs-heading-2-base fs-heading-1-base-ns"
          data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: 'title' %}"
        >
          {{ title | newline_to_br }}
        </h2>
      {%- endunless -%}

      {%- unless block_id -%}
        <!-- Dynamic -->
        {%- for block in blocks -%}
          {% render 'image-with-feature-item' with
            block_id: block.id
            image: block.settings.image,
            image_shape: block.settings.image_shape,
            text_max_width: block.settings.text_max_width,
            heading: block.settings.heading,
            heading_schema_id: 'heading',
            subheading: block.settings.subheading,
            subheading_schema_id: 'subheading',
          %}
        {%- endfor -%}

      {%- else -%}
        <!-- Static -->
        {%- if feature_1_heading != blank or feature_1_subheading != blank -%}
          {% render 'image-with-feature-item' with
            block_id: block_id,
            image: feature_1_image,
            image_shape: image_shape,
            text_max_width: feature_1_text_max_width,
            heading: feature_1_heading,
            heading_schema_id: 'feature_1_heading',
            subheading: feature_1_subheading,
            subheading_schema_id: 'feature_1_subheading',
          %}
        {%- endif -%}

        {%- if feature_2_heading != blank or feature_2_subheading != blank -%}
          {% render 'image-with-feature-item' with
            block_id: block_id,
            image: feature_2_image,
            image_shape: image_shape,
            text_max_width: feature_2_text_max_width,
            heading: feature_2_heading,
            heading_schema_id: 'feature_2_heading',
            subheading: feature_2_subheading,
            subheading_schema_id: 'feature_2_subheading',
          %}
        {%- endif -%}
      {%- endunless -%}
    </div>
  </div>
</section>