<div class="share-icons" data-share="{{ 'product.share' | t }}">
  {%- comment -%}
    <a
    aria-label="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
    href="//pinterest.com/pin/create/button/?url={{ shop.url | append: url }}&amp;media={{ image | img_url: '1024x1024' }}&amp;description={{ title | url_param_escape }}"
  >
    {% render 'icon' with icon: 'pinterest' %}
  </a>
  <a
    aria-label="{{ 'general.social.alt_text.share_on_twitter' | t }}"
    href="//twitter.com/share?text={{ title | url_param_escape }}&amp;url={{ shop.url | append: url }}"
  >
    {% render 'icon' with icon: 'twitter' %}
  </a>


  <a
    aria-label="{{ 'general.social.alt_text.share_on_facebook' | t }}"
    href="//www.facebook.com/sharer.php?u={{ shop.url | append: url }}"
  >
    {% render 'icon' with icon: 'facebook' %}
  </a>
  {%- endcomment -%}
</div>
