{%- liquid
  assign desktop_image = desktop_image
  assign mobile_image = mobile_image
  assign align = alignment | split: "_"

  assign has_content = false
  if heading != blank or subheading != blank or link != blank or link_text != blank
    assign has_content = true
  endif
-%}

<div
  class="
    slideshow__cell
    {% if mobile_image != blank %}slideshow__cell--has-mobile-image{% endif %}
  "
  data-slide
  data-index="{{ forloop.index0 }}"
  {{ block.shopify_attributes }}
>
  <div class="slideshow__asset slideshow__asset--{{ aspect_ratio }}">
    {%- if desktop_image != blank -%}
      {% render 'image' with
        image: desktop_image,
        wrapper_class: 'slideshow__image-wrapper slideshow__image--desktop',
        disable_style: true
      %}
    {%- endif -%}

    {%- if mobile_image != blank -%}
      {% render 'image' with
        image: mobile_image,
        wrapper_class: 'slideshow__image-wrapper slideshow__image--mobile',
        disable_style: true
      %}
    {%- endif -%}

    {%- if desktop_image == blank -%}
      {% capture current %}{% cycle 1, 2 %}{% endcapture %}

      <div class="placeholder-image">
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
    <div class="slideshow__overlay"></div>
  </div>

  <div class="slideshow__content-wrapper">
    <div
      class="
        slideshow__content
        slideshow__content--h-{{ align[0] }}
        slideshow__content--v-{{ align[1] }}
        {% if has_content != true %}slideshow__content--no-content{% endif %}
      "
      style="--max-width-content: {{ max_width_subheading }}rem;"
    >
      {%- if link != blank and link_text == blank -%}
        <a href="{{ link }}" class="slideshow__content-inner">
      {%- else -%}
        <div class="slideshow__content-inner">
      {%- endif -%}

        {%- if heading != blank -%}
          <h4
            class="slideshow__heading ff-heading animate"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: heading_schema_id %}"
          >
            {{ heading | newline_to_br }}
          </h4>
        {%- endif -%}

        {%- if subheading != blank -%}
          <div
            class="slideshow__subheading rte ff-body fs-body-large animate"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: subheading_schema_id %}"
          >
            {{ subheading }}
          </div>
        {%- endif -%}

        {%- if link != blank and link_text != blank -%}
          <div class="slideshow__button animate">
            <a
              class="btn btn--primary btn--large"
              href="{{ link }}"
              data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: link_text_schema_id %}"
            >
              {{ link_text }}
            </a>
          </div>
        {%- endif -%}

      {%- if link != blank and link_text == blank -%}
        </a>
      {%- else -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>