{%- liquid
  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif
-%}

<div
  class="social-proof__slide"
  data-slide
  data-index="{{ forloop.index0 }}"
  {{ block.shopify_attributes }}
>
  {%- if link != blank -%}
    <a
      href="{{ link }}"
      class="social-proof__image-wrapper hover"
      aria-label="{{ caption | default: image.alt }}"
    >
  {%- else -%}
    <div class="social-proof__image-wrapper">
  {%- endif -%}

  {%- if image != blank -%}
    {% render 'image' with
      image: image,
      wrapper_class: 'social-proof__image',
      disable_style: image_is_constrained
    %}
  {%- else -%}
    <div class="social-proof__image placeholder-image">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}

  {%- if link != blank -%}
    </a>
  {%- else -%}
    </div>
  {%- endif -%}

  {% if likes != blank or account != blank or caption != blank %}
    <div class="social-proof__item-footer">
      {% unless likes == blank %}
        <div class="social-proof__item-likes fs-body-small fs-body-base-ns">
          {% render 'icon' with icon: 'heart' %}
          <span><span data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: likes_schema_id %}">{{ likes }}</span>&nbsp;{{ 'sections.social_proof.likes' | t }}</span>
        </div>
      {% endunless %}

      {% if account != blank or caption != blank %}
        <div class="social-proof__content fs-body-base">
          {%- unless account == blank -%}
            <span
              class="social-proof__item-account fs-body-bold"
              data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: account_schema_id %}"
            >
              {{ account }}
            </span>
          {%- endunless -%}

          {%- unless caption == blank -%}
            <span data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: caption_schema_id %}">{{ caption }}</span>
          {%- endunless -%}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>