{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Line, Snapchat, Tumblr, YouTube, Vimeo, LinkedIn' | split: ', ' -%}
<ul class="social-icons">
  {%- for social in social_accounts -%}
    {%- assign social_handle = social | handleize -%}
    {%- capture social_link -%}social_{{ social_handle }}_link{%- endcapture -%}

    {%- if settings[social_link] != blank -%}
      <li>
        <a href="{{ settings[social_link] }}" id="icon-{{social_handle}}" title="{{ 'sections.footer.social_platform' | t: name: shop.name, platform: social }}" target="_blank">
          {% render 'icon' with icon: social_handle %}
        </a>
      </li>
    {%- endif -%}

  {%- endfor -%}
</ul>

