<section
  class="page page--narrow"
  data-section-id="{{ section.id }}"
  data-section-type="page"
>
  <div class="page__inner">
    <header class="page__header">
      <h1 class="page__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ page.title }}</h1>
      {% if intro != blank %}
        <p class="page__subheading fs-body-base fs-body-large-ns ta-c">{{ intro }}</p>
      {% endif %}
    </header>
  </div>

  {%- if blocks.size > 0 -%}
    <div class="about__grid about__grid--{{ blocks.size }}">
      {%- liquid
        assign should_disable_image_style = true

        if blocks.size == 1 and blocks[0].settings.video_url == blank
          assign should_disable_image_style = false
        endif
      -%}

      {%- for block in section.blocks -%}
        <div class="about__block about__block--{{ forloop.index }}">

          {%- if block.settings.image == blank and block.settings.video_url == blank -%}
            <div class="placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}

          {%- if block.settings.image != blank -%}
            {% render 'image' with
              image: block.settings.image,
              disable_style: should_disable_image_style
            %}
          {%- endif -%}

          {% if block.settings.video_url != blank %}
            <video class="about__block-video image" autoplay playsinline loop muted src="{{ block.settings.video_url }}"></video>
            {% render 'video-pause' %}
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="page__inner">
    <div class="page__rte ff-body rte rte--page">
      {{ page.content }}
    </div>
  </div>
</section>
