<section
  class="page page--narrow"
  data-section-id="{{ section.id }}"
  data-section-type="page"
>
  <div class="page__inner">
    <header class="page__header">
      <h1 class="page__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ page.title }}</h1>
      {% if intro != blank %}
        <p class="page__subheading fs-body-base fs-body-large-ns ta-c">{{ intro }}</p>
      {% endif %}
    </header>
  </div>

  {%- if blocks.size > 0 -%}
    <div class="about__grid about__grid--{{ blocks.size }}">
      {%- liquid
        assign should_disable_image_style = true

        if blocks.size == 1 and blocks[0].settings.video_url == blank
          assign should_disable_image_style = false
        endif
      -%}

      {%- for block in section.blocks -%}
        <div class="about__block about__block--{{ forloop.index }}">
          {%- if block.settings.image == blank and block.settings.video_url == blank -%}
            <div class="placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}

          {%- if block.settings.image != blank -%}
            {%
              render 'image' with
              image: block.settings.image,
              disable_style: should_disable_image_style
            %}
          {%- endif -%}

          {% if block.settings.video_url != blank %}
            <video
              class="about__block-video image"
              autoplay
              playsinline
              loop
              muted
              src="{{ block.settings.video_url }}"
            ></video>
            {% render 'video-pause' %}
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <div class="page__inner">
    <div class="page__rte ff-body rte rte--page">
      <div class="typelist">
        <a class="typelist__item typelist__item--1 typelist__item--active" href="#legging">長褲壓力褲</a>
        <a class="typelist__item typelist__item--2" href="#cropped-trousers">七分壓力褲</a>
        {% comment %} <a class="typelist__item typelist__item--3" href="#pants">五分壓力褲</a> {% endcomment %}
        <a class="typelist__item typelist__item--4" href="#size-choose">尺寸選購</a>
        <a class="typelist__item typelist__item--5" href="#description">穿法說明</a>
      </div>

      {{ page.content }}
    </div>
  </div>
</section>
<style>
  .typelist{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4b;
    padding-bottom: 10px;
  }
  .typelist__item{
    color: #4b4b4b !important;
    text-decoration: none !important;
    padding: 0px 8px;
    background-color: #F9F2F2;
    color: white;
    border-radius: 5px;
  }
  .typelist__item--active{
    background-color: #CE9390;
    color: #fff !important;

  }
</style>
<script>
  document.querySelectorAll('.typelist__item').forEach((item)=>{
    item.addEventListener('click', ()=>{
      if(document.querySelector('.typelist__item--active')){
        document.querySelector('.typelist__item--active').classList.remove('typelist__item--active')
      }
      item.classList.add('typelist__item--active');
    })
  })
</script>
