{%- liquid
  if columns != 4
    assign button_size = 'btn--medium-l'
  endif

  case columns
    when 2
      assign column_heading_type = 'fs-heading-2-large-l'
    when 3
      assign column_heading_type = 'fs-heading-2-base-l'
    when 4
      assign column_heading_type = 'fs-heading-3-base-l'
      assign button_size = ''
  endcase
-%}

<div class="text-columns-with-images__item">
  <div class="text-columns-with-images__item-inner">
    {%- if image -%}
      <div class="text-columns-with-images__item-image">
        {%
          render 'image' with
          image: image,
          disable_style: true,
        %}
      </div>
    {%- endif -%}
    {%- if heading != blank or subheading != blank -%}
      <div class="text-columns-with-images__item-content">
        {% unless heading == blank %}
          <h4
            class="text-columns-with-images__item-heading ff-heading fs-heading-4-base {{ column_heading_type }}"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: heading_schema_id %}"
          >
            {{ heading }}
          </h4>
        {% endunless %}

        {% unless subheading == blank %}
          <p
            class="text-columns-with-images__item-text fs-body-small fs-body-base-ns"
            data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: subheading_schema_id %}"
          >
            {{ subheading }}
          </p>
        {% endunless %}
      </div>
    {%- endif -%}
  </div>

  {%- if link != blank and link_text != blank -%}
    <div class="text-columns-with-images__item-footer">
      <a
        class="text-columns-with-images__button fs-body-base btn btn--primary btn--small {{ button_size }}"
        href="{{ link }}"
        data-live-text-setting="{% render 'live-text-setting' with block_id: block_id, schema_id: link_text_schema_id %}"
      >
        {{ link_text }}
      </a>
    </div>
  {%- endif -%}
</div>
