<script>
  console.log('Spark v1.2.0 by Fluorescent');

  document.documentElement.className = document.documentElement.className.replace('no-js', '');

  window.theme = {
    version: 'v1.2.0',
    moneyFormat: "{{ shop.money_format }}",
    strings: {
      name: {{ shop.name | json }},
      accessibility: {
        play_video: {{ 'general.accessibility.play' | t | json }},
        pause_video: {{ 'general.accessibility.pause' | t | json }}
      },
      product: {
        no_shipping_rates: {{ 'products.product.no_rates' | t | json }},
        country_placeholder: {{ 'products.product.country_placeholder' | t | json }},
        review: {{ 'products.product.write_a_review' | t | json }}
      },
      products: {
        product: {
          unavailable: {{ 'products.product.unavailable' | t | json }},
          unitPrice: {{ 'products.product.unit_price_label' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
          sku: {{ 'products.product.sku' | t | json }}
        }
      },
      search: {
        headings: {
          articles: {{ 'search.headings.articles' | t | json }},
          pages: {{ 'search.headings.pages' | t | json }},
          products: {{ 'search.headings.products' | t | json }}
        },
        view_all: {{ 'search.view_all' | t | json }},
        no_results: {{ 'search.no_results' | t | json }},
      },
      quickCart: {
        addProductQuantity: {{ 'general.accessibility.quantity_subtract' | t | json }},
        removeProductQuantity: {{ 'general.accessibility.quantity_add' | t | json }},
        removeProduct: {{ 'general.accessibility.remove_product' | t | json }},
        quantity: {{ 'cart.general.quantity' | t | json }}
      }
    },
    routes: {
      root: "{{ routes.root_url }}",
      cart: {
        base: "{{ routes.cart_url }}",
        add: "{{ routes.cart_add_url }}",
        change: "{{ routes.cart_change_url }}",
        clear: "{{ routes.cart_clear_url }}",
        // Manual routes until Shopify adds support
        shipping: "{% if routes.root_url == '/' %}/cart/shipping_rates{% else %}{{ routes.root_url }}/cart/shipping_rates{% endif %}",
      },
      // Manual routes until Shopify adds support
      products: "{% if routes.root_url == '/' %}/products{% else %}{{ routes.root_url }}/products{% endif %}",
      productRecommendations: "{{ routes.product_recommendations_url }}"
    },
  }

  {% if template.directory == 'customers' or template == 'product' %}
    window.theme.allCountryOptionTags = {{ all_country_option_tags | json }};
  {% endif %}
</script>
