<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}

  {% render 'theme-setup' %}
  {% render 'theme-setting-vars' %}
  {{ 'index.css' | asset_url | stylesheet_tag }}
  {% render 'social-meta-tags' %}

  {{ content_for_header }}

  {% render 'modal' %}
  {% render 'store-availability-drawer' %}
</head>

  <body class="template-giftcard">
    {{ content_for_layout }}

    <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
  </body>

</html>
