<!doctype html>

<!--
      ___                       ___           ___           ___
     /  /\                     /__/\         /  /\         /  /\
    /  /:/_                    \  \:\       /  /:/        /  /::\
   /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
  /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
 /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
 \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
  \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
   \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
    \  \:\       \__\/        \  \::/       \  \::/       \  \::/
     \__\/                     \__\/         \__\/         \__\/

--------------------------------------------------------------------
#  Spark v1.2.0
#  Documentation: https://fluorescent.co/help/spark/
#  Purchase: https://themes.shopify.com/themes/spark/
#  A product by Fluorescent: https://fluorescent.co/
--------------------------------------------------------------------

-->

<html class="no-js" lang="{{ shop.locale }}" style="--announcement-height: 1px;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
{{ "swiper-bundle.css" | asset_url | stylesheet_tag }}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'search.heading' | t: count: search.results_count }}: {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'social-meta-tags' %}

  {% render 'theme-setup' %}
  {% render 'theme-setting-vars' %}
  {{ 'index.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
{%- render 'bold-common' -%}
{% include 'booster-common' %}

        {% render 'digismoothie-candyrack' %}
        {% include 'sca.freegifts' %}
{% include 'hulk_po_vd.liquid' %}</head>
        

<body
  class="template-{{ request.page_type | handle }}"
  {% if settings.cart_enable_ajax %}
    data-enable-cart-ajax="true"
  {% endif %}
>

  <div class="page">
    <div class="theme-editor-scroll-offset"></div>

    <div class="header__space" data-header-space></div>
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="main" class="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
    {% section 'popup' %}
    {% render 'modal' %}
    {% render 'store-availability-drawer' %}

    {% if settings.enable_page_transitions %}
      <div class="page-transition" data-page-transition></div>
    {% endif %}
  </div>

  {{ '//www.youtube.com/iframe_api' | script_tag }}
  {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}

  {%- if template contains 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
<script src="{{ 'swiper-bundle.js' | asset_url}}" defer></script>
  <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
<!-- Stamped - Begin Script-->
<script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
<!-- Stamped - End Script -->
{% include 'booster-discounts' %}

{% render 'special-offers' %}

</body>
</html>
