<!doctype html>

<!--
  ___       ___           ___           ___
       /  /\                     /__/\         /  /\         /  /\
      /  /:/_                    \  \:\       /  /:/        /  /::\
     /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
    /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
   /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
   \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
    \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
     \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
      \  \:\       \__\/        \  \::/       \  \::/       \  \::/
       \__\/                     \__\/         \__\/         \__\/

  <temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-----
  #  Spark v1.2.0
  #  Documentation: https://fluorescent.co/help/spark/
  #  Purchase: https://themes.shopify.com/themes/spark/
  #  A product by Fluorescent: https://fluorescent.co/
  ---</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp><temp data-prettydiff-ignore><temp data-prettydiff-ignore>-------</temp></temp>--
-->

<html class="no-js" lang="{{ shop.locale }}" style="--announcement-height: 1px;">
  <head>
    <meta content="KzucvAfzD7YLeAFSfVqFdsQ20IcllwXh2gp24-aLXcU" name="google-site-verification">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ "swiper-bundle.css" | asset_url | stylesheet_tag }}
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M6F9R37');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SZ09BEJK70"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SZ09BEJK70');
    </script>
    <!-- import okendo app -->

    {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
    {{ shop.metafields.okendo.StyleCustomizations }}

    <!-- end okendo app -->
    <meta content="fwp7svo90krjyislqlmdvspy2sb016" name="facebook-domain-verification">
    <!-- LINE TAG -->
    {% render 'line_tag' %}
    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}:
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash;
        {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash;
        {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash;
        {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'social-meta-tags' %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {{ 'index.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {%- render 'bold-common' -%}
    {% include 'booster-common' %}

    {% comment %}
       {% include 'sca.freegifts' %}
      {% include 'hulk_po_vd.liquid' %}
    {% endcomment %}

    <script>
      (() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();
    </script>

    <script>
      (() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();
    </script>
    {% comment %}embed dcard code{% endcomment %}
    <script>
      !function(){const d=function(n,...e){d.queue.push([n,...e])};d.queue=[],window.dadk=window.dadk||d;const n=document.createElement("script");n.src="https://unpkg.com/@dcardsdk/web-ad-tracking-sdk",document.head.append(n),window.dadk("init","ilgNcoYYtMrQTE8RJEsCT"),window.dadk("track","PageView",{url:window.location.href})}();
    </script>

    <script>
      (() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();
    </script>

    <script>
      (() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();
    </script>
  </head>

  <body
    class="template-{{ request.page_type | handle }}"
    {% if settings.cart_enable_ajax %}
      data-enable-cart-ajax="true"
    {% endif %}
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M6F9R37"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page">
      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>
      {% section 'announcement-bar' %}
      {% section 'header' %}

      <main class="main" id="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
      {% section 'popup' %}
      {% render 'modal' %}
      {% render 'store-availability-drawer' %}

      {% if settings.enable_page_transitions %}
        <div class="page-transition" data-page-transition></div>
      {% endif %}
    </div>
    {% comment %} FIXME: 2022/10/01 移除這兩個 cdn {% endcomment %}
    {% comment %}
      {{ '//www.youtube.com/iframe_api' | script_tag }}
    {% endcomment %}
    {% comment %} {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}  {% endcomment %}

    {%- if template contains 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'swiper-bundle.js' | asset_url }}" defer></script>
    <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>
    <script
      crossorigin="anonymous"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    >
    </script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=nuconcept1315.myshopify.com" defer>
    </script>

    {% render 'preorder-now' %}
  </body>
</html>
<style>
    .sale{
      color:{{ settings.discount-price-color }};
      font-weight:bold;
    }
    /*  omnichat  bug   */
    .page-transition{
      position:unset;
    }
  /*  hide 3rd party widget  */
    .grecaptcha-badge{
      display:none;
    }
  /*  pre order app 修改 border style  */
    #product-form-add-to-cart{
      border-style: solid !important;
      margin-top: 5px;

    }
    @media(max-width:600px){
      #product-form-add-to-cart{
        height: 54px !important;
      }
    }
    .okeReviews.okeReviews--theme .okeReviews-reviewsTab{
      display: flex;
      flex-direction: row-reverse;
      grid-gap: 4px;
    }
    .okeReviews.okeReviews--theme .okeReviews-reviewsTab-label{
      transform: rotate(90deg);
    }
    .okeReviews .okeReviews-reviewsTab-icon{
      transform: translate(2px, 2px) rotate(18deg);
    }
</style>
