{% render 'template--page' with
  intro: section.settings.intro,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "About page",
    "class": "page-section",
    "settings": [
      {
        "id": "intro",
        "type": "textarea",
        "label": "Intro"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "media",
        "name": "Media",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Video link",
            "info": "Use a direct link to an .mp4 video file. [Learn more here](https://fluorescent.co/help/spark/video-hero#add-a-video)."
          }
        ]
      }
    ]
  }
{% endschema %}