{%- liquid
  assign timing_in_ms = section.settings.timing | times: 1000
  assign announcements = section.blocks

  assign visible = false
  if section.settings.enabled and announcements.size > 0
    assign visible = true
  endif

  assign show_popup = false
  if section.settings.show_popup
    assign show_popup = true
  endif
-%}

{%- if visible -%}
  {% if section.settings.fix_announcement %}
    <style>
      #shopify-section-announcement-bar{
        z-index: 5;
        position: sticky;
        top: 0;
      }
      #shopify-section-header{
        top: 42px;
      }
    </style>
  {% endif %}

  <section
    style="cursor:pointer"
    class="announcement-bar"
    data-section-id="{{ section.id }}"
    data-section-type="announcement-bar"
    data-timing="{{ timing_in_ms }}"
  >
    {%- for block in announcements -%}
      <div
        class="announcement-bar__item ff-body fs-body-x-small"
        style="
          --color-background: {{ block.settings.color_background }};
          --color-gradient-overlay: {{ block.settings.color_background | color_to_rgb }};
          --color-text: {{ block.settings.color_text }};
        "
        data-announcement
        data-index="{{ forloop.index0 }}"
        {{ block.shopify_attributes }}
      >
        <div class="announcement-bar__content-wrapper">
          <div class="announcement-bar__content">
            {%- if block.settings.link != blank -%}
              <span>
                <a
                  class="announcement-bar__link color-inherit"
                  {%- unless show_popup -%}
                    href="{{ block.settings.link }}"
                  {%- endunless -%}
                >
                  {{ block.settings.title | strip_html }}
                </a>
              </span>
            {%- else -%}
              <span tabindex="1">{{ block.settings.title | strip_html }}</span>
            {%- endif -%}
          </div>
        </div>

        <div class="announcement-bar__gradient-gap"></div>
      </div>
    {%- endfor -%}
  </section>
  {%- if show_popup -%}
    <div class="custom-popup " id="custom-popup">
      <div class="popup-content">
        <div class="popup-content__close" id="close-popup-icon">
          <svg fill="none" height="32" viewbox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4355 10.7071C23.826 10.3166 23.826 9.68341 23.4355 9.29289C23.045 8.90237 22.4118 8.90237 22.0213 9.29289L16.3641 14.95L10.7071 9.29304C10.3166 8.90252 9.68345 8.90252 9.29292 9.29304C8.9024 9.68356 8.9024 10.3167 9.29292 10.7073L14.9499 16.3643L9.29337 22.0208C8.90284 22.4113 8.90284 23.0445 9.29337 23.435C9.68389 23.8255 10.3171 23.8255 10.7076 23.435L16.3641 17.7785L22.0208 23.4352C22.4114 23.8257 23.0445 23.8257 23.4351 23.4352C23.8256 23.0447 23.8256 22.4115 23.4351 22.021L17.7784 16.3643L23.4355 10.7071Z" fill="#FDFDFD"/>
            <circle cx="16" cy="16" r="15" stroke="#FDFDFD" stroke-width="2"/>
          </svg>
        </div>
        <img
          src="{{ section.settings.popup_bg_image_mobile | image_url: width: 500, height: 300, crop: 'center' }}"
          width="500"
          height="300"
          loading="lazy"
          class="popup-badge-mobile"
          alt=""
        >
        <div class="popup-main">
          <div class="popup-main__title">{{ section.settings.popup_title }}</div>
          {% comment %} <div class="popup-main__subtitle">{{ section.settings.popup_subtitle }}</div> {% endcomment %}
          <div class="popup-main__discount">$100 折扣碼</div>
          <div class="popup-main__description">{{ section.settings.popup_description }}</div>
          <div class="popup-button" id="popup-button">
            <img
              src="https://cdn.shopify.com/s/files/1/1905/3687/files/line_30x30.png?v=1651039565"
              width="30"
              height="30"
              loading="lazy"
              alt=""
              class="popup-button__image"
            >
            <span class="popup-button__wording">立即加入</span>
          </div>
          <img
            src="{{ section.settings.popup_qr_code | image_url }}"
            loading="lazy"
            width="90"
            height="90"
            alt=""
            class="popup-main__qrcode"
          >
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
<script>
  window.addEventListener("DOMContentLoaded", function() {

    if(document.querySelector('#custom-popup')){
      document.querySelector('.announcement-bar').addEventListener('click', ()=>{
        console.log('open')
        document.querySelector('#custom-popup').classList.add('custom-popup-active')
      })
      document.querySelector('#popup-button').addEventListener('click', ()=>{
        window.open('{{ section.settings.popup_button_link }}')
      })

      document.querySelector('#close-popup-icon').addEventListener('click',async ()=>{
        console.log('close')
        await document.querySelector('#custom-popup').classList.remove('custom-popup-active')
      })
    }

  })
</script>
<style>
  .custom-popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000080;
    z-index: 502;
    display: none;
  }
  .custom-popup-active{
    display:unset;
  }
  .custom-popup .popup-content{
    width: 700px;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    min-height: 500px;
    background-color: #F3F1EF;
    position: relative;
    display: flex;
    background-size: cover;
    background-position: right;
    background-image: linear-gradient(90deg, #F3F1EF 0%, #F3F1EF 50%, transparent 50%), url({{ section.settings.popup_bg_image_desktop | image_url }});
  }
  .custom-popup .popup-content__close{
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 505;
    cursor: pointer;
  }
  .custom-popup .popup-main{
    border-bottom-left-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
    border-top-left-radius: 20px;
    padding: 0 20px;
    margin-top: 25px;
  }
  .custom-popup .popup-main__discount{
    padding: 10px 35px;
    width: max-content;
    margin: 0 auto;
    border: 2px dashed #06c755;
    border-radius: 4px;
    color: #06c755;
  }
  .custom-popup .popup-main__description{
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    font-size: 17px;
  }
  .custom-popup .popup-badge-mobile{
    display: none;
  }
  .custom-popup .popup-button{
    border-radius: 25px;
    display: flex;
    grid-gap: 10px;
    align-items: center;
    background-color: #40c754;
    color: #fff;
    border: none;
    width: 100%;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    transition: all .2s;
    box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
    cursor: pointer;
    height: 48px;
  }
  .custom-popup .popup-main__title{
    font-weight: 600;
    font-size: 24px;
  }
  @media(max-width: 800px){
    .custom-popup .popup-content{
      flex-direction: column;
      width: calc(100vw - 40px);
      padding-bottom: 25px;
      height: max-content;
      min-height: max-content;
      background-image: linear-gradient(0deg, #F3F1EF 0%, #F3F1EF 100%);
    }
    .custom-popup .popup-main{
      width: 100%;
      grid-gap: 25px;
      padding-top:20px;
      margin-top: 0;
    }
    .custom-popup .popup-main__title{
      font-size: 20px;
    }
    .custom-popup .popup-main__description{
      display: none;
    }
    .custom-popup .popup-badge-mobile{
      display: block;
      width: 100%;
      max-height: 200px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
    }
    .custom-popup .popup-main__qrcode{
      display: none;
    }
  }
  .flickity-viewport{
    height: 42px;
  }
  .announcement-bar{
    height: 42px;
  }
  .announcement-bar__item{
    padding: 3px;
  }
</style>
{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "id": "enabled",
      "type": "checkbox",
      "label": "Show announcement",
      "default": true
    },
    {
      "id": "fix_announcement",
      "type": "checkbox",
      "label": "fix announcement bar ",
      "default": true
    },
    {
      "type": "range",
      "id": "timing",
      "label": "Time between announcements",
      "min": 3,
      "max": 15,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Popup"
    },
    {
      "id": "show_popup",
      "type": "checkbox",
      "label": "Show popup after click",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "popup_bg_image_desktop",
      "label": "popup background image (desktop)",
      "info": "recommend size: 350 * 500"
    },
    {
      "type": "image_picker",
      "id": "popup_bg_image_mobile",
      "label": "popup background image (mobile)",
      "info": "recommend size: 500 * 300"
    },
    {
      "type": "textarea",
      "id": "popup_title",
      "label": "popup title"
    },
    {
      "type": "textarea",
      "id": "popup_description",
      "label": "popup description"
    },
    {
      "type": "url",
      "id": "popup_button_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "popup_qr_code",
      "label": "QR code"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Announcement text",
          "default": "Announce something here"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Announcement link",
          "info": "Optional"
        },
        {
          "id": "color_background",
          "type": "color",
          "label": "Background color",
          "default": "#1C2232"
        },
        {
          "id": "color_text",
          "type": "color",
          "label": "Text color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement",
        "settings": {
          "title": "Announce a sale or a new product line using this announcement bar."
        }
      }
    ]
  }
}
{% endschema %}
