{% liquid
  assign show_date = section.settings.show_date
  assign show_share = section.settings.show_share
  assign show_image = section.settings.show_image
  assign show_pagination = section.settings.show_pagination
  assign show_share_button = section.settings.show_share_button
  if comment.status == 'pending'
    assign number_of_comments = article.comments_count | plus: 1
  else
    assign number_of_comments = article.comments_count
  endif
%}

{% capture social_share %}
  {% if show_share_button == true %}
    <button
      aria-haspopup="true"
      class="article__share btn btn--secondary btn--medium-small"
      data-social-share
      type="button"
    >
      <span class="article__share-text fs-body-small fs-body-bold">
        {%- render 'icon' with icon: 'social-share' -%}
        {{ 'general.social.share' | t }}
      </span>

      <div class="article__share-icons" aria-hidden="true" aria-label="{{ 'general.social.alt.share_menu' | t }}">
        {%
          render 'share-icons' with
          url: article.url,
          title: article.title,
          image: article.image
        %}
      </div>
    </button>
  {% endif %}
{% endcapture %}

<section class="article page" data-section-id="{{ section.id }}" data-section-type="article">
  <div class="article__inner page__inner mobile-page__inner">
    <article>
      <header class="article__header page__header">
        <h1 class="article__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ article.title }}</h1>
        {%- if show_date -%}
          <p class="article__date fs-body-base fs-body-large-ns">
            {{ article.published_at | time_tag: format: 'date' }}
          </p>
        {%- endif -%}
        {%- if show_share -%}
          {{ social_share }}
        {%- endif -%}
      </header>

      {%- if show_image and article.image != blank -%}
        <div class="article__image">
          {% render 'image' with image: article.image %}
        </div>
      {%- endif -%}

      <div class="article__content">
        <div class="article__rte rte rte--article">
          <!-- product -->
          {% if article.content contains "=== split content ===" %}
            {% assign my_description = article.content | split: '=== split content ===' %}

            {% assign my_description_size = my_description.size | minus: 2 %}
            {{ my_description | first }}
            <div class="show-product-list">
              {% if article.tags.size > 0 %}
                {% for tag in article.tags %}
                  {% paginate collections.all.products by 10000 %}
                    {%- for product in collections.all.products -%}
                      {% if product.handle == tag %}
                        <div class="product_item">
                          <div class="custom-related-list">
                            <img src="{{ product.images[0] | image_url }}" alt="" width="100">
                            <a href="https://nuconcept.com.tw/products/{{ product.handle }}">{{ product.title }}</a>
                          </div>
                        </div>
                      {% endif %}
                    {%- endfor -%}
                  {% endpaginate %}
                {% endfor %}
              {% endif %}
            </div>
            <style>
              .custom-related-list{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-gap: 8px;
              }
            </style>
          {%- else -%}
            {{ article.content }}
          {% endif %}

          {{ my_description | last }}
        </div>
        {% include 'pro-blogger.snippet.related-products' %}

        {%- if article.tags.size > 0 -%}
          <ul class="article__tags fs-body-base">
            <li>{{ 'blogs.article.tags' | t }}:</li>
            {% for tag in article.tags %}
              <li class="article__tag">{{ tag | link_to_tag: tag }}</li>
            {% endfor %}
          </ul>
        {%- endif -%}

        {%- if show_share -%}
          <div class="article__share-bottom">
            {{ social_share }}
          </div>
        {%- endif -%}

        {%- if show_pagination -%}
          {%- if blog.previous_article or blog.next_article -%}
            <div class="article__pagination ff-body fs-body-base">
              {% if blog.previous_article %}
                <a href="{{ blog.previous_article }}" class="article__pagination-prev link">
                  {{ 'blogs.article.pagination.previous' | t }}
                </a>
              {% endif %}
              {% if blog.next_article %}
                <a href="{{ blog.next_article }}" class="article__pagination-next link">
                  {{ 'blogs.article.pagination.next' | t }}
                </a>
              {% endif %}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </article>

    {% if blog.comments_enabled? %}
      <div class="article__comments">
        {% if number_of_comments > 0 %}
          <h2 class="comments__heading ff-heading fs-heading-4-base fs-heading-3-base-ns">
            {{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}
          </h2>

          {% paginate article.comments by 5 %}
            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">
              <ul class="comments">
                {% comment %}
                  If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment.status == 'pending' %}
                  <li id="{{ comment.id }}" class="comment">
                    {% render 'comment', comment: comment %}
                  </li>
                {% endif %}

                {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment">
                    {% render 'comment', comment: comment %}
                  </li>
                {% endfor %}
              </ul>

              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate, type: 'general.pagination.comments' %}
              {%- endif -%}
            </div>
            {% assign sp_paginate_by = paginate.page_size -%}
          {%- endpaginate %}
        {% endif %}

        {% form 'new_comment', article %}
          {%- assign formId = 'CommentForm' -%}

          <h2 class="comments__leave-heading ff-heading fs-heading-small c-heading">
            {{ 'blogs.comments.title' | t }}
          </h2>
          {%- liquid
            assign post_message = 'blogs.comments.success' | t

            if blog.moderated? and comment.status == 'pending'
              assign post_message = 'blogs.comments.success_moderated' | t
            elsif comment.status == 'unapproved' or comment.status == 'spam'
              assign post_message = 'blogs.comments.unapproved' | t
            endif
          -%}

          {% render 'form-status', form: form, form_id: formId, success_message: post_message %}

          <div>
            <div class="input-control">
              <label for="{{ formId }}-author" class="visually-hidden">{{ 'blogs.comments.name' | t }}</label>
              <input
                type="text"
                name="comment[author]"
                placeholder="{{ 'blogs.comments.name' | t }}"
                id="{{ formId }}-author"
                class="input"
              >
            </div>

            <div class="input-control">
              <label for="{{ formId }}-email" class="visually-hidden">{{ 'blogs.comments.email' | t }}</label>
              <input
                type="email"
                name="comment[email]"
                placeholder="{{ 'blogs.comments.email' | t }}"
                id="{{ formId }}-email"
                class="input"
              >
            </div>

            <div class="input-control">
              <label for="{{ formId }}-body" class="visually-hidden">{{ 'blogs.comments.message' | t }}</label>
              <textarea
                name="comment[body]"
                placeholder="{{ 'blogs.comments.message' | t }}"
                id="{{ formId }}-body"
                class="input"
              >
                {{- form.body -}}
              </textarea>
            </div>
          </div>

          {% if blog.moderated? %}
            <p class="comments__mod-message ff-body fs-body-base">{{ 'blogs.comments.moderated' | t }}</p>
          {% endif %}

          <button class="comments__submit btn btn--form btn--primary" type="submit">
            {{ 'blogs.comments.post' | t }}
          </button>
        {% endform %}
      </div>
    {% endif %}
  </div>
</section>
<style>
  .show-product-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 16px;
    justify-self: center;
    align-self: center;
  }
  @media(max-width:600px){
    .mobile-page__inner{
      padding:0 12px;
    }
  }
</style>
<script>
  console.log("123", {{ collections | json }})
  console.log("456", {{ collections.all.products | json }})
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% if sp_paginate_by %}{% render 'spurit_po2_collection_template_snippet', paginate_by: sp_paginate_by %}{% endif -%}
{% schema %}
{
  "name": "Articles",
  "settings": [
    {
      "id": "show_date",
      "type": "checkbox",
      "label": "Show date",
      "default": true
    },
    {
      "id": "show_share",
      "type": "checkbox",
      "label": "Show share buttons",
      "default": true
    },
    {
      "id": "show_image",
      "type": "checkbox",
      "label": "Show image",
      "default": true
    },
    {
      "id": "show_pagination",
      "type": "checkbox",
      "label": "Show pagination",
      "default": true
    }
  ]
}
{% endschema %}
<style>
  h1,h2,h3,h4,h5,h6,span,p{
    color: black;
  }
</style>
