{% if section.settings.show_article_bar %}
  <div class="article-sticky-bar">
    <a class="article-bar-item" href="{{ section.settings.popular_product_url }}">
      <img
        class="article-bar-item__img"
        src="{{ section.settings.popular_product_img | image_url }}"
        width="45"
        height="45"
      >
      人氣商品
    </a>
    <a class="article-bar-item" href="{{ section.settings.sale_offer_url }}">
      <img class="article-bar-item__img" src="{{ section.settings.sale_offer_img | image_url }}" width="45" height="45">
      特惠專區
    </a>
    <a class="article-bar-item" id="article-bar-member" href="https://nuconcept.com.tw/account/login">
      <img
        class="article-bar-item__img"
        src="{{ section.settings.member_center_img | image_url }}"
        width="45"
        height="45"
      >
      會員中心
    </a>
    <a class="article-bar-item" id="article-bar-cart" data-js-cart-icon href="/cart">
      <img class="article-bar-item__img" src="{{ section.settings.cart_img | image_url }}" width="45" height="45">
      購物車
    </a>
  </div>
  <script>
    {% comment %} document.getElementById("article-bar-cart").addEventListener("click", ()=>{
      document.getElementById("cart_btn").click();
    }) {% endcomment %}
  </script>
  <style>
    #shopify-section-article-bar{
      position: fixed;
      bottom: 0px;
      background: white;
      padding: 7.5px 0;
      border-bottom:1px solid #ddd;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      z-index: 5;
    }
    .article-sticky-bar{
      width: 100vw;
      display:flex;
      justify-content: space-around;
    }
    .article-bar-item{
      display:flex;
      flex-direction: column;
      grid-gap: 4px;
      height: 45px;
      overflow: hidden;
      align-items: center;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "article bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_bar",
      "label": "顯示 article bar(fix)",
      "default": true
    },
    {
      "type": "header",
      "content": "人氣商品"
    },
    {
      "type": "image_picker",
      "id": "popular_product_img",
      "label": "人氣商品照片"
    },
    {
      "type": "url",
      "id": "popular_product_url",
      "label": "人氣商品連結"
    },
    {
      "type": "header",
      "content": "特惠專區"
    },
    {
      "type": "image_picker",
      "id": "sale_offer_img",
      "label": "特惠專區照片"
    },
    {
      "type": "url",
      "id": "sale_offer_url",
      "label": "特惠專區連結"
    },
    {
      "type": "header",
      "content": "會員中心"
    },
    {
      "type": "image_picker",
      "id": "member_center_img",
      "label": "會員中心照片"
    },
    {
      "type": "header",
      "content": "購物車"
    },
    {
      "type": "image_picker",
      "id": "cart_img",
      "label": "購物車照片"
    }
  ]
}
{% endschema %}
