{%- render 'section--blog-posts' with
  id: section.id,
  aspect_ratio: section.settings.aspect_ratio,
  columns: section.settings.columns,
  show_date: section.settings.show_date,
  section_contrast: section.settings.section_contrast,
  text_max_width: section.settings.text_max_width,
  title: section.settings.title,
  subheading: section.settings.subheading,
  block_limit: section.max_blocks,
  blocks: section.blocks
-%}

{% schema %}
  {
    "name": "Blog posts",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "id": "show_date",
        "type": "checkbox",
        "label": "Show published date",
        "default": true
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "article",
        "name": "Article",
        "settings": [
          {
            "id": "article",
            "type": "article",
            "label": "Article"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
