{%- liquid
  assign paginate_by = section.settings.articles_per_row | times: 3
  assign columns = section.settings.articles_per_row
  assign aspect_ratio = section.settings.aspect_ratio

  assign image_is_constrained = true

  if aspect_ratio == 'natural'
    assign image_is_constrained = false
  endif

  case columns
    when 2
      assign article_heading_type = 'fs-heading-2-large-l'
    when 3
      assign article_heading_type = 'fs-heading-2-base-l'
    when 4
      assign article_heading_type = 'fs-heading-3-base-l'
  endcase
-%}

{% paginate blog.articles by paginate_by %}
  <section
    class="
      blog
      blog--columns-{{ columns }}
      blog--{{ aspect_ratio }}
      page
    "
    data-section-id="{{ section.id }}"
    data-section-type="blog"
  >
    <div class="blog__inner page__inner">
      <div class="blog__header page__header">
        <h1 class="blog__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">
          {{ page_title }}
          {% if current_tags %} — {{ 'general.meta.tags' | t: tags: current_tags[0] }}{% endif %}
        </h1>

        {%- if section.settings.show_rss -%}
          <a
            class="blog__rss"
            href="{{ blog.url | append: '.atom' }}"
            aria-label="{{ 'general.accessibility.rss' | t }}"
          >
            {% render 'icon-button' with icon: 'rss_feed' %}
          </a>
        {%- endif -%}
      </div>

      <ul class="blog__article-list">
        {%- for article in blog.articles -%}
          <li class="blog__article-item">
            {%- if article.image != blank -%}
              <a href="{{ article.url }}" class="hover">
                {%
                  render 'image' with
                  image: article.image,
                  wrapper_class: 'blog__article-image'
                  disable_style: image_is_constrained,
                %}
              </a>
            {%- else -%}
              <div class="blog__article-image placeholder-image">
                {{ 'image' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {%- endif -%}

            <div class="blog__meta {% if article.image == blank %}blog__meta--no-image{% endif %}">
              <a href="{{ article.url }}" class="blog-title">
                <h3
                  class="blog__article-title ff-heading fs-heading-3-base fs-heading-2-base-nl {{ article_heading_type }} ta-c"
                  data-href="{{ article.url }}"
                >
                  {{ article.title }}
                </h3>
              </a>

              {%- if section.settings.show_date -%}
                <p class="blog__date fs-body-small fs-body-base-ns ta-c">
                  {{ article.published_at | time_tag: format: 'date' }}
                </p>
              {%- endif -%}
              {%- if section.settings.show_excerpt -%}
                <p class="blog__article-excerpt ff-body fs-body-small fs-body-base-ns ta-c">
                  {{ article.excerpt_or_content | strip_html | truncate: 120 }}
                  <a href="{{ article.url }}" class="btn btn--text-link">{{ 'sections.blog_posts.more' | t }}</a>
                </p>
              {%- endif -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>

      <div class="blog__pagination">
        {% if paginate.pages > 1 %}
          {% render 'pagination' with paginate: paginate, type: 'general.pagination.blog_posts' %}
        {% else %}
          {% render 'pagination' with paginate: paginate, type: 'general.pagination.blog_posts', display_paginate_item_count_only: true %}
        {% endif %}
      </div>
    </div>
  </section>
{%- endpaginate %}
<script>
  document.querySelectorAll(".blog-title").forEach((item)=>{
    item.addEventListener("click",(e)=>{
      console.log("click", e.target, e.target.dataset)
      if(e.target.dataset.href){
        location.href=e.target.dataset.href;
      }
    })
  })
</script>
{% comment %}
  {% if sp_paginate_by %}{% render 'spurit_po2_collection_template_snippet', paginate_by: sp_paginate_by %}{% endif %}
{% endcomment %}
{% schema %}
{
  "name": "Blog pages",
  "settings": [
    {
      "type": "range",
      "id": "articles_per_row",
      "label": "Articles per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "id": "show_rss",
      "type": "checkbox",
      "label": "Show RSS icon",
      "default": true
    },
    {
      "id": "show_date",
      "type": "checkbox",
      "label": "Show published date",
      "default": true
    },
    {
      "id": "show_excerpt",
      "type": "checkbox",
      "label": "Show article excerpts",
      "default": false
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "Image aspect ratio",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Landscape (3:2)",
          "value": "landscape"
        },
        {
          "label": "Portrait (2:3)",
          "value": "portrait"
        }
      ],
      "default": "natural"
    }
  ]
}
{% endschema %}
<!-- custom css -->
