<section
  class="cart page"
  data-section-id="{{ section.id }}"
  data-section-type="cart"
  data-enable-cart-ajax="{{ section.settings.cart_ajax_enable }}"
>

  <div class="cart__container page__inner">
    <header class="cart__header page__header">
      <h1 class="cart__title ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ 'cart.general.title' | t }}</h1>
    </header>

    {%- if cart.item_count >= 1 -%}
      <form action="{{ routes.cart_url }}" method="post" data-form novalidate>
        <div class="cart__form-header ff-meta fs-meta">
          <div class="cart__form-header-product">{{ 'cart.label.product' | t }}</div>
          <div class="cart__form-header-quantity">{{ 'cart.label.quantity' | t }}</div>
          <div class="cart__form-header-total">{{ 'cart.label.total' | t }}</div>
        </div>
        {%- for item in cart.items -%}
          <div class="cart__item">

            {% comment %} Image {% endcomment %}
            <div class="cart__item-image-wrapper">
              {%- if item.image -%}
                  {% render 'image' with
                    image: item.image,
                    disable_style: true,
                    wrapper_class: 'cart__item-image',
                  %}
              {%- else -%}
                <div class="cart__item-image placeholder-image">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
            </div>

            {% comment %} Details {% endcomment %}
            <div class="cart__item-main">
              <div class="cart__item-details">
                <a href="{{ item.url }}" class="cart__item-title ff-heading fs-heading-4-base">
                  {{ item.product.title }}
<span class='booster-cart-item-success-notes' data-key='{{ item.key }}'></span><span class='booster-cart-item-upsell-notes' data-key='{{item.key}}'></span>
                </a>

                {% unless item.product.has_only_default_variant %}
                  <p class="fs-body-base">{{ item.variant.title }}</p>
                {% endunless %}

                <div class="cart__item-price fs-body-base">
                  {% if item.original_price > item.final_price %}
                    <s><div class="pn-price-item" data-id="{{ item.key }}">{{ item.original_price | money }}</div></s>
                  {% endif %}
                  {{ item.final_price | money }}
                </div>

                {% render 'unit-price' item: item %}

                
                {%- comment -%}
                {% if property_size > 0 %}
                  <div class="cart__item-properties fs-body-base" >
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                      {{ p.first }}:

                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}
                {%- endcomment -%}


                {% if item.line_level_discount_allocations.size > 0 %}
                  <ul class="cart__line-item-discounts fs-body-small t-subdued">
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <li>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</li>
                  {% endfor %}
                  </ul>
                {% endif %}

                {% if item.selling_plan_allocation %}
                  <p class="fs-body-small t-subdued">{{ item.selling_plan_allocation.selling_plan.name }}<p>
                {% endif %}
              </div>

              <div class="cart__item-quantity">

                <div class="cart__item-qty-selector">
                  <button type="button" class="cart__item-button cart__item-button--minus" data-quality={{ item.quantity }}  data-id={{ item.id }} data-type="minus" data-line="{{ forloop.index }}" data-num="{{ item.quantity }}" data-item='updates_{{ item.key }}'  aria-label="{{ 'general.accessibility.quantity_add' | t }}">
                    {% render 'icon' with icon: 'minus' %}
                  </button>
                  <input
                    type="number"
                    name="updates[]"
                    id="updates_{{ item.key }}"
                    value="{{ item.quantity }}"
                    min="0"
                    aria-label="{{ 'cart.general.quantity' | t }}"
                    data-quantity-input
                  >
                  <button type="button" class="cart__item-button cart__item-button--plus"  data-quality={{ item.quantity }} data-id={{ item.id }} data-type="increase" data-line="{{ forloop.index }}" data-num="{{ item.quantity }}" data-item='updates_{{ item.key }}' aria-label="{{ 'general.accessibility.quantity_subtract' | t }}">
                    {% render 'icon' with icon: 'plus' %}
                  </button>
                </div>
                <div class="cart-item__remove btn btn--text-link" id="remove_button" data-id={{ item.id }} href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</div>
              </div>
            </div>

            <div class="cart__item-total fs-body-base">
              {% if item.original_line_price > item.final_line_price %}
                <s><span class='booster-cart-item-line-price' data-key='{{ item.key }}'><div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div></span></s><br/>
              {% endif %}
              {{ item.final_line_price | money }}
            </div>
          </div>
        {%- endfor -%}

        <div class="cart__footer">
          {% if settings.cart_show_notes %}
          <div class="cart-collapse">
            <p class="cart-collapse__title">{{ settings.cart_notes_title }}</p>
            <div class="cart-collapse__plus cart-collapse__icon"></div>
            <div class="cart-collapse__minus cart-collapse__icon hide-element"></div>
          </div>
          {% endif %}
          <div class="cart__footer-left">
            {% if settings.cart_show_notes %}
              <label for="CartSpecialInstructions" class="fs-body-base">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="input">{{ cart.note }}</textarea>
            {% endif %}
          </div>

          <div class="cart__footer-right">
            {% comment %} Cart level discounts {% endcomment %}
            {%- if cart.cart_level_discount_applications != blank -%}
              <p class="cart__original-total fs-body-base">{{ 'cart.general.subtotal' | t }}: {{ cart.original_total_price | money }}</p>
              <ul class="cart__discounts fs-body-base">
                {%- for discount_application in cart.cart_level_discount_applications -%}
                  <li>{{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

            {% comment %} Final cart total {% endcomment %}
            <p class="ff-heading fs-heading-4-base">
              <span class="wh-original-cart-total">
                <span class='wh-original-price'>{{ cart.total_price | money }}
              </span>
              </span>
              <span class="wh-cart-total">
              </span>
              <div class="additional-notes">
                <span class="wh-minimums-note">
                </span>
                <span class="wh-extra-note">
                </span>
              </div>
            </p>
          	{% comment %}
            <p class="cart__footer-tax-note" style="display:none;">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </p>
            {% endcomment %}
            <p class="cart__footer-tax-note" id="cart__footer__tax-note">
             {% assign taxes_description = 'cart.general.taxes_and_shipping_at_checkout' | t %}
            {{ taxes_description | strip_html }}
		        </p>


          </div>
          <div class="custom-also-bought">
          
          </div>
          <div class="cart__footer-actions" style="margin-left: auto">
            {%- unless section.settings.cart_ajax_enable -%}
              <input type="submit" name="update" class="btn btn--secondary btn--small btn--medium-ns" value="{{ 'cart.general.update' | t }}">
            {%- endunless -%}
            <input type="submit" name="checkout" class="btn btn--primary btn--small btn--medium-ns" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </div>
      </form>
    {%- else -%}

      <div class="cart__empty fs-body-large">
        {% comment %}
        Cart empty state
        {% endcomment %}
        <div class="supports-cookies">
          <p>{{ 'cart.general.empty' | t }}</p>
          <p><a class="link" href="{{ routes.collections_url }}">{{ 'cart.general.continue_shopping' | t }}</a></p>
        </div>

        {% comment %}
        Cart no cookies state
        ---------------------
        Browser cookies are required to use the cart. If cookies aren't enabled in the
        browser a message is displayed prompting the user to enable them.
        {% endcomment %}
        <div class="supports-no-cookies">
          <p>{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      </div>

    {%- endif -%}

  </div>

</section>
<script>
console.log("ready");
  
window.addEventListener("DOMContentLoaded", function() {
  //進入購物車
  entryCart();
  function entryCart(){
    const cartList = {{ cart.items | json }};
    const cartObj = {{ cart | json }};

    console.log('cart items', cartList, cartObj.total_price );
    let dataList= [];
    document.querySelectorAll(".cart__item-main").forEach((item, index) => {
      let id = cartList[index].sku;
      let current_variant = cartList[index];
      let variant;
      for (let test of cartList[index].options_with_values) {
        if (test.name === '尺寸') {
          variant = test.value
        }
      }
      let name ;
      if(current_variant.product_id === 7569254056194 || current_variant.product_id ===7553920368898){
        // sportsbra
        //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
        name = `FIR 美敷肌能®${current_variant.variant_options[0]}運動內衣-${current_variant.variant_options[1]}`

        console.log('name', name)
      }else if(current_variant.product_id === 6977152352434){
        // legging
        //FIR 美敷肌能®壓力褲-全長 寂靜黑
        name = `FIR 美敷肌能®壓力褲-${current_variant.variant_options[0]} ${current_variant.variant_options[1]}`
      }else{
        name = current_variant.product_title
      }
      dataList.push({
        name: name, //產品名稱，不要有尺寸
        id: id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
        price: `${cartList[index].price / 100}`, //產品價格
        brand: 'NU Concept 肌能衣研製所',
        category: cartList[index].product_type, //產品類別
        variant: variant, //尺寸
        quantity: cartList[index].quantity //購買數量
      })
    })
    console.log('view_cart',dataList, cartObj.total_price / 100);

    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
        'event' : 'emp_event',
        'eventCategory' : 'ecommerce',
        'eventAction' : 'view_cart',
        ecommerce: {
            currency: 'TWD',
            value: cartObj.total_price / 100,     //總計
            items: dataList
          }
    });

  }


  document.querySelector('.cart-collapse').addEventListener('click', () => {
    document.querySelector('.cart__footer-left').classList.toggle('cart__footer-left--active');
    document.querySelector('.cart-collapse__plus').classList.toggle('hide-element')
    document.querySelector('.cart-collapse__minus').classList.toggle('hide-element')
  })
  document.getElementById('cart__footer__tax-note').innerHTML = document.getElementById('cart__footer__tax-note').textContent;


  // 運動內衣 (all) product id => 7569254056194
  // let firstName = current_variant.name.split("®")[0]
  //         let secondName = current_variant.option1;
  //         let thirdName = collection.type;
  //         let lastName = `-${current_variant.option2}`
  //         let name = firstName+secondName+thirdName+lastName;

// 壓力褲(all) product id => 6977152352434
//           let firstName = current_variant.name.split(" - ")[0]
//           let secondName = `-${current_variant.option1}`;
//           let lastName = ` ${current_variant.option2}`;
//           name = firstName+secondName+lastName;




// 去結帳的按鈕
  document.querySelector('.cart__footer-actions input[type="submit"]').addEventListener('click',()=>{
//data Layer
const cartList = {{ cart.items | json }}
  console.log('cart items', cartList);
  let dataList= [];
  document.querySelectorAll(".cart__item-main").forEach((item, index) => {
    let id = cartList[index].sku;
    let current_variant = cartList[index];
    let variant;
    for (let test of cartList[index].options_with_values) {
      if (test.name === '尺寸') {
        variant = test.value
      }
    }
    let name ;
    if(current_variant.product_id === 7569254056194 || current_variant.product_id ===7553920368898){
      // sportsbra
      //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
      name = `FIR 美敷肌能®${current_variant.variant_options[0]}運動內衣-${current_variant.variant_options[1]}`

      console.log('name', name)
    }else if(current_variant.product_id === 6977152352434){
      // legging
      //FIR 美敷肌能®壓力褲-全長 寂靜黑
      name = `FIR 美敷肌能®壓力褲-${current_variant.variant_options[0]} ${current_variant.variant_options[1]}`
    }else{
      name = current_variant.product_title
    }

    dataList.push({
      name: name, //產品名稱，不要有尺寸
      id: id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
      price: `${cartList[index].price / 100}`, //產品價格
      brand: 'NU Concept 肌能衣研製所',
      category: cartList[index].product_type, //產品類別
      variant: variant, //尺寸
      quantity: cartList[index].quantity //購買數量
    })
  })
  console.log('begin_checkout', dataList[0].name)
  dataLayer.push({
      'event': 'emp_event',
      'eventCategory': 'ecommerce',
      'eventAction': 'begin_checkout',
      'ecommerce': {
        'checkout': {
          'actionField': {
            'step': 1,
            "option":""
          }, //option填入coupon碼，若無則送空值
          'products': dataList //購物車如果有多樣產品，每樣產品資訊都要送出
        }
      }
    });


  })
  const cartList = {{ cart.items | json }}
console.log('cartList', cartList)
  document.querySelectorAll('.cart__item-button--minus').forEach(cartBtn => {
    cartBtn.addEventListener('click', async () => {

      const [current_variant] = cartList.filter(item => item.id == cartBtn.dataset.id)
      let id = current_variant.sku
      let variant;
      for (let test of current_variant.options_with_values) {
        if (test.name === '尺寸') {
          variant = test.value
        }
      }
      let name ;

      if(current_variant.product_id === 7569254056194 || current_variant.product_id ===7553920368898){
        // sportsbra
        //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
        name = `FIR 美敷肌能®${current_variant.variant_options[0]}運動內衣-${current_variant.variant_options[1]}`

        console.log('name', name)
      }else if(current_variant.product_id === 6977152352434){
        // legging
        //FIR 美敷肌能®壓力褲-全長 寂靜黑
        name = `FIR 美敷肌能®壓力褲-${current_variant.variant_options[0]} ${current_variant.variant_options[1]}`
      }else{
        name = current_variant.product_title
      }

      console.log('minus',
        {
              name: name,
              id: id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
              price: `${current_variant.price / 100}`, //產品價格
              brand: 'NU Concept 肌能衣研製所',
              category: current_variant.product_type, //產品類別
              variant: variant, //尺寸
              quantity: 1 //購買數量
            }
      )
      dataLayer.push({
        event: 'emp_event',
        eventCategory: 'ecommerce',
        eventAction: 'remove_from_cart',
        ecommerce: {
          remove: {
            products: [{
              name: name,
              id: id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
              price: `${current_variant.price / 100}`, //產品價格
              brand: 'NU Concept 肌能衣研製所',
              category: current_variant.product_type, //產品類別
              variant: variant, //尺寸
              quantity: 1 //購買數量
            }]
          }
        }
      });

      await changeQuality(cartBtn.dataset.type, cartBtn.dataset.line, cartBtn.dataset.num, cartBtn.dataset.item)

    })
  })


  document.querySelectorAll('.cart__item-button--plus').forEach(cartBtn => {
    cartBtn.addEventListener('click',async () => {

      const [current_variant] = cartList.filter(item => item.id == cartBtn.dataset.id)
      let id = current_variant.sku
      let variant;
      for (let test of current_variant.options_with_values) {
        if (test.name == '尺寸') {
          variant = test.value
        }
      }
      let name ;

      if(current_variant.product_id === 7569254056194 || current_variant.product_id ===7553920368898){
        // sportsbra
        //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
        name = `FIR 美敷肌能®${current_variant.variant_options[0]}運動內衣-${current_variant.variant_options[1]}`

        console.log('name', name)
      }else if(current_variant.product_id === 6977152352434){
        // legging
        //FIR 美敷肌能®壓力褲-全長 寂靜黑
        name = `FIR 美敷肌能®壓力褲-${current_variant.variant_options[0]} ${current_variant.variant_options[1]}`
      }else{
        name = current_variant.product_title
      }
      console.log(
        'name',name,
        'id', id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
        'price', `${current_variant.price / 100}`, //產品價格
        'brand', 'NU Concept 肌能衣研製所',
        'category', current_variant.product_type, //產品類別
        'variant', variant, //尺寸
        'quantity', 1 //購買數量
      )
      dataLayer.push({
        event: 'emp_event',
        eventCategory: 'ecommerce',
        eventAction: 'add_to_cart',
        ecommerce: {
          add: {
            products: [{
              name: name,
              id: id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
              price: `${current_variant.price / 100}`, //產品價格
              brand: 'NU Concept 肌能衣研製所',
              category: current_variant.product_type, //產品類別
              variant: variant, //尺寸
              quantity: 1 //購買數量
            }]
          }
        }
      });

      await changeQuality(cartBtn.dataset.type, cartBtn.dataset.line, cartBtn.dataset.num, cartBtn.dataset.item)

    })
  })

  document.querySelectorAll('.cart-item__remove').forEach(cartBtn => {
    cartBtn.addEventListener('click',async () => {

      const [current_variant] = cartList.filter(item => item.id == cartBtn.dataset.id)
      let id = current_variant.sku
      let variant;
      for (let test of current_variant.options_with_values) {
        if (test.name == '尺寸') {
          variant = test.value
        }
      }
      let name ;
      if(current_variant.product_id === 7569254056194 || current_variant.product_id ===7553920368898){
        // sportsbra
        //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
        name = `FIR 美敷肌能®${current_variant.variant_options[0]}運動內衣-${current_variant.variant_options[1]}`

        console.log('name', name)
      }else if(current_variant.product_id === 6977152352434){
        // legging
        //FIR 美敷肌能®壓力褲-全長 寂靜黑
        name = `FIR 美敷肌能®壓力褲-${current_variant.variant_options[0]} ${current_variant.variant_options[1]}`
      }else{
        name = current_variant.product_title
      }

      console.log(
        "remove all",{
        'name':current_variant.product_title,
        'id': id.split('.')[0]+'.'+id.split('.')[1], //產品SKU，移除尺寸
        'price': `${current_variant.price / 100}`, //產品價格
        'brand': 'NU Concept 肌能衣研製所',
        'category': current_variant.product_type, //產品類別
        'variant': variant, //尺寸
        'quantity': 1 //購買數量
        }
      )
      dataLayer.push({
        event: 'emp_event',
        eventCategory: 'ecommerce',
        eventAction: 'remove_from_cart',
        ecommerce: {
          remove: {
            products: [{
              name: name,
              id: id.split('.')[0]+'.'+id.split('.')[1],
              price: `${current_variant.price / 100}`, //產品價格
              brand: 'NU Concept 肌能衣研製所',
              category: current_variant.product_type, //產品類別
              variant: variant, //尺寸
              quantity: current_variant.quantity //購買數量
            }]
          }
        }
      });
      let href = cartBtn.getAttribute('href')
      await jQuery.get(href);
       location.reload()
    })
  })
})


</script>
<style>
.cart-collapse{
  display:none;
}
.docapp-coupon-input{
  {% if section.settings.show_coupon_input %}
  visibility: visible;

  {% else %}
  visibility: hidden;

  {% endif %}
}
@media (max-width: 600px) {

.cart__footer{
  padding-top: 0px !important;
}
.cart-collapse {
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    width: 100%;
    display:block;
}

.cart-collapse__title {
  padding:10px 0;
}

.cart-collapse__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 15px;
    height: 2px;
}

.cart-collapse__plus {}

.cart-collapse__plus:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #545454;
    transform: rotate(90deg);
}

.cart-collapse__plus:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: #545454;
}

.cart-collapse__minus {
    background-color: #545454;
}
.cart__footer-left{
  margin-top:20px;
    height:0;
    overflow: hidden;
    transition: display 0s, height .2s;

}
.cart__footer-right{
  margin-top:10px;
}
.cart__footer-left--active{
  box-sizing: border-box;
  height: 200px;
}
.hide-element{
    display: none;
  }
}
</style>

{% schema %}
{
  "name": {
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito de compras",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": {
        "da": "Aktivér automatisk opdatering af indkøbskurv",
        "de": "Automatische Warenkorbaktualisierungen aktivieren",
        "en": "Enable automatic cart updates",
        "es": "Habilitar las actualizaciones automáticas del carrito de compra",
        "fi": "Ota automaattinen ostoskorin päivitykset käyttöön",
        "fr": "Activer les mises à jour automatiques",
        "hi": "स्वचालित कार्ट अपडेट सक्षम करें",
        "it": "Abilita aggiornamenti automatici carrello",
        "ja": "自動カートの更新を有効にする",
        "ko": "자동 카트 업데이트 활성화하기",
        "nb": "Aktiver automatiske oppdateringer av handlekurven",
        "nl": "Automatische winkelwagen-updates inschakelen",
        "pt-BR": "Permitir atualizações automáticas do carrinho",
        "pt-PT": "Ativar atualizações automáticas do carrinho",
        "sv": "Aktivera automatiska uppdateringar av varukorgen",
        "th": "เปิดใช้งานการอัปเดตตะกร้าสินค้าอัตโนมัติ",
        "zh-CN": "启用购物车自动更新功能",
        "zh-TW": "啟用自動更新購物車"
      },
      "info": {
        "da": "Opdaterer indkøbskurven, så snart kunden foretager ændringer",
        "de": "Aktualisiert den Warenkorb, sobald Kundenänderungen vorgenommen werden",
        "en": "Updates the cart as soon as customer changes are made",
        "es": "Actualiza el carrito de compra tan pronto como el cliente realice cambios",
        "fi": "Päivittää ostoskorin heti, kun asiakkaan muutokset on tehty",
        "fr": "Mise à jour du panier dès que les modifications apportées aux clients ont été effectuées",
        "hi": "ग्राहक के द्वारा परिवर्तन करते ही कार्ट को अपडेट हो जाता है",
        "it": "Aggiorna il carrello appena il cliente apporta le modifiche",
        "ja": "お客様が変更されるとすぐにカートを更新します",
        "ko": "고객 변경 시 카트를 업데이트합니다.",
        "nb": "Oppdaterer handlekurven så snart kundens endringer er gjort",
        "nl": "De winkelwagen wordt bijgewerkt zodra de klant wijzigingen aanbrengt",
        "pt-BR": "Atualiza o carrinho assim que o cliente faz alterações",
        "pt-PT": "Atualiza o carrinho assim que o cliente faz alterações",
        "sv": "Uppdaterar varukorgen så snart kundändringar görs",
        "th": "อัปเดตตะกร้าสินค้าเมื่อลูกค้าได้ทำการเปลี่ยนแปลง",
        "zh-CN": "客户做出更改后立即更新购物车",
        "zh-TW": "在顧客進行變更時立即更新購物車"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_coupon_input",
      "label": "顯示輸入折扣碼欄位",
      "default": true
    }
  ]
}
{% endschema %}