{% render 'section--collection-list' with
  id: section.id,
  section_contrast: section.settings.section_contrast,

  columns: section.settings.columns,
  aspect_ratio: section.settings.aspect_ratio,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  text_max_width: section.settings.text_max_width,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Collection list",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          {
            "label": "Natural",
            "value": "natural"
          },
          {
            "label": "Round (1:1)",
            "value": "round"
          },
          {
            "label": "Square (1:1)",
            "value": "square"
          },
          {
            "label": "Landscape (3:2)",
            "value": "landscape"
          },
          {
            "label": "Portrait (2:3)",
            "value": "portrait"
          }
        ],
        "default": "natural"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 3
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "subheading",
            "type": "textarea",
            "label": "Subheading"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
