{%- liquid
  if section.settings.show_collection_description
    assign collection_description = collection.description
  endif

  if section.settings.show_collection_image and collection.image != blank
    assign show_collection_image = true
  endif

  assign paginated = false
  if section.settings.pagination == 'paginated'
    assign paginated = true
  endif

  assign filters_exist = false

  unless collection.tags.size == 0 and section.settings.show_sort == false
  endunless

  assign cat_string = blank
  assign cat_all_string = blank
  assign unorganized_cat_string = blank

  for tag in collection.all_tags
    if tag contains '_'
      assign category = tag | split: '_' | first
      assign cat_all_string = cat_all_string | append: '|' | append: category
      assign cat_string = cat_string | append: '|' | append: category
    else
      assign unorganized_cat_string = unorganized_cat_string | append: '|' | append: tag
    endif
  endfor
  assign all_categories = cat_all_string | remove_first: '|' | split: '|' | uniq
  assign unorganized_categories = unorganized_cat_string | remove_first: '|' | split: '|' | uniq

  assign disable_image_style = true
  if section.settings.collection_image_aspect_ratio == 'natural'
    assign disable_image_style = false
  endif
-%}

<section
  data-section-id="{{ section.id }}"
  data-section-type="collection"
  data-pagination-type="{{ section.settings.pagination }}"
  data-collection-item-count="{{ collection.all_products_count }}"
  class="
    collection
    collection--columns-{{ section.settings.columns }}
    collection--pagination-{{ section.settings.pagination }}
    collection--image-aspect-{{ section.settings.collection_image_aspect_ratio }}
    {% if show_collection_image -%}collection--has-image{%- endif %}
  "
  style="--text-max-width: {{ section.settings.text_max_width }}rem;"
>
  <div class="collection__inner">
    {%- if collection.all_products_count > 0 -%}
      <script data-tags type="application/json">
        {% if collection.all_tags.size > 0 %}
          [
          {%- for tag in collection.all_tags -%}
            { "label": "{{ tag | escape }}", "handle": "{{ tag | handleize }}" }
            {%- if forloop.last == false -%},
            {%- endif -%}
          {%- endfor -%}
          ]
        {% else %}
          []
        {% endif %}
      </script>

      {% paginate collection.products by section.settings.per_page %}
        <header class="collection__header">
          <div class="collection__header-text">
            {%
              render 'section-header',
              heading: collection.title,
              subheading: collection_description,
              classes: 'section-header--large section-header--center',
            %}
          </div>

          {% if show_collection_image %}
            <div class="collection__header-image-wrapper">
              {%
                render 'image' with
                image: collection.image,
                wrapper_class: 'lazyload collection__header-image',
                disable_style: disable_image_style
              %}
            </div>
          {% endif %}
        </header>

        <div class="collection__container">
          <div class="collection__content">
            <div class="collection__filters" data-filter-bar>
              {%
                render 'filter-bar' with
                show_sort: section.settings.show_sort,
                show_filters: section.settings.show_filters
              %}

              {%
                render 'mobile-filters' with
                show_sort: section.settings.show_sort,
                show_filters: section.settings.show_filters
              %}
            </div>

            <div class="collection__main-area">
              <div class="collection__window">
                <div class="collection__loading" data-loading>
                  {% render 'loader' %}
                </div>

                <div data-partial id="root">
                  <div class="collection__top-row">
                    {%- render 'collection-top-bar' -%}
                  </div>
                  <div class="collection__products collection__infinite-container collection__products-column">
                    {% for product in collection.products %}
                      {%
                        render 'product-item' with
                        product: product,
                        aspect_ratio: section.settings.aspect_ratio,
                        enable_hover_options: section.settings.show_swatches_and_chips,
                        product_columns: section.settings.columns
                      %}
                    {% else %}
                      <div class="collection__empty">
                        <div>{{ 'collections.general.no_products' | t }}</div>
                        <button class="btn btn--text-link" data-clear="true" type="button">
                          {{ 'collections.filters.clear_filters' | t }}
                        </button>
                      </div>
                    {% endfor %}
                  </div>

                  {% unless paginated %}
                    <div class="collection__infinite-trigger">
                      {% if paginate.next %}
                        <a href="{{ paginate.next.url }}" class="btn btn--secondary no-transition">
                          {{- 'general.pagination.load_more' | t -}}
                        </a>
                      {% endif %}
                    </div>
                  {% endunless %}

                  {% if paginated %}
                    <div>
                      {% if paginate.pages > 1 %}
                        {%
                          render 'pagination' with
                          paginate: paginate,
                          type: 'general.pagination.products'
                        %}
                      {% else %}
                        {%
                          render 'pagination' with
                          paginate: paginate,
                          type: 'general.pagination.products',
                          display_paginate_item_count_only: true
                        %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endpaginate %}

      {%
        render 'collection-modal' with
        filter_type: section.settings.filter_type,
        categories: all_categories,
        unorganized_categories: unorganized_categories,
        show_sort: section.settings.show_sort
      %}
    {%- else -%}
      <div class="collection__empty ta-c">
        <p class="fs-body-base fs-body-large-ns">{{ 'collections.general.no_matches' | t }}</p>
        <a class="btn btn--text-link" href="{{ routes.all_products_collection_url }}">{{ 'general.404.link' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</section>

<script>
    window.addEventListener("DOMContentLoaded", function () {

      console.log({{ collection.products | json }})
      dataLayer = window.dataLayer || [];
      const dataInfo = [];
      const collectionTitle = "{{ collection.title }}"
      const collectionProduct = {{ collection.products | json }}
      collectionProduct.forEach((item,index)=>{
        if(index<20){
          let name;
          let id = item.variants[0].sku
          id = id.split('.')
          id.pop()
  //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
          if(item.type === '運動內衣'){

            name = `FIR 美敷肌能®${item.variants[0].option1}運動內衣-${item.variants[0].option2}`
          }else if (item.type === "壓力褲"){
          //FIR 美敷肌能®壓力褲-全長 寂靜黑

            name = `FIR 美敷肌能®壓力褲-${item.variants[0].option1} ${item.variants[0].option2}`
          }else{
            name = item.title
          }
          dataInfo.push({
            name: name,
            id:id.join("."),
            price: `${item.price/100}`,
            brand: 'NU Concept 肌能衣研製所',
            category: item.type,
            list: collectionTitle,
            position: index+1
        })
        }

      })
      console.log('dataInfo', dataInfo)

    dataLayer.push({
      event : 'emp_event',
      eventCategory : 'ecommerce',
      eventAction : 'view_item_list',
      ecommerce: {
        impressions: dataInfo
      }
    });
  // 針對個別 product item
    document.querySelectorAll('.product-item__image-link').forEach((item,index)=>{

      item.addEventListener('click',async ()=>{
        let id = collectionProduct[index].variants[0].sku;
        id = id.split('.');
        id.pop();
        let name ;
        if(item.type === '運動內衣'){
          //FIR 美敷肌能®後交叉運動內衣-沙漠玫瑰粉
            name = `FIR 美敷肌能®${item.dataset.option1}運動內衣-${item.dataset.option2}`
          }else if (item.type === "壓力褲"){
          //FIR 美敷肌能®壓力褲-全長 寂靜黑
            name = `FIR 美敷肌能®壓力褲-${item.dataset.option1} ${item.dataset.option2}`
          }else{
            name = item.title
          }
        let dataInfo = {
          event : 'emp_event',
          eventCategory : 'ecommerce',
          eventAction : 'select_item',
          ecommerce: {
            click: {
              actionField: {list: collectionTitle},    //所屬清單標題
              products: [{   //被點擊的產品資訊
                name: name,
                id: id.join("."),
                price: `${collectionProduct[index].price/100}`,
                category: collectionProduct[index].type,
                list: collectionTitle,
                position: index+1
              }]
            }
          },
          'eventCallback': function() {
            document.location = item.href //目標連結 <- 這邊會轉址
          }
        }
        console.log('select item',dataInfo);
        await dataLayer.push(dataInfo);
      })
    })
  })
</script>

<style>
      /*  Pre order app [限量預購 badge]  */

      .timesact-badge-common{
        z-index:2 !important;
      }
      .timesact-badge-rounded-span{
        padding: 10px !important;
        width: 80px;
        height: 80px;
        border-radius: 50% !important;
        display:flex !important;
        justify-content:center;
        align-items:center;
        background: linear-gradient(rgb(216, 155, 160) 0%, rgb(177, 54, 64) 100%) !important;
        box-shadow: rgb(0 0 0) 0px 3px 10px -5px;
        border : unset !important;
      }
      @media(max-width:600px) {
      .collection__products-column {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        width: 100%; grid-row-gap: 10px;
      }
      .product-item__wording {
        margin-top: 5px;
      }
      .product-item-custom {
        line-height: 24px;
      }
  /*  pre order app */
  .timesact-badge-rounded-span{
    padding: 5px !important;
    width: 57px;
    height: 57px;
    font-size:10px !important;

  }
    }
</style>
{% comment %}
  {% if sp_paginate_by %}{% render 'spurit_po2_collection_template_snippet', paginate_by: sp_paginate_by %}{% endif %}
{% endcomment %}
{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "header",
      "content": "Collection header"
    },
    {
      "id": "show_collection_image",
      "type": "checkbox",
      "label": "Show collection image",
      "default": false
    },
    {
      "id": "collection_image_aspect_ratio",
      "type": "select",
      "label": "Collection image aspect ratio",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Landscape (3:2)",
          "value": "landscape"
        },
        {
          "label": "Portrait (2:3)",
          "value": "portrait"
        }
      ],
      "default": "natural"
    },
    {
      "id": "show_collection_description",
      "type": "checkbox",
      "label": "Show collection description",
      "default": true
    },
    {
      "type": "range",
      "id": "text_max_width",
      "label": "Max width of text",
      "min": 24,
      "max": 48,
      "step": 1,
      "default": 42
    },
    {
      "type": "header",
      "content": "Filtering"
    },
    {
      "id": "show_sort",
      "type": "checkbox",
      "label": "Show sort options",
      "default": false
    },
    {
      "id": "show_filters",
      "type": "checkbox",
      "label": "Show filters",
      "default": false
    },
    {
      "id": "filter_type",
      "type": "select",
      "label": "Filter type",
      "options": [
        {
          "label": "By group",
          "value": "by_group"
        },
        {
          "label": "By tag",
          "value": "by_tag"
        }
      ],
      "default": "by_tag",
      "info": "To learn more about setting up group filters check out our [documentation](https://fluorescent.co/help/spark/collection-pages/#how-to-set-up-the-groups-filter-style)."
    },
    {
      "type": "header",
      "content": "Collection"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "id": "per_page",
      "type": "range",
      "label": "Products per page",
      "default": 12,
      "min": 12,
      "max": 36,
      "step": 12
    },
    {
      "type": "select",
      "id": "pagination",
      "label": "Pagination",
      "default": "paginated",
      "options": [
        {
          "value": "infinite",
          "label": "Infinite"
        },
        {
          "value": "click",
          "label": "Click to load"
        },
        {
          "value": "paginated",
          "label": "Paginated"
        }
      ],
      "info": "Choose how additional pages of products are navigated."
    },
    {
      "id": "show_swatches_and_chips",
      "type": "checkbox",
      "label": "Show swatches and chips",
      "info": "Reveals product options on hover. To learn more about setting up swatches and chips, check out our [documentation](https://fluorescent.co/help/spark/product-pages#set-up-product-chips).",
      "default": false
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "Image aspect ratio",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Landscape (3:2)",
          "value": "landscape"
        },
        {
          "label": "Portrait (2:3)",
          "value": "portrait"
        }
      ],
      "default": "natural"
    }
  ]
}
{% endschema %}
