{%- liquid
  assign has_image = false

  if section.settings.image != blank
    assign has_image = true
  endif
-%}

{%- capture contact_form -%}

{%- endcapture -%}

<section
  class="contact{% if has_image %} contact--has-image{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="contact"
>
  <div class="contact__inner">
    {% if has_image %}
      <div class="contact__image">
        {% render 'image' with image: section.settings.image %}
      </div>
    {% endif %}

    <div class="contact__content">
      <header class="contact__header page__header">
        <h1 class="contact__heading page__heading ff-heading fs-heading-2-large fs-heading-1-base-ns">{{ page.title }}</h1>
      </header>

      {%- if page.content != blank -%}
        <div class="contact__rte page__rte">
          {{ page.content }}
        </div>
      {%- endif -%}

      {% form 'contact', class: 'contact__form' %}
        {%- assign success_msg = 'contact.form.post_success' | t -%}
        {% render 'form-status', form: form, form_id: 'contact', success_message: success_msg %}

        <label for="contact-ContactFormName" class="visually-hidden">{{ 'contact.form.name' | t }}</label>
        <input
          type="text"
          name="contact[name]"
          id="contact-ContactFormName"
          class="input"
          placeholder="{{ 'contact.form.name' | t }}"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
        />

        <label for="contact-ContactFormEmail" class="visually-hidden">{{ 'contact.form.email' | t }}</label>
        <input
          type="email"
          name="contact[email]"
          id="contact-ContactFormEmail"
          class="input"
          placeholder="{{ 'contact.form.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
        >

        <label for="contact-ContactFormPhone" class="visually-hidden">{{ 'contact.form.phone' | t }}</label>
        <input
          type="tel"
          name="contact[phone]"
          id="contact-ContactFormPhone"
          class="input-reset input w-100"
          placeholder="{{ 'contact.form.phone' | t }}"
          value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          pattern="[0-9\-]*"
        >

        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <textarea
          rows="10"
          name="contact[body]"
          id="contact-ContactFormMessage"
          class="input-reset input w-100"
          placeholder="{{ 'contact.form.message' | t }}"
          required
        >
          {%- if form.body -%}
            {{- form.body -}}
          {%- endif -%}
        </textarea>

        <button type="submit" class="btn btn--primary btn--form">{{ 'contact.form.submit' | t }}</button>

      {% endform %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Contact page",
    "class": "page-section",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image",
        "info": "Use an image with a 2:3 width to height ratio (recommended)."
      }
    ]
  }
{% endschema %}
