{%- render 'section--faq' with
  section_contrast: section.settings.section_contrast,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  blocks: section.blocks,
-%}

{% schema %}
  {
    "name": "Questions and answers",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Questions and Answers"
      },
      {
        "id": "subheading",
        "type": "textarea",
        "label": "Subheading"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 15,
    "blocks": [
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Question",
            "default": "This is an example of a question that a customer might ask"
          },
          {
            "id": "answer",
            "type": "richtext",
            "label": "Answer",
            "default": "<p>\"This is an example of a response that you might give. It's good to be as thorough as possible in responses as that has a tendency to improve trust overall.\"</p>"
          },
          {
            "id": "author",
            "type": "text",
            "label": "Author name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Questions and answers",
        "category": "Store information",
        "blocks": [
          {
            "type": "question",
            "settings": {
              "title": "This is an example of a question that a customer might ask",
              "author": "Author name"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "This is another example of a question that a customer might ask",
              "author": "Author name"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "This is an example of a third question that a customer might ask",
              "author": "Author name"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "This is an example of a fourth question a customer might ask",
              "author": "Author name"
            }
          },
          {
            "type": "question",
            "settings": {
              "title": "This is the fifth and final question that a customer might ask",
              "author": "Author name"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
