{% comment %}
  {% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.collection].products %}
{% endcomment %}

{%
  render 'section--featured-collection' with
  id: section.id,
  section_contrast: true,
  collection: collections[section.settings.collection]
  columns: section.settings.columns,
  aspect_ratio: section.settings.aspect_ratio,

  heading: section.settings.title,
  subheading: section.settings.subheading,
  link_text: section.settings.link_text,
  text_max_width: section.settings.text_max_width,
%}

{% schema %}
{
  "name": "Featured collection",
  "class": "shopify-section--stackable",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "id": "title",
      "type": "textarea",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "id": "subheading",
      "type": "richtext",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button label"
    },
    {
      "type": "range",
      "id": "text_max_width",
      "label": "Max width of text",
      "min": 24,
      "max": 48,
      "step": 1,
      "default": 36
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "Image aspect ratio",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Landscape (3:2)",
          "value": "landscape"
        },
        {
          "label": "Portrait (2:3)",
          "value": "portrait"
        }
      ],
      "default": "natural"
    }
  ]
}
{% endschema %}
