<!-- {% include 'spurit_po2_section_snippet', product: all_products[section.settings.product], products: null %}
 -->
 {% liquid
  assign product = all_products[section.settings.product]
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign enable_video_looping = section.settings.enable_video_looping
%}


<section
  data-section-id="{{ section.id }}"
  data-section-type="featured-product"
  {% if product == blank %}
    data-placeholder="true"
  {% endif %}
  data-product-has-only-default-variant="{{ product.has_only_default_variant }}"
  class="
    featured-product
    section
    {% if section.settings.section_contrast -%}
      section--contrast
    {%- endif %}
  "
>
  <div class="featured-product__inner section__inner">
    <div class="featured-product__media-container">
      <div class="product__media">
        {%- if product != blank -%}
          {%- for media in product.media -%}
            <div
              class="product__media-item {% unless media.id == featured_media.id %} hidden{% endunless %}"
              data-media-item-id="{{ media.id }}"
              data-product-media-wrapper
            >
              {% render 'media', media: media, featured_media: featured_media, loop_video: section.settings.enable_video_looping %}
            </div>
          {%- endfor -%}
        {%- else -%}
          <div class="featured-product__media visible">
            <div class="placeholder-image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="featured-product__details">
      <div class="product__details">
        <div class="product__meta">
          {%- if product != blank -%}
            <h1 class="product__title ff-heading fs-heading-2-large fs-heading-1-base-ns">{{ product.title }}</h1>

            <div class="product__price">
              <span class="fs-heading-4-base" data-price>{{ current_variant.price | money }}</span>

              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {%- if current_variant.compare_at_price > current_variant.price -%}
                  {{ current_variant.compare_at_price | money }}
                {%- endif -%}
              </s>
              {% render 'unit-price' item: current_variant %}
            </div>

              <div class="product__vendor-sku-wrapper">

                {%- if section.settings.show_vendor -%}
                  <div class="product__vendor btn btn--text-link">{{ product.vendor | link_to_vendor }}</div>
                {%- endif -%}

                {%- if section.settings.show_sku -%}
                  <div class="product__sku" data-product-sku>
                    {%- if current_variant.sku != blank -%}
                      {{ 'products.product.sku_with_value' | t: value: current_variant.sku }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>

            {% render 'product-form' with
              product: product,
              current_variant: current_variant,
              show_quantity: section.settings.show_quantity_input,
              show_dynamic_checkout: section.settings.enable_payment_button,
              show_labels: section.settings.show_labels,
            %}

            {%- comment -%}
              Live region for announcing updated price and availability to screen readers
            {%- endcomment -%}
            <p class="visually-hidden" data-product-status
              aria-live="polite"
              role="status"
            ></p>

            {%- comment -%}
              Live region for announcing that the product form has been submitted and the
              product is in the process being added to the cart
            {%- endcomment -%}
            <p class="visually-hidden" data-loader-status
              aria-live="assertive"
              role="alert"
              aria-hidden="true"
            >{{ 'products.product.loader_label' | t }}</p>

            {% if product != blank %}
              <a href="{{ product.url }}" data-link="{{ product.url }}" class="featured-product__cta btn btn--text-link">{{ 'sections.featured_product.view_product' | t }}</a>
            {% endif %}
          {%- else -%}
            <h1 class="product__title ff-heading fs-heading-2-large fs-heading-1-base-ns">{{ 'sections.featured_product.placeholder.title' | t }}</h1>
            <div class="product__price">
              <div class="fs-heading-4-base">$99.99</div>
            </div>

            <div class="product__vendor-sku-wrapper">

              {%- if section.settings.show_vendor -%}
                <div class="product__vendor btn btn--text-link">{{ 'sections.featured_product.placeholder.vendor' | t }}</div>
              {%- endif -%}
            </div>
          </div>
        </div>

      {%- endif -%}
    </div>
  </div>

  {%- assign images = product.media | where: 'media_type', 'image' -%}
  {% render 'lightbox' with images: images %}
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "shopify-section--stackable shopify-section--image-first",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_labels",
      "label": "Show labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity_input",
      "label": "Show quantity input",
      "info": "If disabled, quantity added will default to 1.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "id": "enable_video_looping",
      "type": "checkbox",
      "label": "Enable video looping",
      "default": true
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "id": "section_contrast",
      "type": "checkbox",
      "label": "Use alternate section color",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Product"
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>
