{% render 'section--featured-collection-row' with
  id: section.id,
  section_contrast: section.settings.section_contrast,
  collection: collections[section.settings.collection]
  columns: section.settings.columns,
  aspect_ratio: section.settings.aspect_ratio,

  heading: section.settings.title,
  subheading: section.settings.subheading,
  link_text: section.settings.link_text,
  text_max_width: section.settings.text_max_width,
  text_alignment: section.settings.text_alignment,
%}

{% schema %}
  {
    "name": "Featured collection row",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Collection"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button label"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 39
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured collection row",
        "category": "Collection",
        "settings": {
          "subheading": "<p>Add a subheading to provide more details about this collection.</p>"
        }
      }
    ]
  }
{% endschema %}
