{%- liquid
  assign show_locale_selector = section.settings.show_locale_selector
  assign show_currency_selector = section.settings.show_currency_selector
  assign show_payment_icons = section.settings.show_payment_icons
  assign content = section.blocks

  assign locale_selector = false
  assign currency_selector = false
  assign payment_icons = false

  if show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  if show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if show_payment_icons and shop.enabled_payment_types != empty
    assign payment_icons = true
  endif

  assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, LinkedIn' | split: ', '
  assign social_count = 0

  for social in social_accounts
    assign social_handle = social | handleize
    assign social_link = "social_" | append: social_handle | append: '_link'

    if settings[social_link] != blank
      assign social_count = social_count | plus: 1
    endif
  endfor

  assign show_social_icons = false

  if section.settings.show_social_icons and social_count != 0
    assign show_social_icons = true
  endif

-%}
{% if settings.product-feature-margin == false %}
  <style>.shopify-section--contrast{
margin-top:0 !important;
}</style>
{% endif %}
<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer" style="
                    --color-background-input: {{ settings.color_text_footer | color_modify: 'alpha', 0.2 }};
                    --color-background-input-hover: {{ settings.color_text_footer | color_modify: 'alpha', 0.25 }};
                    --color-background-input-hover-dull: {{ settings.color_text_footer | color_modify: 'alpha', 0.1 }};
                    --color-background-input-highlight: {{ settings.color_text_footer | color_modify: 'alpha', 0.35 }};
                    --color-text-input: {{ settings.color_text_footer | color_modify: 'alpha', 0.95 }};
                  ">
  <div class="footer__inner">
    <div class="footer__groups">
      {% for block in content %}
        <div class="footer__group footer__group--{{ block.type }} footer__group--{{ forloop.index }}">
          <button class="footer__header" data-header type="button">
            <span class="footer__heading ff-heading fs-heading-4-base">{{ block.settings.title }}</span>
            <span class="footer__arrow">{% render 'icon', icon: 'triangle' %}</span>
          </button>
          <div class="footer__group-content">
            {%- if block.type == 'text' -%}
              <div class="fs-body-base footer__text">{{ block.settings.text }}</div>

            {%- elsif block.type == 'menu' -%}
              <div class="footer__links fs-body-base">
                {% if linklists[block.settings.link_list].links.size > 0 %}
                  <ul>
                    {% for link in linklists[block.settings.link_list].links %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

            {%- elsif block.type == 'newsletter' -%}
              {%- assign success_msg = 'general.newsletter_form.confirmation' | t -%}

              <div class="footer__newsletter">
                <div class="fs-body-base footer__text">{{ block.settings.text }}</div>

                {% form 'customer', class: 'footer__newsletter-form', id: 'footer-subscribe' %}
                  {% render 'form-status', form: form, form_id: 'footer-subscribe', success_message: success_msg %}

                  {%- unless form.posted_successfully? -%}
                    <div class="footer__newsletter-inner">
                      <input name="contact[tags]" type="hidden" value="newsletter">
                      <label class="visually-hidden" for="footer-subscribe-email">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                      <input type="email" class="input" name="contact[email]" id="footer-subscribe-email" value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" autocorrect="off" autocapitalize="off">
                      <button type="submit" name="commit" id="Subscribe-footer" class="footer__newsletter-button" aria-label="{{ 'general.newsletter_form.submit' | t }}">
                        {%- render 'icon' with icon: 'arrow-circle' -%}
                      </button>
                    </div>
                  {%- endunless -%}
                {% endform %}
              </div>
            {%- endif -%}
          </div>
        </div>
      {% endfor %}

      {%- if currency_selector -%}
        <div class="footer__group footer__group--mobile">
          <button class="footer__header" data-header type="button">
            <span class="footer__heading ff-heading fs-heading-4-base">
              {{ 'sections.footer.headings.currency' | t }}
            </span>
            <span class="footer__arrow">{% render 'icon', icon: 'triangle' %}</span>
          </button>
          <div class="footer__group-content">
            {% render 'cross-border' with
              show_currency: currency_selector,
              id: 'mobile-currency'
            %}
          </div>
        </div>
      {%- endif -%}

      {%- if locale_selector  -%}
        <div class="footer__group footer__group--mobile">
          <button class="footer__header" data-header type="button">
            <span class="footer__heading ff-heading fs-heading-4-base">
              {{ 'sections.footer.headings.language' | t }}
            </span>
            <span class="footer__arrow">{% render 'icon', icon: 'triangle' %}</span>
          </button>
          <div class="footer__group-content">
            {% render 'cross-border' with
              show_locale: locale_selector,
              id: 'mobile-locale'
            %}
          </div>
        </div>
      {%- endif -%}

      {%- if payment_icons -%}
        <div class="footer__group footer__group--mobile">
          <button class="footer__header" data-header type="button">
            <span class="footer__heading ff-heading fs-heading-4-base">{{ 'sections.footer.headings.payment' | t }}</span>
            <span class="footer__arrow">{% render 'icon', icon: 'triangle' %}</span>
          </button>
          <button class="footer__group-content" type="button">
            {% render 'payment-icons' %}
          </button>
        </div>
      {%- endif -%}
    </div>

    {%- if content.size > 0 -%}
      <hr class="footer__rule"/>
    {%- endif -%}

    {%- if locale_selector or currency_selector or show_social_icons or payment_icons -%}
      <div class="footer__bottom">
        {%- if locale_selector or currency_selector or show_social_icons -%}
          <div class="footer__bottom-left">
            {% render 'cross-border' with
              show_locale: locale_selector,
              show_currency: currency_selector,
              id: 'footer'
            %}

            {%- if show_social_icons -%}
              {% render 'social-icons' %}
            {%- endif -%}
          </div>
        {%- endif -%}

        <div class="footer__bottom-right">
          {%- if payment_icons -%}
            {% render 'payment-icons' %}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    {%- if show_social_icons -%}
      <div class="footer__mobile-social-icons">
        {% render 'social-icons' %}
      </div>
    {%- endif -%}

    <div class="footer__credits fs-body-x-small">
      <p>{{ 'sections.footer.copyright' | t }}
        &copy;
        {{ 'now' | date: "%Y" }},
        {{ shop.name | link_to: '/' }}.</p>
      <p>{{ powered_by_link }}</p>
    </div>
    <div style="display:none">
      <img src="{{settings.line_qr_code | img_url:'60x60'}}">
      <img src="{{settings.fb_qr_code | img_url:'60x60'}}">
      <img src="{{settings.ig_qr_code | img_url:'60x60'}}">
    </div>
  </div>
</footer>

<script>
  window.addEventListener("DOMContentLoaded", function () {
  window.dataLayer = window.dataLayer || []; 
  //getCollectionList()
    // 點擊 line 官方
    document.querySelectorAll("#icon-line").forEach((item)=>{
	item.addEventListener('click',()=>{
	console.log('record line', dataLayer);
	dataLayer.push({'eventCategory':'social','eventAction':'加入line好友','event':'emp_event'});					

	})
	})
  }
)

</script>
{% schema %}

{
  "name": "Footer",
  "class": "footer__parent",
  "settings": [
    {
      "type": "header",
      "content": {
        "da": "Sprogvælger",
        "de": "Sprachauswahl",
        "en": "Language Selector",
        "es": "Selector de idioma",
        "fi": "Kielenvalitsin",
        "fr": "Sélecteur de langue",
        "hi": "भाषा चयनकर्ता",
        "it": "Selettore lingua",
        "ja": "言語セレクター",
        "ko": "언어 선택기",
        "nb": "Språkvelger",
        "nl": "Taalkiezer",
        "pt-BR": "Seletor de idiomas",
        "pt-PT": "Seletor de Idioma",
        "sv": "Språkväljare",
        "th": "ตัวเลือกภาษา",
        "zh-CN": "语言选择器",
        "zh-TW": "語言選擇器"
      },
      "info": {
        "da": "Du kan tilføje et sprog ved at gå til dine [sprogindstillinger.](/admin/settings/languages)",
        "de": "Gehen Sie zu Ihren [Spracheinstellungen](/admin/settings/languages), um eine Sprache hinzuzufügen.",
        "en": "To add a language, go to your [language settings.](/admin/settings/languages)",
        "es": "Para agregar un idioma, ve a tu[configuración de idioma](/admin/settings/languages)",
        "fi": "Lisää kieli siirtymällä [kieliasetuksiin.](/admin/settings/languages)",
        "fr": "Pour ajouter une langue, allez dans vos [paramètres de langue.](/admin/settings/languages).",
        "hi": "भाषा जोड़ने के लिए, अपने [language settings.](/admin/settings/languages) पर जाएं",
        "it": "Per aggiungere una lingua, vai su [impostazioni della lingua.](/admin/settings/languages)",
        "ja": "言語を追加するには、[言語設定](/admin/settings/languages) に移動します。",
        "ko": "언어를 추가하려면 [언어 설정.](/admin/settings/languages)(으)로 이동하십시오.",
        "nb": "For å legge til et språk, går du til dine [språkinnstillinger.](/admin/settings/languages)",
        "nl": "Ga naar uw [taalinstellingen.](/admin/settings/languages) om een taal toe te voegen.",
        "pt-BR": "Para adicionar um idioma, acesse suas [configurações de idioma. ](/admin/settings/languages)",
        "pt-PT": "Para adicionar um idioma, aceda a [definições de idioma.](/admin/settings/languages)",
        "sv": "För att lägga till ett språk, gå till dina [språkinställningar.](/admin/settings/languages)",
        "th": "หากต้องการเพิ่มภาษา ให้ไปที่ [การตั้งค่าภาษา ](/admin/settings/languages) ของคุณ",
        "zh-CN": "若要添加语言，请转到您的 [语言设置。](/admin/settings/languages)",
        "zh-TW": "若要新增語言，請前往 [語言設定。](/admin/settings/languages)"
      }
    }, {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": {
        "da": "Vis sprogvælger",
        "de": "Sprachauswahl anzeigen",
        "en": "Show language selector",
        "es": "Mostrar el selector de idioma",
        "fi": "Näytä kielenvalitsin",
        "fr": "Afficher le sélecteur de langue",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore lingua",
        "ja": "言語セレクターを表示する",
        "ko": "언어 선택기 표시",
        "nb": "Vis språkvelger",
        "nl": "Taalkiezer weergeven",
        "pt-BR": "Mostrar seletor de idioma",
        "pt-PT": "Mostrar seletor de idioma",
        "sv": "Visa språkväljare",
        "th": "แสดงตัวเลือกภาษา",
        "zh-CN": "显示语言选择器",
        "zh-TW": "顯示語言選擇器"
      },
      "default": true
    }, {
      "type": "header",
      "content": {
        "da": "Valutavælger",
        "de": "Währungsauswahl",
        "en": "Currency Selector",
        "es": "Selector de moneda",
        "fi": "Valuutanvalitsin",
        "fr": "Sélecteur de devise",
        "hi": "मुद्रा चयनकर्ता",
        "it": "Selettore di valuta",
        "ja": "通貨セレクター",
        "ko": "통화 선택기",
        "nb": "Valutavelger",
        "nl": "Valutakiezer",
        "pt-BR": "Seletor de moeda",
        "pt-PT": "Seletor de Moeda",
        "sv": "Valutaväljare",
        "th": "ตัวเลือกสกุลเงิน",
        "zh-CN": "货币选择器",
        "zh-TW": "幣別選擇器"
      },
      "info": {
        "da": "Du kan tilføje en valuta ved at gå til dine [betalingsindstillinger.](/admin/settings/payments)",
        "de": "Gehen Sie zu Ihren [Zahlungseinstellungen](/admin/settings/payments), um eine Währung hinzuzufügen.",
        "en": "To add a currency, go to your [payment settings.](/admin/settings/payments)",
        "es": "Para agregar una moneda, ve a tu [configuración de pago.](/admin/settings/payments)",
        "fi": "Lisää valuutta siirtymällä [maksuasetuksiisi.](/admin/settings/payments)",
        "fr": "Pour ajouter une devise, allez dans vos [paramètres de paiement.](/admin/settings/payments)",
        "hi": "कोई मुद्रा जोड़ने के लिए, अपनी [payment settings.](/admin/settings/payments) में जाएं",
        "it": "Per aggiungere una valuta, vai su [impostazioni pagamento.](/admin/settings/payments)",
        "ja": "通貨を追加するには、[決済設定](/admin/settings/payments) に移動します。",
        "ko": "통화를 추가하려면 [결제 설정](/admin/settings/payments)(으)로 이동하십시오.",
        "nb": "For å legge til en valuta, går du til [betalingsinnstillingene.](/admin/settings/payments)",
        "nl": "Ga naar je [betaalinstellingen.](/admin/settings/payments) om een valuta toe te voegen.",
        "pt-BR": "Para adicionar uma moeda, acesse as [configurações de pagamento.](/admin/settings/payments)",
        "pt-PT": "Para adicionar uma moeda, aceda às suas [definições de pagamento.](/admin/settings/payments)",
        "sv": "Gå till [payment settings ](/admin/settings/payments) för att lägga till en valuta.",
        "th": "หากต้องการเพิ่มสกุลเงิน ให้ไปที่ [การตั้งค่าการชำระเงิน ](/admin/settings/payments)",
        "zh-CN": "若要添加货币，请转到 [支付设置。](/admin/settings/payments)",
        "zh-TW": "若要新增幣別，請前往 [付款設定。](/admin/settings/payments)"
      }
    }, {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": {
        "da": "Vis valutavælger",
        "de": "Währungsauswahl anzeigen",
        "en": "Show currency selector",
        "es": "Mostrar el selector de moneda",
        "fi": "Näytä valuutanvalitsin",
        "fr": "Afficher le sélecteur de devise",
        "hi": "मुद्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore valuta",
        "ja": "通貨セレクターを表示する",
        "ko": "통화 선택기 표시",
        "nb": "Vis valutavelger",
        "nl": "Valutakiezer weergeven",
        "pt-BR": "Mostrar seletor de moeda",
        "pt-PT": "Mostrar seletor de moeda",
        "sv": "Visa valutaväljare",
        "th": "แสดงตัวเลือกสกุลเงิน",
        "zh-CN": "货币选择器显示",
        "zh-TW": "顯示幣別選擇器"
      },
      "default": true
    }, {
      "type": "header",
      "content": "Social media",
      "info": "Configure account links in theme settings."
    }, {
      "id": "show_social_icons",
      "type": "checkbox",
      "label": "Show social icons",
      "default": true
    }, {
      "type": "header",
      "content": "Payment types",
      "info": "Only shows icons for payment types that your store supports."
    }, {
      "id": "show_payment_icons",
      "type": "checkbox",
      "label": "Show payment icons",
      "default": true
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "info": "Include a heading for your text. The heading functions as a toggle on smaller screen sizes.",
          "default": "About us"
        }, {
          "id": "text",
          "type": "textarea",
          "label": "Text"
        }
      ]
    }, {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "info": "Include a heading for your menu. The heading functions as a toggle on smaller screen sizes.",
          "default": "Links"
        }, {
          "id": "link_list",
          "type": "link_list",
          "label": "Footer menu",
          "default": "footer"
        }
      ]
    }, {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "info": "Include a heading for your newsletter. The heading functions as a toggle on smaller screen sizes.",
          "default": "Newsletter"
        }, {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Subscribe for store updates and discounts.</p>"
        }
      ]
    }
  ]
}

{% endschema %}
