{% comment %}
  QR code is rendered in `#qr-code`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

<main class="gift-card {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">
  <header
    role="banner"
    class="gift-card__store-name"
    style="--width-max-logo: {{ section.settings.logo_max_width }}px;"
  >
    {%- if section.settings.logo != blank -%}
      <div class="gift-card__logo">
        {%- render 'image' with image: section.settings.logo -%}
      </div>
    {%- else -%}
      <a href="{{ shop.url }}">
        {{ shop.name }}
      </a>
    {%- endif -%}
  </header>

  <section class="gift-card__container">

    <h1 class="gift-card__title ff-heading fs-heading-2-large fs-heading-1-base-ns">{{ 'gift_cards.issued.subtext' | t }}</h1>
    {% unless gift_card.enabled %}
      <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
    {% endunless %}

    {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

    {% if gift_card.expired and gift_card.enabled %}
      <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}

    {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
      <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}

    <div class="gift-card__graphic">
      <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration">
    </div>

    {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency | strip_html %}

    <h2 class="gift-card__initial-balance">{{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}</h2>

    {% assign formatted_current_balance = gift_card.balance | money %}

    {% if gift_card.balance != gift_card.initial_value %}
      <p class="gift-card__remaining-balance">{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
    {% endif %}

    {%- assign code_size = gift_card.code | format_code | size -%}
    <span id="GiftCardDigits" class="gift-card__code">{{ gift_card.code | format_code }}</span>

    <p>{{ 'gift_cards.issued.redeem' | t }}</p>

    <a href="{{ shop.url }}" class="gift-card__shopping-link btn btn--medium btn--primary" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>

    <div id="qr-code"></div>

    <script>
      new QRCode(document.getElementById('qr-code'), {
        text: '{{ gift_card.qr_identifier }}',
        width: 120,
        height: 120
      });
    </script>

  </section>

  {% if gift_card.pass_url %}
    <a href="{{ gift_card.pass_url }}" class="apple-wallet mv3">
      <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
    </a>
  {% endif %}

  <a href="#" id="PrintGiftCard" class="print-giftcard btn btn--text-link">
    {{ 'gift_cards.issued.print' | t }}
  </a>
</main>


{% schema %}
  {
    "name": "Gift card page",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "id": "logo_max_width",
        "type": "range",
        "min": 50,
        "max": 350,
        "step": 10,
        "unit": "px",
        "label": "Logo max width",
        "default": 200
      }
    ]
  }
{% endschema %}
