{% render 'section--image-with-feature' with
  image: section.settings.image,
  image_width: section.settings.image_width,
  aspect_ratio: section.settings.aspect_ratio,
  text_position: section.settings.text_position,
  text_alignment: section.settings.text_alignment,
  title: section.settings.title,
  section_contrast: section.settings.section_contrast,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Image with features",
    "class": "shopify-section--stackable shopify-section--image-first",
    "settings": [
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_width",
        "type": "select",
        "label": "Image width",
        "options": [
          { "label": "1/2", "value": "half" },
          { "label": "2/3", "value": "two-thirds" }
        ],
        "default": "half"
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Images with Features"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 6,
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "image_shape",
            "type": "radio",
            "label": "Image shape",
            "default": "round",
            "options": [
              { "value": "round", "label": "Round" },
              { "value": "square", "label": "Square" }
            ]
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "id": "subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Use these small paragraph blocks to feature various aspects about a product. You can add up to three of these blocks and each can have an image associated with them."
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with features",
        "category": "Image",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}