{% render 'section--image-with-text' with
  image_1: section.settings.image_1,
  image_2: section.settings.image_2,
  aspect_ratio: section.settings.aspect_ratio,
  image_position: section.settings.image_position,
  text_alignment: section.settings.text_alignment,
  image_width: section.settings.image_width,
  section_contrast: section.settings.section_contrast,
  text_max_width: section.settings.text_max_width,
  title: section.settings.title,
  subheading: section.settings.subheading,
  link: section.settings.link,
  link_text: section.settings.link_text,
%}

{% schema %}
  {
    "name": "Image with text",
    "class": "shopify-section--stackable shopify-section--image-first",
    "settings": [
      {
        "id": "image_1",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "id": "image_width",
        "type": "select",
        "label": "Images width",
        "options": [
          { "label": "1/2", "value": "half" },
          { "label": "2/3", "value": "two-thirds" }
        ],
        "default": "half"
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Images aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Use these sections to promote a particular feature with editorial photography.</p>"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Button label",
        "default": "Read more"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}