{% render 'section--inline-features' with
  columns: section.settings.columns,
  image_shape: section.settings.image_shape,
  text_alignment: section.settings.text_alignment,
  section_contrast: section.settings.section_contrast,
  blocks: section.blocks,
%}

{% schema %}
  {
    "name": "Inline features",
    "class": "shopify-section--stackable shopify-section--extra-small shopify-section--text-first",
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "image_shape",
        "type": "radio",
        "label": "Image shape",
        "default": "round",
        "options": [
          { "value": "round", "label": "Round" },
          { "value": "square", "label": "Square" }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": true
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "id": "show_image",
            "type": "checkbox",
            "label": "Show image",
            "default": true
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Example Title"
          },
          {
            "id": "subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Simple short description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Inline features",
        "category": "Text",
        "blocks": [
          {
            "type": "feature"
          },
          {
            "type": "feature"
          },
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}
