{%- liquid
  assign columns = section.settings.columns
  assign blocks = section.blocks
  assign display = section.settings.display_type
  assign show_description = section.settings.show_description
  assign aspect_ratio = section.settings.aspect_ratio
  assign max_collections = columns | times: 3
-%}

<section
  class="
    list-collections
    list-collections--columns-{{ columns }}
    page
  "
>
  <div class="list-collections__inner page__inner">
    <header class="list-collections__header page__header">
      <h1 class="list-collections__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ page_title }}</h1>
    </header>

    <div class="list-collections__grid">
      {%- if display == 'all' -%}
        {%- for collection in collections -%}
          {%- render 'collection-item' with
            collection: collection,
            aspect_ratio: aspect_ratio,
            show_description: show_description,
          -%}
        {%- endfor -%}
      {%- else -%}
        {%- for block in blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}
          {%- render
            'collection-item' with
            collection: collection,
            aspect_ratio: aspect_ratio,
            show_description: show_description,
          -%}
        {%- else -%}
          {%- for i in (1..max_collections) -%}
            {%- render 'collection-item' with
              collection: empty,
              aspect_ratio: aspect_ratio,
              show_description: show_description,
            -%}
          {%- endfor -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Collections list page",
    "settings": [
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "id": "display_type",
        "type": "radio",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          { "value": "all", "label": "All" },
          { "value": "selected", "label": "Selected" }
        ]
      },
      {
        "id": "show_description",
        "type": "checkbox",
        "label": "Show collection description",
        "default": false
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          {
            "label": "Natural",
            "value": "natural"
          },
          {
            "label": "Round (1:1)",
            "value": "round"
          },
          {
            "label": "Square (1:1)",
            "value": "square"
          },
          {
            "label": "Landscape (3:2)",
            "value": "landscape"
          },
          {
            "label": "Portrait (2:3)",
            "value": "portrait"
          }
        ],
        "default": "square"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}