{% render 'section--logo-list' with
  columns: section.settings.columns,
  gutter_spacing: section.settings.gutter_spacing,
  section_contrast: section.settings.section_contrast,
  heading: section.settings.title,
  blocks: section.blocks,
%}

{% schema %}
  {
    "name": "Logo list",
    "class": "shopify-section--stackable shopify-section--extra-small shopify-section--text-first",
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 3,
        "max": 6,
        "step": 1,
        "default": 5
      },
      {
        "type": "range",
        "id": "gutter_spacing",
        "label": "Spacing between logos",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 20
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "As featured in"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 36,
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Logo"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Promotional",
        "blocks": [
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          }
        ]
      }
    ]
  }
{% endschema %}
