{%- liquid
  assign heading = section.settings.title
  assign store_information = section.settings.store_information
  assign image = section.settings.image
  assign map_address = section.settings.map_address
  assign api_key = section.settings.api_key
  assign map_json = section.settings.map_json
  assign section_contrast = section.settings.section_contrast
-%}

<section
  class="
    map
    section
    section--extra-small
    {% if section.settings.section_contrast -%}
      section--contrast
    {%- endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="map"
>
  <div class="map__inner section__inner">
    <div class="map__location">
      {%- if heading != blank -%}
        <h2 class="map__heading ff-heading fs-heading-2-base fs-heading-2-large-ns">
          {{ heading | newline_to_br }}
        </h2>
      {%- endif -%}

      {%- unless store_information == blank -%}
        <div class="map__location-item rte ff-body fs-body-small fs-body-base-ns">
          {{ store_information }}
        </div>
      {%- endunless -%}
    </div>

    <div class="map__content">
      {% assign image_classes = 'map__image' %}
      {% if api_key != blank and map_address != blank %}
        {% assign image_classes =  image_classes | append: ' hidden' %}
      {% endif %}

      {% if image %}
        {% render 'image',
          image: image,
          wrapper_class: image_classes,
        %}
      {% else %}
        <div class="{{ image_classes }} placeholder-image">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}

      {% if api_key != blank and map_address != blank %}
        <div
          class="map__container"
          data-api-key="{{ api_key }}"
          data-address="{{ map_address | url_encode }}"
          style="height: 450px;"
        >
          <div class="map__element" style="height: 100%;"></div>
        </div>
      {% endif %}
    </div>

    <script id="map-styles" type="application/json">
      {
        "styles":
          {%- if map_json != blank -%}
            {{ map_json }}
          {% else %}
            {}
          {%- endif -%}
      }
    </script>
  </div>
</section>

{% schema %}
  {
    "name": "Map",
    "class": "shopify-section--stackable shopify-section--extra-small shopify-section--image-first",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Our store"
      },
      {
        "id": "store_information",
        "type": "richtext",
        "label": "Store information",
        "default": "<p>123 Water St.<br/>Vancouver, BC  F1L 2U3<br/>(604) 000-000<br/><br/>Weekdays: 10am – 5pm<br/>Saturdays: 11am – 5pm<br/>Sundays: 12pm – 4pm</p>"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image",
        "info": "Displayed if the map isn’t loaded"
      },
      {
        "type": "header",
        "content": "Map",
        "info": "Map address and a valid Google Maps API key are required."
      },
      {
        "type": "text",
        "id": "map_address",
        "label": "Map address",
        "info": "Google Maps will find the exact location."
      },
      {
        "type": "text",
        "id": "api_key",
        "label": "Google Maps API key",
        "info": "Register a Google Maps API key to display the map. Learn more about [registering a Google Maps API key](https://help.shopify.com/en/manual/online-store/themes/os/customize/map-section-api-key)."
      },
      {
        "type": "textarea",
        "id": "map_json",
        "label": "Custom map JSON",
        "info": "(Optional) Add some custom [map styles](https://mapstyle.withgoogle.com/)."
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
