{%- render 'section--newsletter' with
  heading: section.settings.title,
  subheading: section.settings.subheading,
  section_contrast: section.settings.section_contrast,
-%}

{% schema %}
  {
    "name": "Newsletter",
    "class": "shopify-section--stackable shopify-section--extra-small shopify-section--text-first",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Subscribe"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading",
        "default": "<p>Sign up for our newsletter</p>"
      },
      {
        "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}