<div class="reviews-type reviews-type-3">
  {%- for item in section.blocks -%}
    {%- assign image = item.settings.image | image_url -%}

    {%- assign reviewsLink = item.settings.url -%}

    <a class="reviews-item" data-item="influencer" href="{{ reviewsLink }}" >
      <img
        src="{{ image }}"
        class="reviews-image"
        alt="{{ section.settings['image'].alt }}"
        loading="lazy"
      >
      {% comment %} <span class="reviews-name">{{ name }}</span> {% endcomment %}
      {% comment %} <div class="reviews-content" id="content-{{ forloop.index0 }}">{{ content }}</div> {% endcomment %}
      {% if reviewsLink %}
        {% comment %} <a class="reviews-url" target="_blank" href="{{ reviewsLink }}" rel="noreferrer noopener">看完整內容</a> {% endcomment %}
      {% endif %}
    </a>
  {%- endfor -%}
</div>
<style>
    .reviews-section{
      margin: 0;
      padding: 40px 0;
    }
    .reviews-type-3{
      width: 100%;
      margin: 0px auto;
      column-count: 3;
      column-gap: 30px;
      max-width: 1440px;
      padding: 0 200px 40px;
      display: block;
    }
    .reviews-type-3 .reviews-item{
      border-radius: 15px;
      box-shadow: 0 6px 13px #00000040;
      padding: 8px 0;
      box-sizing: border-box;
      margin: 0 0px 40px;
      break-inside: avoid;
      display: block;
    }

    .reviews-type-3 .reviews-image{
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .reviews-type-3 .reviews-name{
      font-size: 16px;
      align-self: center;
      grid-column: 1 / -1;
      padding-left: 20px;
  }
    .reviews-type-3 .reviews-content{
      grid-column: 1/-1;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      display: -webkit-box;
      padding: 0 20px;
      height: 105px;
    }
    .reviews-type-3 .reviews-content p{
      font-size: 16px;
    }

    .reviews-type-3 .reviews-url{
      display: block;
      grid-column: 1 / -1;
      margin-left: 20px;
      cursor: pointer;
      width: max-content;
      padding: 3px 5px;
      border-radius: 5px;
      transition: all .2s;
      font-size: 14px;
    }
    .reviews-type-3 .reviews-url:hover{
      color: #fafafa;
      background-color: #24ceb9;
    }
    @media(max-width: 1000px){
      .reviews-type-3{
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(2 ,1fr);
      }

    }
    @media(max-width: 600px){
      .reviews-type-3{
        padding-left: 15px;
        padding-right: 15px;
        column-gap: 10px;
        column-count: 2;
        break-inside: avoid;
      }
      .reviews-type-3 .reviews-item{
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        border: 1px solid transparent;
        display: -webkit-inline-box;
      }
      .reviews-type-3 .reviews-url{
        color: #24ceb9;
      }
      .reviews-type-3 .reviews-image{
      }
    }
</style>

{% schema %}
{
  "name": "Reviews type 3",
  "class": "reviews-section",
  "settings": [],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Reviews item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Avatar",
          "info": "recommend size: 100px x 100px"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Writter name",
          "default": "Writter name"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "reviews content",
          "default": "<p>測試文案</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "reviews url"
        }
      ]
    }
  ]
}
{% endschema %}
