<div class="reviews-type reviews-type-2">
  <div class="list">
    <div class="list__item list__item--1 list__item--active">壓力褲</div>
    <div class="list__item list__item--2">運動內衣</div>
    <div class="list__item list__item--3">孕婦壓力褲</div>
  </div>
  <div class="reviews-type-2-list">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign type = item.settings.type -%}
      {% assign url = item.settings.url %}
      {% comment %} legging sportbra pregnant{% endcomment %}
      {%- if type == 'legging' -%}
        <a class="reviews-item" href="{{ url }}" style="pointer-events: none">
          <img class="reviews-image" src="{{ image }}" loading="lazy">
        </a>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <template id="reviews-2-legging">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign type = item.settings.type -%}
      {% assign url = item.settings.url %}
      {% comment %} legging sportbra pregnant{% endcomment %}
      {%- if type == 'legging' -%}
        <a class="reviews-item" href="{{ url }}" style="pointer-events: none">
          <img class="reviews-image" src="{{ image }}" loading="lazy">
        </a>
      {%- endif -%}
    {%- endfor -%}
  </template>
  <template id="reviews-2-sportbra">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign type = item.settings.type -%}
      {% assign url = item.settings.url %}
      {% comment %} sportbra sportbra pregnant{% endcomment %}
      {%- if type == 'sportbra' -%}
        <a class="reviews-item" href="{{ url }}" style="pointer-events: none">
          <img class="reviews-image" src="{{ image }}" loading="lazy">
        </a>
      {%- endif -%}
    {%- endfor -%}
  </template>

  <template id="reviews-2-pregnant">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign type = item.settings.type -%}
      {% assign url = item.settings.url %}
      {% comment %} pregnant sportbra pregnant{% endcomment %}
      {%- if type == 'pregnant' -%}
        <a class="reviews-item" href="{{ url }}" style="pointer-events: none">
          <img class="reviews-image" src="{{ image }}" loading="lazy">
        </a>
      {%- endif -%}
    {%- endfor -%}
  </template>
</div>
<script>
  document.querySelectorAll('.reviews-type-2 .list__item').forEach((item,index)=>{
    item.addEventListener('click', async ()=>{
      console.log(document.querySelectorAll('.list__item--active').length)
      if(document.querySelector('.reviews-type-2 .list__item--active')){
        document.querySelectorAll('.reviews-type-2 .list__item--active').forEach((e)=>{
        e.classList.remove('list__item--active')
        })
      }
      item.classList.add('list__item--active');
      document.querySelector('.reviews-type-2-list').innerHTML='';
      let array = ['legging', 'sportbra', 'pregnant' ]
      const temp = document.getElementById(`reviews-2-${array[index]}`);
      const clon = temp.content.cloneNode(true);
      document.querySelector('.reviews-type-2-list').appendChild(clon);
    })
  })
</script>
<style>
  .reviews-type-2 .list{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 20px;
  }
    .reviews-type-2 .list__item{
      color: #4b4b4b !important;
      text-decoration: none !important;
      padding: 1px 10px;
      background-color: #F9F2F2;
      color: white;
      border-radius: 20px;
      cursor: pointer;
    }
    .reviews-type-2 .list__item--active{
      background-color: #CE9390;
      color: #fff !important;
    }


    .reviews-section{
      margin: 0;
      padding: 40px 0;
    }
    .reviews-type-2{
      width: 100%;
      margin: 0px auto;
      display: block;
    }
    .reviews-type-2-list{
      width: 100%;
      column-count: 2;
      column-gap: 20px;
      display: block;
    }
    .reviews-type-2 .reviews-item{
      border-radius: 15px;
      box-shadow: 0 6px 13px #00000040;
      padding: 8px 0;
      box-sizing: border-box;
      margin: 0 0px 20px;
      break-inside: avoid;
      display: block;
    }

    .reviews-type-2 .reviews-image{
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    @media(max-width: 1000px){
      .reviews-type-2{
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(2 ,1fr);
      }

    }
    @media(max-width: 600px){
      .reviews-type-2{
        padding-left: 20px;
        padding-right: 20px;
        column-gap: 15px;
      }
      .reviews-type-2 .list{
       width: 100%;
      }
      .reviews-type-2 .reviews-type-2-list{
        column-count: 1;
      }
      .reviews-type-2 .reviews-item{
        margin-bottom: 20px;
        border-radius: 10px;
      }

    }
</style>

{% schema %}
{
  "name": "Reviews type 2",
  "class": "reviews-section",
  "settings": [],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Reviews item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "cover image"
        },
        {
          "type": "select",
          "id": "type",
          "label": "類別",
          "options": [
            {
              "value": "legging",
              "label": "壓力褲"
            },
            {
              "value": "sportbra",
              "label": "運動內衣"
            },
            {
              "value": "pregnant",
              "label": "孕婦壓力褲"
            }
          ],
          "default": "legging"
        },
        {
          "type": "url",
          "id": "url",
          "label": "url"
        }
      ]
    }
  ]
}
{% endschema %}
