<div class="reviews-type reviews-type-1">
  <div class="list">
    <div class="list__item list__item--1 list__item--active">壓力褲</div>
    <div class="list__item list__item--2">運動內衣</div>
    <div class="list__item list__item--3">孕婦壓力褲</div>
  </div>

  <div class="reviews-type-1-list">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign name = item.settings.name -%}
      {%- assign content = item.settings.content -%}
      {%- assign url = item.settings.url -%}
      {%- assign type = item.settings.type -%}

      {% if type == 'legging' %}
        <div class="reviews-item">
          <img class="reviews-image" src="{{ image }}" loading="lazy" width="100" height="100">
          <div class="reviews-name" href="{{ url }}" target="_blank" rel="nooopener noreferrer">{{ name }}</div>
          <div class="reviews-content">{{ content }}</div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>

  <template id="legging">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign name = item.settings.name -%}
      {%- assign content = item.settings.content -%}
      {%- assign url = item.settings.url -%}
      {%- assign type = item.settings.type -%}
      {%- if type == 'legging' -%}
        <div class="reviews-item">
          <img class="reviews-image" src="{{ image }}" loading="lazy" width="100" height="100">
          <div class="reviews-name" href="{{ url }}" target="_blank" rel="nooopener noreferrer">{{ name }}</div>
          <div class="reviews-content">{{ content }}</div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </template>
  <template id="sportbra">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign name = item.settings.name -%}
      {%- assign content = item.settings.content -%}
      {%- assign url = item.settings.url -%}
      {%- assign type = item.settings.type -%}
      {%- if type == 'sportbra' -%}
        <div class="reviews-item">
          <img class="reviews-image" src="{{ image }}" loading="lazy" width="100" height="100">
          <div class="reviews-name" href="{{ url }}" target="_blank" rel="nooopener noreferrer">{{ name }}</div>
          <div class="reviews-content">{{ content }}</div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </template>
  <template id="pregnant">
    {%- for item in section.blocks -%}
      {%- assign image = item.settings.image | image_url -%}
      {%- assign name = item.settings.name -%}
      {%- assign content = item.settings.content -%}
      {%- assign url = item.settings.url -%}
      {%- assign type = item.settings.type -%}
      {%- if type == 'pregnant' -%}
        <div class="reviews-item">
          <img class="reviews-image" src="{{ image }}" loading="lazy" width="100" height="100">
          <div class="reviews-name" href="{{ url }}" target="_blank" rel="nooopener noreferrer">{{ name }}</div>
          <div class="reviews-content">{{ content }}</div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </template>
</div>

<script>
  document.querySelectorAll('.reviews-type-1 .list__item').forEach((item,index)=>{
    item.addEventListener('click', ()=>{
      if(document.querySelector('.list__item--active')){
        document.querySelector('.list__item--active').classList.remove('list__item--active')
      }
      item.classList.add('list__item--active')
      document.querySelector('.reviews-type-1-list').innerHTML='';
      let array = ['legging', 'sportbra', 'pregnant' ]
      const temp = document.getElementById(`${array[index]}`);
      const clon = temp.content.cloneNode(true);
      document.querySelector('.reviews-type-1-list').appendChild(clon)
    })
  })
</script>
<style>
  .reviews-section{
    margin: 0;
    padding: 40px 0;
  }
  .reviews-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    padding: 0 200px 40px;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
  }
  .reviews-type-1{
    display: block;
  }
  .reviews-type-1 .reviews-item{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3,max-content);
    grid-gap: 10px;
  }
  .reviews-type-1 .list{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 20px;
  }
    .reviews-type-1 .list__item{
      color: #4b4b4b !important;
      text-decoration: none !important;
      padding: 1px 10px;
      background-color: #F9F2F2;
      color: white;
      border-radius: 20px;
      cursor: pointer;
    }
    .reviews-type-1 .list__item--active{
      background-color: #CE9390;
      color: #fff !important;
    }

  .reviews-type-1 .reviews-image{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 50%;
  }
  .reviews-type-1 .reviews-image{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 50%;
  }
  .reviews-type-1-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
  }
  .reviews-type-1 .reviews-name{
    font-size: 16px;
    align-self: center;
    grid-row: 1 / 3;
  }
  .reviews-type-1 .reviews-content{
    grid-column: 1/-1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    display: -webkit-box;
    white-space: pre-wrap;
  }
  @media(max-width: 1000px){
    .reviews-type-1{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media(max-width: 600px){
    .reviews-type-1-list{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .reviews-type-1 .reviews-item{
      border-radius: 10px;
      box-shadow: 0 5px 10px #00000040;
      padding: 30px;
      width: calc(100vw - 60px);
    }
    .reviews-type-1 .reviews-content p{
      font-size: 14px;
    }
  }
</style>

{% schema %}
{
  "name": "Reviews type 1",
  "class": "reviews-section",
  "settings": [],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Reviews item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Avatar",
          "info": "recommend size: 100px x 100px"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Writter name",
          "default": "Writter name"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "reviews content",
          "default": "<p>測試文案</p>"
        },
        {
          "type": "select",
          "id": "type",
          "label": "類別",
          "options": [
            {
              "value": "legging",
              "label": "壓力褲"
            },
            {
              "value": "sportbra",
              "label": "運動內衣"
            },
            {
              "value": "pregnant",
              "label": "孕婦壓力褲"
            }
          ],
          "default": "legging"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Reviews url"
        }
      ]
    }
  ]
}
{% endschema %}
