<div class=" reviews-type-4 page__inner">
  <div class="blog__article-list">
    {%- for item in section.blocks -%}
      {%- assign content = item.settings.content -%}
      {%- assign url = item.settings.url -%}
      {%- assign cover = item.settings.cover | image_url -%}
      <a class="reviews-item" href="{{ url }}">
        <div class="reviews-item-img">
          <img src="{{ cover }}" class="reviews-item-img__cover" title="{{ content }}" loading="lazy">
        </div>
        <h3 class="reviews-item__content" id="content-{{ forloop.index0 }}">{{ content }}</h3>
      </a>
    {%- endfor -%}
  </div>
</div>
<style>
  .reviews-section{
    margin: 0;
    padding: 40px 0;
  }
  .reviews-type-4 .reviews-item-img{
    overflow: hidden;
  }
  .reviews-type-4  .reviews-item-img__cover{
    object-fit: cover;
    width: 100%;
    transition: transform .3s ease;
  }
  .reviews-type-4  .reviews-item-img__cover:hover{
    transform: scale(1.1);
  }
  .reviews-type-4 .reviews-item__content{
    font-family: var(--font-heading);
    text-align: center;
    font-size: 20px;
  }
  @media(min-width: 60em){
    .reviews-type-4 .blog__article-list {
      grid-template-columns: repeat(3,1fr);
    }
  }

  @media(max-width: 1200px){

  }
  @media(max-width: 1000px){

  }
  @media(max-width: 600px){

  }
</style>

{% schema %}
{
  "name": "Reviews type 4",
  "class": "reviews-section",
  "settings": [],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Reviews item",
      "settings": [
        {
          "id": "cover",
          "type": "image_picker",
          "label": "Cover",
          "info": "recommend size 530  x 400"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "reviews content",
          "default": "<p>測試文案</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Reviews url"
        }
      ]
    }
  ]
}
{% endschema %}
