{% assign settings = section.settings %}

<section
  class="password welcome"
  data-section-id="{{ section.id }}"
  data-section-type="password"
  style="--width-max-logo: {{ section.settings.logo_max_width }}px;"
>
  <button type="button" class="password__login-button slider-button" data-js-toggle aria-label="{{ 'general.password_page.toggle_label' | t }}">
    {% render 'icon-button' with icon: 'lock', class: 'lock' %}
    {% render 'icon-button' with icon: 'close', class: 'close' %}
  </button>

  <div class="password__content" data-content="default">
    <header class="password__header" role="banner">
      {%- if section.settings.logo != blank -%}
        <div class="password__logo">
          {%- render 'image' with image: section.settings.logo -%}
        </div>
      {%- else -%}
        <p>{{ shop.name }}</p>
      {%- endif -%}
      <h1 class="password__heading ff-heading fs-heading-2-large fs-heading-1-base-ns ta-c">{{ settings.heading }}</h1>
    </header>

    {% if shop.password_message != blank %}
      <p class="password__subheading fs-body-base fs-body-large-ns">{{ shop.password_message }}</p>
    {% endif %}

    {% form 'customer' %}
      {% if form.posted_successfully? %}
        <div class="password__success fs-body-base">
          {{ 'general.password_page.signup_form_success' | t }}
        </div>
      {% else %}
        {%- if settings.text != blank -%}
          <div class="password__text fs-body-base fs-body-large-ns">{{ settings.text }}</div>
        {%- endif -%}

        {{ form.errors | default_errors }}
        <div class="password__notify-form">
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="Email" class="visually-hidden">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
          <input type="email"
            name="contact[email]"
            class="input input--round"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
          >
          <button class="btn btn--primary btn--form type="submit">{{ 'general.password_page.signup_form_button_label' | t }}</button>
        </div>
      {% endif %}
    {% endform %}
    <button type="button" class="btn btn--text-link" data-text-toggle>{{ 'general.password_page.password_link' | t }}</button>

    {%- if settings.show_share -%}
      <div class="password__share">
        <button
          type="button"
          class="password__share btn btn--secondary btn--medium-small"
          data-social-share
          aria-haspopup="true"
        >
          <span class="password__share-text fs-body-small fs-body-bold">
            {%- render 'icon' with icon: 'social-share' -%}
            {{ 'general.social.share' | t }}
          </span>

          <div class="password__share-icons" aria-hidden="true" aria-label="{{ 'general.social.alt.share_menu' | t }}">
            <div class="share-icons">
              <a
                aria-label="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
                href="//pinterest.com/pin/create/button/?url={{ shop.url | append: url }}&amp;media={{ page_image | img_url: '1024x1024' }}&amp;description={{ shop.name | url_param_escape }}"
              >
                {% render 'icon' with icon: 'pinterest' %}
              </a>
              <a
                aria-label="{{ 'general.social.alt_text.share_on_twitter' | t }}"
                href="//twitter.com/share?text={{ shop.name | url_param_escape }}&amp;url={{ shop.url }}"
              >
                {% render 'icon' with icon: 'twitter' %}
              </a>
              <a
                aria-label="{{ 'general.social.alt_text.share_on_facebook' | t }}"
                href="//www.facebook.com/sharer.php?u={{ shop.url }}"
              >
                {% render 'icon' with icon: 'facebook' %}
              </a>
            </div>
          </div>
        </button>
      </div>
    {%- endif -%}

  </div>

  <div class="password__content" data-content="login">
    <h3 class="password__login-heading ff-heading fs-heading-base c-heading">{{ 'general.password_page.login_form_heading' | t }}</h3>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}

      <div class="password__login-form">
        <label for="Password" class="visually-hidden">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
        <input type="password"
          class="input input--round"
          name="password"
          id="Password"
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <button class="btn btn--form btn--primary" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
      </div>
    {% endform %}
    <p class="fs-body-base">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</section>


{% schema %}
  {
    "name": "Password page",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "id": "logo_max_width",
        "type": "range",
        "min": 50,
        "max": 350,
        "step": 10,
        "unit": "px",
        "label": "Logo max width",
        "default": 200
      },
      {
        "id": "heading",
        "type": "text",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Find out when we open<p>"
      },
      {
        "id": "show_share",
        "type": "checkbox",
        "label": "Show share buttons",
        "default": true
      }
    ]
  }
{% endschema %}
