{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.00 

  assign brightness_button = section.settings.color_background_button | color_brightness
  if brightness_button > 60
    assign color_background_button_hover = section.settings.color_background_button | color_darken: 20
  else
    assign color_background_button_hover = section.settings.color_background_button | color_lighten: 20
  endif
-%}

{%- if section.settings.enable_popup -%}
  <section
    class="popup"
    data-section-id="{{ section.id }}"
    data-section-type="popup"
    data-timeout="10000"
    style="
      --image-position: {{ section.settings.image_position }};
      --color-background-input: {{ section.settings.color_background_button | color_modify: 'alpha', 0.7 }};
      --color-background-input-hover: {{ section.settings.color_background_button | color_modify: 'alpha', 0.75 }};
      --color-background-button: {{ section.settings.color_background_button }};
      --color-background-button-hover : {{ color_background_button_hover }};
      --color-text: {{ section.settings.color_text }};
      --color-text-input: {{ section.settings.color_text_button | darken: 10 }};
      --text-max-width: 42em;
      --color-text-button: {{ section.settings.color_text_button }};
      --image-color-overlay: {{ section.settings.color_overlay }};
      --image-overlay-opacity: {{ overlay_opacity }};
    "
  >
    <div class="popup__overlay" data-overlay></div>
    <div class="popup__bar">
      {%- if section.settings.image != blank -%}
        {% render 'image' with
          image: section.settings.image,
          id: 'popup',
          wrapper_class: 'popup__image',
          disable_style: true
        %}
      {%- endif -%}

      <div class="popup__bar-overlay"></div>

      <button
        type="button"
        data-close
        class="popup__close"
        aria-label="{{ 'general.accessibility.close_modal' | t }}"
      >
        {% render 'icon-button' with icon: 'close-stroke' %}
      </button>

      <div class="popup__content">
        {%- if  section.settings.title != blank -%}
          <h3 class="popup__heading ff-heading fs-heading-2-large">{{  section.settings.title }}</h3>
        {%- endif -%}
        {%- if section.settings.subheading != blank -%}
          <div class="popup__subheading ff-body fs-body-base">{{ section.settings.subheading }}</div>
        {%- endif -%}

        <div class="popup__form">
          {% render 'newsletter-form' with id: 'popup' %}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
  {
    "name": "Popup",
    "settings": [
      {
        "id": "enable_popup",
        "type": "checkbox",
        "label": "Enable",
        "info": "Show a popup the first time the user's cursor leaves your site.",
        "default": false
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "image_position",
        "type": "select",
        "label": "Image position",
        "options": [
          { "label": "Top", "value": "top" },
          { "label": "Center", "value": "center" },
          { "label": "Bottom", "value": "bottom" }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Subscribe"
      },
      {
        "id": "subheading",
        "type": "textarea",
        "label": "Subheading",
        "default": "We only send emails once or twice a month and only about good things."
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay opacity",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 10
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "id": "color_text",
        "type": "color",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#ffffff"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#1C2232"
      }
    ]
  }
{% endschema %}
