{% comment %}
	FIR-sportbra
{% endcomment %}
<section
  data-section-id="{{ section.id }}"
  data-section-type="product-section"
>
  {%- for block in section.blocks -%}
    <div
      class="
        shopify-section
        shopify-section--stackable
        {% if block.type == 'video-hero' or block.type == 'slideshow' -%}
          offset-section
          shopify-section--contrast
        {%- endif %}
      "
      data-section-block-type="{{ block.type }}"
      {{ block.shopify_attributes }}
    >
      {%- case block.type -%}
        {%- when 'blog-posts' -%}
          {%- render 'section--blog-posts' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            aspect_ratio: block.settings.aspect_ratio,
            show_date: block.settings.show_date,
            columns: block.settings.columns,
            text_max_width: block.settings.text_max_width,
            title: block.settings.title,
            subheading: block.settings.subheading,
            block_limit: block.settings.columns,

            blocks: blogs[block.settings.blog].articles,
          -%}

        {%- when 'collection-list' -%}
          {% render 'section--collection-list' with
            block: block,
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            collection_1: block.settings.collection_1
            collection_1_subheading: block.settings.collection_1_subheading

            collection_2: block.settings.collection_2
            collection_2_subheading: block.settings.collection_2_subheading

            collection_3: block.settings.collection_3
            collection_3_subheading: block.settings.collection_3_subheading

            collection_4: block.settings.collection_4
            collection_4_subheading: block.settings.collection_4_subheading

            collection_5: block.settings.collection_5
            collection_5_subheading: block.settings.collection_5_subheading

            collection_6: block.settings.collection_6
            collection_6_subheading: block.settings.collection_6_subheading

            aspect_ratio: block.settings.aspect_ratio,
            heading: block.settings.title,
            subheading: block.settings.subheading,
            text_max_width: block.settings.text_max_width,
          %}

        {%- when 'featured-collection' -%}
          {% render 'section--featured-collection' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            collection: collections[block.settings.collection]
            columns: block.settings.columns,
            aspect_ratio: block.settings.aspect_ratio,

            heading: block.settings.title,
            subheading: block.settings.subheading,
            link_text: block.settings.link_text,
            text_max_width: block.settings.text_max_width,
          %}

        {%- when 'featured-collection-row' -%}
          {% render 'section--featured-collection-row' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            collection: collections[block.settings.collection]
            columns: block.settings.columns,
            aspect_ratio: block.settings.aspect_ratio,
            text_alignment: block.settings.text_alignment,

            heading: block.settings.title,
            subheading: block.settings.subheading,
            link_text: block.settings.link_text,
            text_max_width: block.settings.text_max_width,
          %}

        {%- when 'image-with-feature' -%}
          {% render 'section--image-with-feature' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            image: block.settings.image,
            image_width: block.settings.image_width,
            image_shape: block.settings.image_shape,
            aspect_ratio: block.settings.aspect_ratio,
            text_position: block.settings.text_position,
            text_alignment: block.settings.text_alignment,
            title: block.settings.title,

            feature_1_image: block.settings.feature_1_image,
            feature_1_heading: block.settings.feature_1_heading,
            feature_1_subheading: block.settings.feature_1_subheading,
            feature_1_text_max_width: block.settings.feature_1_text_max_width,

            feature_2_image: block.settings.feature_2_image,
            feature_2_heading: block.settings.feature_2_heading,
            feature_2_subheading: block.settings.feature_2_subheading,
            feature_2_text_max_width: block.settings.feature_2_text_max_width,
          %}

        {%- when 'image-with-text' -%}
          {% render 'section--image-with-text' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            image_1: block.settings.image_1,
            image_2: block.settings.image_2,
            aspect_ratio: block.settings.aspect_ratio,
            image_position: block.settings.image_position,
            text_alignment: block.settings.text_alignment,
            image_width: block.settings.image_width,
            text_max_width: block.settings.text_max_width,
            title: block.settings.title,
            subheading: block.settings.subheading,
            link: block.settings.link,
            link_text: block.settings.link_text,
          %}

        {%- when 'inline-features' -%}
          {% render 'section--inline-features' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            columns: block.settings.columns,
            image_shape: block.settings.image_shape,
            text_alignment: block.settings.text_alignment,

            feature_1_show_image: block.settings.feature_1_show_image,
            feature_1_image: block.settings.feature_1_image,
            feature_1_heading: block.settings.feature_1_heading,
            feature_1_subheading: block.settings.feature_1_subheading,

            feature_2_show_image: block.settings.feature_2_show_image,
            feature_2_image: block.settings.feature_2_image,
            feature_2_heading: block.settings.feature_2_heading,
            feature_2_subheading: block.settings.feature_2_subheading,

            feature_3_show_image: block.settings.feature_3_show_image,
            feature_3_image: block.settings.feature_3_image,
            feature_3_heading: block.settings.feature_3_heading,
            feature_3_subheading: block.settings.feature_3_subheading,

            feature_4_show_image: block.settings.feature_4_show_image,
            feature_4_image: block.settings.feature_4_image,
            feature_4_heading: block.settings.feature_4_heading,
            feature_4_subheading: block.settings.feature_4_subheading,
          %}

        {%- when 'logo-list' -%}
          {% render 'section--logo-list' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            columns: block.settings.columns,
            gutter_spacing: block.settings.gutter_spacing,
            heading: block.settings.title,

            logo_1_image: block.settings.logo_1_image,
            logo_1_link: block.settings.logo_1_link,

            logo_2_image: block.settings.logo_2_image,
            logo_2_link: block.settings.logo_2_link,

            logo_3_image: block.settings.logo_3_image,
            logo_3_link: block.settings.logo_3_link,

            logo_4_image: block.settings.logo_4_image,
            logo_4_link: block.settings.logo_4_link,

            logo_5_image: block.settings.logo_5_image,
            logo_5_link: block.settings.logo_5_link,

            logo_6_image: block.settings.logo_6_image,
            logo_6_link: block.settings.logo_6_link,
          %}

        {%- when 'newsletter' -%}
          {%- render 'section--newsletter' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            heading: block.settings.title,
            subheading: block.settings.subheading,
          -%}

        {%- when 'faq' -%}
          {%- render 'section--faq' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            heading: block.settings.title,
            subheading: block.settings.subheading,

            question_1_question: block.settings.question_1_question,
            question_1_answer: block.settings.question_1_answer,
            question_1_author: block.settings.question_1_author,

            question_2_question: block.settings.question_2_question,
            question_2_answer: block.settings.question_2_answer,
            question_2_author: block.settings.question_2_author,

            question_3_question: block.settings.question_3_question,
            question_3_answer: block.settings.question_3_answer,
            question_3_author: block.settings.question_3_author,

            question_4_question: block.settings.question_4_question,
            question_4_answer: block.settings.question_4_answer,
            question_4_author: block.settings.question_4_author,

            question_5_question: block.settings.question_5_question,
            question_5_answer: block.settings.question_5_answer,
            question_5_author: block.settings.question_5_author,

            question_6_question: block.settings.question_6_question,
            question_6_answer: block.settings.question_6_answer,
            question_6_author: block.settings.question_6_author,

            question_7_question: block.settings.question_7_question,
            question_7_answer: block.settings.question_7_answer,
            question_7_author: block.settings.question_7_author,

            question_8_question: block.settings.question_8_question,
            question_8_answer: block.settings.question_8_answer,
            question_8_author: block.settings.question_8_author,
          -%}

        {%- when 'quote' -%}
          {%- render 'section--quote' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            timer: block.settings.timer,
            text_max_width: block.settings.text_max_width,
            image_shape: block.settings.image_shape,

            quote_1_quote: block.settings.quote_1_quote,
            quote_1_image: block.settings.quote_1_image,
            quote_1_author: block.settings.quote_1_author,

            quote_2_quote: block.settings.quote_2_quote,
            quote_2_image: block.settings.quote_2_image,
            quote_2_author: block.settings.quote_2_author,

            quote_3_quote: block.settings.quote_3_quote,
            quote_3_image: block.settings.quote_3_image,
            quote_3_author: block.settings.quote_3_author,
          -%}

        {%- when 'rich-text' -%}
          {%- render 'section--rich-text' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            text_max_width: block.settings.text_max_width,
            heading: block.settings.title,
            subheading: block.settings.subheading,
            link: block.settings.link,
            link_text: block.settings.link_text,
          -%}

        {%- when 'slideshow' -%}
          {%- render 'section--slideshow' with
            block_id: block.id,
            desktop_height: block.settings.desktop_height,
            mobile_height: block.settings.mobile_height,

            overlay_shadow:  block.settings.overlay_shadow
            overlay_opacity: block.settings.overlay_opacity,
            color_overlay: block.settings.color_overlay,
            heading_text_size: block.settings.heading_text_size,
            color_text: block.settings.color_text,
            color_background_button: block.settings.color_background_button,
            color_text_button: block.settings.color_text_button,
            duration_autoplay: block.settings.duration_autoplay,

            slide_1_desktop_image: block.settings.slide_1_desktop_image,
            slide_1_mobile_image: block.settings.slide_1_mobile_image,
            slide_1_heading: block.settings.slide_1_heading,
            slide_1_subheading: block.settings.slide_1_subheading,
            slide_1_max_width_subheading: block.settings.slide_1_max_width_subheading,
            slide_1_link_text: block.settings.slide_1_link_text,
            slide_1_link: block.settings.slide_1_link,
            slide_1_alignment: block.settings.slide_1_alignment,

            slide_2_desktop_image: block.settings.slide_2_desktop_image,
            slide_2_mobile_image: block.settings.slide_2_mobile_image,
            slide_2_heading: block.settings.slide_2_heading,
            slide_2_subheading: block.settings.slide_2_subheading,
            slide_2_max_width_subheading: block.settings.slide_2_max_width_subheading,
            slide_2_link_text: block.settings.slide_2_link_text,
            slide_2_link: block.settings.slide_2_link,
            slide_2_alignment: block.settings.slide_2_alignment,

          -%}

        {%- when 'social-proof' -%}
          {%- render 'section--social-proof' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            aspect_ratio: block.settings.aspect_ratio,
            text_max_width: block.settings.text_max_width,
            like_color: block.settings.like_color,
            heading: block.settings.title,
            subheading: block.settings.subheading,

            item_1_image: block.settings.item_1_image,
            item_1_link: block.settings.item_1_link,
            item_1_likes: block.settings.item_1_likes,
            item_1_account: block.settings.item_1_account,
            item_1_caption: block.settings.item_1_caption,

            item_2_image: block.settings.item_2_image,
            item_2_link: block.settings.item_2_link,
            item_2_likes: block.settings.item_2_likes,
            item_2_account: block.settings.item_2_account,
            item_2_caption: block.settings.item_2_caption,

            item_3_image: block.settings.item_3_image,
            item_3_link: block.settings.item_3_link,
            item_3_likes: block.settings.item_3_likes,
            item_3_account: block.settings.item_3_account,
            item_3_caption: block.settings.item_3_caption,

            item_4_image: block.settings.item_4_image,
            item_4_link: block.settings.item_4_link,
            item_4_likes: block.settings.item_4_likes,
            item_4_account: block.settings.item_4_account,
            item_4_caption: block.settings.item_4_caption,

            item_5_image: block.settings.item_5_image,
            item_5_link: block.settings.item_5_link,
            item_5_likes: block.settings.item_5_likes,
            item_5_account: block.settings.item_5_account,
            item_5_caption: block.settings.item_5_caption,

          -%}

        {%- when 'testimonials' -%}
          {%- render 'section--testimonials' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            columns: block.settings.columns,
            text_alignment: block.settings.text_alignment,
            text_max_width: block.settings.text_max_width,
            heading: block.settings.title,
            subheading: block.settings.subheading,

            testimonial_1_heading: block.settings.testimonial_1_heading,
            testimonial_1_testimonial: block.settings.testimonial_1_testimonial,
            testimonial_1_author: block.settings.testimonial_1_author,

            testimonial_2_heading: block.settings.testimonial_2_heading,
            testimonial_2_testimonial: block.settings.testimonial_2_testimonial,
            testimonial_2_author: block.settings.testimonial_2_author,

            testimonial_3_heading: block.settings.testimonial_3_heading,
            testimonial_3_testimonial: block.settings.testimonial_3_testimonial,
            testimonial_3_author: block.settings.testimonial_3_author,

            testimonial_4_heading: block.settings.testimonial_4_heading,
            testimonial_4_testimonial: block.settings.testimonial_4_testimonial,
            testimonial_4_author: block.settings.testimonial_4_author,
          -%}

        {%- when 'text-columns-with-images' -%}
          {%- render 'section--text-columns-with-images' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            columns: block.settings.columns,
            text_alignment: block.settings.text_alignment,
            image_shape: block.settings.image_shape,
            heading: block.settings.title,
            subheading: block.settings.subheading,

            column_1_image: block.settings.column_1_image,
            column_1_heading: block.settings.column_1_heading,
            column_1_subheading: block.settings.column_1_subheading,
            column_1_link: block.settings.column_1_link,
            column_1_link_text: block.settings.column_1_link_text,

            column_2_image: block.settings.column_2_image,
            column_2_heading: block.settings.column_2_heading,
            column_2_subheading: block.settings.column_2_subheading,
            column_2_link: block.settings.column_2_link,
            column_2_link_text: block.settings.column_2_link_text,

            column_3_image: block.settings.column_3_image,
            column_3_heading: block.settings.column_3_heading,
            column_3_subheading: block.settings.column_3_subheading,
            column_3_link: block.settings.column_3_link,
            column_3_link_text: block.settings.column_3_link_text,

            column_4_image: block.settings.column_4_image,
            column_4_heading: block.settings.column_4_heading,
            column_4_subheading: block.settings.column_4_subheading,
            column_4_link: block.settings.column_4_link,
            column_4_link_text: block.settings.column_4_link_text,
          -%}

        {%- when 'video' -%}
          {%- render 'section--video' with
            block_id: block.id,
            section_contrast: block.settings.section_contrast,

            heading: block.settings.title,
            subheading: block.settings.subheading,
            text_max_width: block.settings.text_max_width,
            video_url: block.settings.video_url,
            image: block.settings.image,
            opacity_overlay: block.settings.opacity_overlay,
            color_overlay: block.settings.color_overlay,
          -%}

        {%- when 'video-hero' -%}
          {%- render 'section--video-hero' with
            block_id: block.id,
            desktop_height: block.settings.desktop_height,
            mobile_height: block.settings.mobile_height,

            overlay_shadow: block.settings.overlay_shadow,
            overlay_opacity: block.settings.overlay_opacity,
            alignment: block.settings.alignment,
            color_background_button: block.settings.color_background_button,
            heading: block.settings.title,
            subheading: block.settings.subheading,
            link: block.settings.link,
            link_text: block.settings.link_text,
            color_text: block.settings.color_text,
            color_text_button: block.settings.color_text_button,
            color_overlay: block.settings.color_overlay,
            max_width_subheading: block.settings.max_width_subheading,
            heading_text_size: block.settings.heading_text_size,
            video_url: block.settings.video_url,
            image: block.settings.image,
          -%}
      {%- endcase -%}
    </div>
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "Product features",
    "class": "shopify-section--stackable shopify-section--contrast",
    "max_blocks": 50,
    "blocks": [
      {
        "type": "blog-posts",
        "name": "Blog posts",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          },
          {
            "id": "show_date",
            "type": "checkbox",
            "label": "Show published date",
            "default": true
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "collection-list",
        "name": "Collection list",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Collection list"
          },
          {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Round (1:1)", "value": "round" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Collection 1"
          },
          {
            "id": "collection_1",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_1_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Example collection"
          },
          {
            "type": "header",
            "content": "Collection 2"
          },
          {
            "id": "collection_2",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_2_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Example collection"
          },
          {
            "type": "header",
            "content": "Collection 3"
          },
          {
            "id": "collection_3",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_3_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Example collection"
          },
          {
            "type": "header",
            "content": "Collection 4"
          },
          {
            "id": "collection_4",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_4_subheading",
            "type": "textarea",
            "label": "Subheading"
          },
          {
            "type": "header",
            "content": "Collection 5"
          },
          {
            "id": "collection_5",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_5_subheading",
            "type": "textarea",
            "label": "Subheading"
          },
          {
            "type": "header",
            "content": "Collection 6"
          },
          {
            "id": "collection_6",
            "type": "collection",
            "label": "Collection"
          },
          {
            "id": "collection_6_subheading",
            "type": "textarea",
            "label": "Subheading"
          }
        ]
      },
      {
        "type": "featured-collection",
        "name": "Featured collection",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Featured collection"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button label"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 34
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "featured-collection-row",
        "name": "Featured collection row",
        "settings": [
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Featured collection"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button label"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 38
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ]
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "image-with-feature",
        "name": "Image with features",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_width",
            "type": "select",
            "label": "Image width",
            "options": [
              { "label": "1/2", "value": "half" },
              { "label": "2/3", "value": "two-thirds" }
            ],
            "default": "half"
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Images with Features"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "id": "image_shape",
            "type": "radio",
            "label": "Image shape",
            "default": "round",
            "options": [
              { "value": "round", "label": "Round" },
              { "value": "square", "label": "Square" }
            ]
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Feature 1"
          },
          {
            "id": "feature_1_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "feature_1_heading",
            "type": "text",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "id": "feature_1_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Use these small paragraph blocks to feature various aspects about a product. You can add up to three of these blocks and each can have an image associated with them."
          },
          {
            "type": "range",
            "id": "feature_1_text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 32
          },
          {
            "type": "header",
            "content": "Feature 2"
          },
          {
            "id": "feature_2_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "feature_2_heading",
            "type": "text",
            "label": "Heading",
            "default": "Example heading"
          },
          {
            "id": "feature_2_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Use these small paragraph blocks to feature various aspects about a product. You can add up to three of these blocks and each can have an image associated with them."
          },
          {
            "type": "range",
            "id": "feature_2_text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 32
          }
        ]
      },
      {
        "type": "image-with-text",
        "name": "Image with text",
        "settings": [
          {
            "id": "image_1",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "image_2",
            "type": "image_picker",
            "label": "Image 2"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "default": "right",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "id": "image_width",
            "type": "select",
            "label": "Images width",
            "options": [
              { "label": "1/2", "value": "half" },
              { "label": "2/3", "value": "two-thirds" }
            ],
            "default": "half"
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Images aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use these sections to promote a particular feature with editorial photography.</p>"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 32
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "inline-features",
        "name": "Inline features",
        "settings": [
          {
            "type": "range",
            "id": "columns",
            "label": "Columns per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "id": "image_shape",
            "type": "radio",
            "label": "Image shape",
            "default": "round",
            "options": [
              { "value": "round", "label": "Round" },
              { "value": "square", "label": "Square" }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Feature 1"
          },
          {
            "id": "feature_1_show_image",
            "type": "checkbox",
            "label": "Show image",
            "default": true
          },
          {
            "id": "feature_1_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "feature_1_heading",
            "type": "text",
            "label": "Heading",
            "default": "Example Title"
          },
          {
            "id": "feature_1_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Simple short description"
          },
          {
            "type": "header",
            "content": "Feature 2"
          },
          {
            "id": "feature_2_show_image",
            "type": "checkbox",
            "label": "Show image",
            "default": true
          },
          {
            "id": "feature_2_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "feature_2_heading",
            "type": "text",
            "label": "Heading",
            "default": "Example Title"
          },
          {
            "id": "feature_2_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Simple short description"
          },
          {
            "type": "header",
            "content": "Feature 3"
          },
          {
            "id": "feature_3_show_image",
            "type": "checkbox",
            "label": "Show image",
            "default": true
          },
          {
            "id": "feature_3_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "feature_3_heading",
            "type": "text",
            "label": "Heading",
            "default": "Example Title"
          },
          {
            "id": "feature_3_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Simple short description"
          },
          {
            "type": "header",
            "content": "Feature 4"
          },
          {
            "id": "feature_4_show_image",
            "type": "checkbox",
            "label": "Show image",
            "default": true
          },
          {
            "id": "feature_4_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "feature_4_heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "feature_4_subheading",
            "type": "textarea",
            "label": "Subheading"
          }
        ]
      },
      {
        "type": "logo-list",
        "name": "Logo list",
        "settings": [
          {
            "type": "range",
            "id": "columns",
            "label": "Columns per row",
            "min": 3,
            "max": 6,
            "step": 1,
            "default": 5
          },
          {
            "type": "range",
            "id": "gutter_spacing",
            "label": "Spacing between logos",
            "unit": "px",
            "min": 0,
            "max": 50,
            "step": 5,
            "default": 20
          },
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "As featured in"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Logo 1"
          },
          {
            "id": "logo_1_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_1_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Logo 2"
          },
          {
            "id": "logo_2_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_2_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Logo 3"
          },
          {
            "id": "logo_3_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_3_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Logo 4"
          },
          {
            "id": "logo_4_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_4_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Logo 5"
          },
          {
            "id": "logo_5_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_5_link",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Logo 6"
          },
          {
            "id": "logo_6_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "logo_6_link",
            "type": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "settings": [
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Subscribe"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Sign up for our newsletter</p>"
          },
          {
            "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "faq",
        "name": "Questions and answers",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Heading",
            "default": "Questions and Answers"
          },
          {
            "id": "subheading",
            "type": "textarea",
            "label": "Subheading"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Question 1"
          },
          {
            "id": "question_1_question",
            "type": "text",
            "label": "Question",
            "default": "This is another example of a question that a customer might ask"
          },
          {
            "id": "question_1_answer",
            "type": "richtext",
            "label": "Answer",
            "default": "<p>\"This is an example of a response that you might give. It's good to be as thorough as possible in responses as that has a tendency to improve trust overall.\"</p>"
          },
          {
            "id": "question_1_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 2"
          },
          {
            "id": "question_2_question",
            "type": "text",
            "label": "Question",
            "default": "This is another example of a question that a customer might ask"
          },
          {
            "id": "question_2_answer",
            "type": "richtext",
            "label": "Answer",
            "default": "<p>\"This is an example of a response that you might give. It's good to be as thorough as possible in responses as that has a tendency to improve trust overall.\"</p>"
          },
          {
            "id": "question_2_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 3"
          },
          {
            "id": "question_3_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_3_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_3_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 4"
          },
          {
            "id": "question_4_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_4_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_4_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 5"
          },
          {
            "id": "question_5_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_5_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_5_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 6"
          },
          {
            "id": "question_6_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_6_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_6_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 7"
          },
          {
            "id": "question_7_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_7_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_7_author",
            "type": "text",
            "label": "Author"
          },
          {
            "type": "header",
            "content": "Question 8"
          },
          {
            "id": "question_8_question",
            "type": "text",
            "label": "Question"
          },
          {
            "id": "question_8_answer",
            "type": "richtext",
            "label": "Answer"
          },
          {
            "id": "question_8_author",
            "type": "text",
            "label": "Author"
          }
        ]
      },
      {
        "type": "quote",
        "name": "Quotes",
        "settings": [
          {
            "id": "timer",
            "type": "range",
            "label": "Time between quotes",
            "default": 7,
            "min": 3,
            "max": 15,
            "step": 1
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 40,
            "max": 60,
            "step": 1,
            "default": 48
          },
          {
            "id": "image_shape",
            "type": "radio",
            "label": "Image shape",
            "default": "round",
            "options": [
              { "value": "round", "label": "Round" },
              { "value": "square", "label": "Square" }
            ]
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Quote 1"
          },
          {
            "type": "textarea",
            "id": "quote_1_quote",
            "label": "Quote",
            "default": "Absolutely unparalleled products and service. I'm confident that this store will be the next big thing in its industry, and that its products will be timeless."
          },
          {
            "type": "text",
            "id": "quote_1_author",
            "label": "Author",
            "default": "Steve Jordans"
          },
          {
            "type": "image_picker",
            "id": "quote_1_image",
            "label": "Author photo",
            "info": "160px x 160px recommended."
          },
          {
            "type": "header",
            "content": "Quote 2"
          },
          {
            "type": "textarea",
            "id": "quote_2_quote",
            "label": "Quote"
          },
          {
            "type": "text",
            "id": "quote_2_author",
            "label": "Author"
          },
          {
            "type": "image_picker",
            "id": "quote_2_image",
            "label": "Author photo",
            "info": "160px x 160px recommended."
          },
          {
            "type": "header",
            "content": "Quote 3"
          },
          {
            "type": "textarea",
            "id": "quote_3_quote",
            "label": "Quote"
          },
          {
            "type": "text",
            "id": "quote_3_author",
            "label": "Author"
          },
          {
            "type": "image_picker",
            "id": "quote_3_image",
            "label": "Author photo",
            "info": "160px x 160px recommended."
          }
        ]
      },
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text area to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "slideshow",
        "name": "Slideshow",
        "settings": [
          {
            "type": "range",
            "id": "desktop_height",
            "label": "Height",
            "unit": "%",
            "min": 50,
            "max": 100,
            "step": 5,
            "default": 100
          },
          {
            "type": "range",
            "id": "mobile_height",
            "label": "Mobile height",
            "unit": "%",
            "min": 50,
            "max": 100,
            "step": 5,
            "default": 100
          },
          {
            "type": "range",
            "id": "duration_autoplay",
            "label": "Time between slides",
            "unit": "s",
            "min": 0,
            "max": 10,
            "step": 2,
            "default": 4
          },
          {
            "id": "heading_text_size",
            "type": "range",
            "label": "Heading size",
            "unit": "px",
            "min": 48,
            "max": 72,
            "step": 2,
            "default": 64
          },
          {
            "type": "range",
            "id": "overlay_shadow",
            "label": "Text shadow amount",
            "unit": "%",
            "min": 0,
            "max": 60,
            "step": 5,
            "default": 10
          },
          {
            "type": "header",
            "content": "Color"
          },
          {
            "id": "color_text",
            "type": "color",
            "label": "Text",
            "default": "#ffffff"
          },
          {
            "id": "color_text_button",
            "type": "color",
            "label": "Button text",
            "default": "#ffffff"
          },
          {
            "id": "color_background_button",
            "type": "color",
            "label": "Button background",
            "default": "#1C2232"
          },
          {
            "id": "color_overlay",
            "type": "color",
            "label": "Overlay",
            "default": "#000"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 30
          },
          {
            "type": "header",
            "content": "Slide 1"
          },
          {
            "id": "slide_1_desktop_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "slide_1_mobile_image",
            "type": "image_picker",
            "label": "Mobile image"
          },
          {
            "id": "slide_1_heading",
            "type": "textarea",
            "label": "Heading",
            "default": "Slideshow"
          },
          {
            "id": "slide_1_subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Use this section to make a bold statement</p>"
          },
          {
            "id": "slide_1_max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 40
          },
          {
            "id": "slide_1_link_text",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "slide_1_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "slide_1_alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" }
            ],
            "default": "left_center"
          },
          {
            "type": "header",
            "content": "Slide 2"
          },
          {
            "id": "slide_2_desktop_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "slide_2_mobile_image",
            "type": "image_picker",
            "label": "Mobile image"
          },
          {
            "id": "slide_2_heading",
            "type": "textarea",
            "label": "Heading",
            "default": "Slideshow"
          },
          {
            "id": "slide_2_subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Use this section to make a bold statement</p>"
          },
          {
            "id": "slide_2_max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 40
          },
          {
            "id": "slide_2_link_text",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "slide_2_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "slide_2_alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" }
            ],
            "default": "left_center"
          }
        ]
      },
      {
        "type": "social-proof",
        "name": "Social proof",
        "settings": [
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Social proof"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading",
            "default": "<p>Use this Section to display your favourite social images.</p>"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "aspect_ratio",
            "type": "select",
            "label": "Image aspect ratio",
            "options": [
              { "label": "Natural", "value": "natural" },
              { "label": "Square (1:1)", "value": "square" },
              { "label": "Landscape (3:2)", "value": "landscape" },
              { "label": "Portrait (2:3)", "value": "portrait" }
            ],
            "default": "natural"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "color",
            "id": "like_color",
            "label": "Like icon color",
            "default": "#C71B1B"
          },
          {
            "type": "header",
            "content": "Post 1"
          },
          {
            "type": "image_picker",
            "id": "item_1_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "item_1_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "item_1_likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "item_1_account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "item_1_caption",
            "label": "Caption"
          },
          {
            "type": "header",
            "content": "Post 2"
          },
          {
            "type": "image_picker",
            "id": "item_2_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "item_2_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "item_2_likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "item_2_account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "item_2_caption",
            "label": "Caption"
          },
          {
            "type": "header",
            "content": "Post 3"
          },
          {
            "type": "image_picker",
            "id": "item_3_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "item_3_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "item_3_likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "item_3_account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "item_3_caption",
            "label": "Caption"
          },
          {
            "type": "header",
            "content": "Post 4"
          },
          {
            "type": "image_picker",
            "id": "item_4_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "item_4_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "item_4_likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "item_4_account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "item_4_caption",
            "label": "Caption"
          },
          {
            "type": "header",
            "content": "Post 5"
          },
          {
            "type": "image_picker",
            "id": "item_5_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "item_5_link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "item_5_likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "item_5_account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "item_5_caption",
            "label": "Caption"
          }
        ]
      },
      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "range",
            "id": "columns",
            "label": "Columns per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ]
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Testimonial 1"
          },
          {
            "id": "testimonial_1_heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "testimonial_1_testimonial",
            "type": "richtext",
            "label": "Testimonial",
            "default": "<p>\"Add customer reviews and testimonials to showcase your store’s happy customers.\"</p>"
          },
          {
            "id": "testimonial_1_author",
            "type": "text",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "header",
            "content": "Testimonial 2"
          },
          {
            "id": "testimonial_2_heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "testimonial_2_testimonial",
            "type": "richtext",
            "label": "Testimonial",
            "default": "<p>\"Add customer reviews and testimonials to showcase your store’s happy customers.\"</p>"
          },
          {
            "id": "testimonial_2_author",
            "type": "text",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "header",
            "content": "Testimonial 3"
          },
          {
            "id": "testimonial_3_heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "testimonial_3_testimonial",
            "type": "richtext",
            "label": "Testimonial",
            "default": "<p>\"Add customer reviews and testimonials to showcase your store’s happy customers.\"</p>"
          },
          {
            "id": "testimonial_3_author",
            "type": "text",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "header",
            "content": "Testimonial 4"
          },
          {
            "id": "testimonial_4_heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "testimonial_4_testimonial",
            "type": "richtext",
            "label": "Testimonial"
          },
          {
            "id": "testimonial_4_author",
            "type": "text",
            "label": "Author"
          }
        ]
      },
      {
        "type": "text-columns-with-images",
        "name": "Text columns with images",
        "settings": [
          {
            "type": "range",
            "id": "columns",
            "label": "Columns per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 4
          },
          {
            "id": "image_shape",
            "type": "radio",
            "label": "Image shape",
            "default": "round",
            "options": [
              { "value": "round", "label": "Round" },
              { "value": "square", "label": "Square" }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              }
            ]
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "id": "column_1_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "column_1_heading",
            "type": "text",
            "label": "Heading",
            "default": "Feature heading"
          },
          {
            "id": "column_1_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Tell a story, explain a detail about your product, or describe a new promotion."
          },
          {
            "id": "column_1_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "column_1_link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "id": "column_2_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "column_2_heading",
            "type": "text",
            "label": "Heading",
            "default": "Feature heading"
          },
          {
            "id": "column_2_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Tell a story, explain a detail about your product, or describe a new promotion."
          },
          {
            "id": "column_2_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "column_2_link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "id": "column_3_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "column_3_heading",
            "type": "text",
            "label": "Heading",
            "default": "Feature heading"
          },
          {
            "id": "column_3_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Tell a story, explain a detail about your product, or describe a new promotion."
          },
          {
            "id": "column_3_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "column_3_link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          },
          {
            "type": "header",
            "content": "Column 4"
          },
          {
            "id": "column_4_image",
            "type": "image_picker",
            "label": "Image",
            "info": "160px x 160px recommended."
          },
          {
            "id": "column_4_heading",
            "type": "text",
            "label": "Heading",
            "default": "Feature heading"
          },
          {
            "id": "column_4_subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Tell a story, explain a detail about your product, or describe a new promotion."
          },
          {
            "id": "column_4_link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "column_4_link_text",
            "type": "text",
            "label": "Button label",
            "default": "Read more"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "type": "range",
            "id": "text_max_width",
            "label": "Max width of text",
            "min": 24,
            "max": 48,
            "step": 1,
            "default": 42
          },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Style"
          },
          {
            "id": "opacity_overlay",
            "type": "range",
            "label": "Overlay opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 60,
            "unit": "%"
          },
          {
            "id": "color_overlay",
            "type": "color",
            "label": "Overlay",
            "default": "#000000"
          },
          {
            "id": "section_contrast",
            "type": "checkbox",
            "label": "Use alternate section color",
            "default": true
          }
        ]
      },
      {
        "type": "video-hero",
        "name": "Video hero",
        "settings": [
          {
            "type": "range",
            "id": "desktop_height",
            "label": "Height",
            "unit": "%",
            "min": 50,
            "max": 100,
            "step": 5,
            "default": 100
          },
          {
            "type": "range",
            "id": "mobile_height",
            "label": "Mobile height",
            "unit": "%",
            "min": 50,
            "max": 100,
            "step": 5,
            "default": 100
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Video link",
            "info": "Use a direct link to an .mp4 video file. [Learn more here](https://fluorescent.co/help/spark/video-hero#add-a-video)."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image fallback"
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading",
            "default": "Video hero"
          },
          {
            "id": "subheading",
            "type": "textarea",
            "label": "Subheading",
            "default": "Feature seamless auto-playing hero videos in this space."
          },
          {
            "id": "heading_text_size",
            "type": "range",
            "label": "Heading size",
            "unit": "px",
            "min": 48,
            "max": 72,
            "step": 2,
            "default": 64
          },
          {
            "id": "max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 40
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label",
            "default": "Shop now"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" }
            ],
            "default": "left_center"
          },
          {
            "type": "range",
            "id": "overlay_shadow",
            "label": "Text shadow amount",
            "unit": "%",
            "min": 0,
            "max": 60,
            "step": 5,
            "default": 30
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 10
          },
          {
            "id": "color_overlay",
            "type": "color",
            "label": "Overlay",
            "default": "#000"
          },
          {
            "id": "color_text",
            "type": "color",
            "label": "Text",
            "default": "#ffffff"
          },
          {
            "id": "color_background_button",
            "type": "color",
            "label": "Button background",
            "default": "#1C2232"
          },
          {
            "id": "color_text_button",
            "type": "color",
            "label": "Button text",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}

