{% comment %}
                                                	FIR-leggings
{% endcomment %}
{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign first_3d_model = product.media | where: "media_type", "model" | first
  assign show_share_buttons = section.settings.show_share_buttons

  assign description_below = false
  if section.settings.description_layout == 'below'
    assign description_below = true
  endif

  assign quick_purchase_bar_enabled = false

  if section.settings.enable_quick_purchase_bar and current_variant.available
    assign quick_purchase_bar_enabled = true
  endif
-%}

<section
  class="product"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-current-product-id="{{ current_variant }}"
  data-product-has-only-default-variant="{{ product.has_only_default_variant }}"
  data-quick-purchase-bar-enabled="{{ quick_purchase_bar_enabled }}"
>
  <div class="product__top">
    <div class="product__media-container">
      <div class="product__media">
        {%- for media in product.media -%}
          <div
            class="product__media-item {% unless media.id == featured_media.id %} hidden{% endunless %}"
            data-media-item-id="{{ media.id }}"
            data-product-media-wrapper
          >
            {% render 'media', media: media, featured_media: featured_media, loop_video: section.settings.enable_video_looping %}
          </div>
        {%- else -%}
          <div class="product__media-item placeholder-image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endfor -%}
      </div>
      {% comment %} Pre order app  {% endcomment %}
      {% comment %} <div class="pre-order-badge pre-order-hidden">限量預購</div> {% endcomment %}

      {%- if first_3d_model -%}
        <button
          aria-label="{{ 'products.product.view_in_space_label' | t }}"
          class="product__view-in-space btn btn--full"
          data-in-your-space
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          <span>
            {% render 'icon' with icon: '3d' %}
            <span class="product__view-in-space-text">{{ 'products.product.view_in_space' | t }}</span>
          </span>
        </button>
      {%- endif -%}

      {% render 'product-thumbnails' with featured_media: featured_media %}

      {% unless description_below %}
        {% render 'widgets-accordion' with blocks: section.blocks, current_variant: current_variant %}
      {% endunless %}
      <span class="product-arrow product-arrow__left" style="opacity: 0;">
        <svg
          class="bi bi-chevron-right"
          fill="currentColor"
          version="1.1"
          viewbox="0 0 50 50"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
            <polygon fill-rule="nonzero" fill="#000" points="30.2128906 25 9.31604249 4.05995176 15.0515759 0 40 25 15.0515759 50 9.31604249 45.9400482"></polygon>
          </g>
        </svg>
      </span>
      <span class="product-arrow product-arrow__right">
        <svg
          class="bi bi-chevron-right"
          fill="currentColor"
          version="1.1"
          viewbox="0 0 50 50"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
            <polygon fill-rule="nonzero" fill="#000" points="30.2128906 25 9.31604249 4.05995176 15.0515759 0 40 25 15.0515759 50 9.31604249 45.9400482"></polygon>
          </g>
        </svg>
      </span>
    </div>

    <div class="product__details">
      <div class="product__meta">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

        <h1 class="product-title-custom product__title ff-heading fs-heading-2-large fs-heading-1-base-ns">
          {{ product.title }}
        </h1>
        {% if settings.reviews-function-show-okendo %}
          {% render 'okendo-reviews-product-rating-summary', product: product %}
        {% endif %}

        {% if settings.reviews-function-show %}
          <!-- Stamped - Begin Star Rating Badge -->

          <span
            class="stamped-product-reviews-badge stamped-main-badge"
            style="display: none;"
            data-id="{{ product.id }}"
            data-product-sku="{{ product.handle }}"
            data-product-title="{{ product.title }}"
            data-product-type="{{ product.type }}"
            style="display: flex;margin-top: 5px;"
          >
            {{ product.metafields.stamped.badge }}
          </span>
          <a class="star-reviews" href="#stamped-main-widget" style="margin-top: 10px;display: block;">
            <span class="stamped-fa stamped-fa-star"></span>
            <span class="stamped-fa stamped-fa-star"></span>
            <span class="stamped-fa stamped-fa-star"></span>
            <span class="stamped-fa stamped-fa-star"></span>
            <span class="stamped-fa stamped-fa-star"></span>
            {% if settings.product-description-wording %}
              <span style="margin-left: 10px;">
                {{ settings.product-description-wording }}
              </span>
            {% endif %}
          </a>
          <!-- Stamped - End Star Rating Badge -->
        {% endif %}
        <div class="product__price">
          <span class="fs-heading-4-base" data-price>{{ current_variant.price | money }}</span>

          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {%- if current_variant.compare_at_price > current_variant.price -%}
              {{ current_variant.compare_at_price | money }}
            {%- endif -%}
          </s>
          {% render 'unit-price' item: current_variant %}
        </div>
        {% if settings.fir-set-mkt-wording-1 != blank %}
          <a
            class="mkt-wording mkt-wording__1"
            href="{{ settings.fir-set-mkt-url-1 }}"
            style="
              color:{{ settings.fir-set-mkt-color-1 }};margin-top:5px;display:block; {% if settings.fir-set-mkt-underline-1 %} text-decoration:underline; {% endif %} {% if settings.fir-set-mkt-bold-1 %}font-weight:bold;{% endif %}{% unless settings.fir-set-mkt-url-1 %}pointer-events: none;
              {% endunless %}
            "
          >
            {{- settings.fir-set-mkt-wording-1 -}}
          </a>
        {% endif %}
        {% if settings.fir-set-mkt-wording-2 != blank %}
          <a
            class="mkt-wording mkt-wording__2"
            href="{{ settings.fir-set-mkt-url-2 }}"
            style="
              color:{{ settings.fir-set-mkt-color-2 }};margin-top:5px;display:block; {% if settings.fir-set-mkt-underline-2 %} text-decoration:underline; {% endif %} {% if settings.fir-set-mkt-bold-2 %}font-weight:bold;{% endif %}{% unless settings.fir-set-mkt-url-2 %}pointer-events: none;
              {% endunless %}
            "
          >
            {{- settings.fir-set-mkt-wording-2 -}}
          </a>
        {% endif %}
        <div class="product__vendor-sku-wrapper">
          {%- if section.settings.show_vendor -%}
            <div class="product__vendor btn btn--text-link">{{ product.vendor | link_to_vendor }}</div>
          {%- endif -%}

          {%- if section.settings.show_sku -%}
            <div class="product__sku" data-product-sku>
              {% if current_variant.sku != blank %}
                {{ 'products.product.sku_with_value' | t: value: current_variant.sku }}
              {% endif %}
            </div>
          {%- endif -%}
        </div>

        {%
          render 'product-form-fir-set' with
          product: product,
          current_variant: current_variant,
          show_quantity: section.settings.show_quantity_input,
          show_dynamic_checkout: section.settings.enable_payment_button,
          show_labels: section.settings.show_labels,
        %}

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p aria-live="polite" class="visually-hidden" data-product-status role="status"></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p aria-hidden="true" aria-live="assertive" class="visually-hidden" data-loader-status role="alert">
          {{ 'products.product.loader_label' | t }}
        </p>

        {%- comment -%}
          12/4 為了隱藏 '結帳時計算運費' 的文字
          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endcomment -%}

        {% unless description_below %}
          {%-
            render 'product-description' with
            description: product.description,
            description_below: description_below,
            show_share_buttons: show_share_buttons
          -%}
        {% endunless %}
      </div>
    </div>
  </div>

  <div class="product__bottom{% unless description_below %} product__bottom--hide-desktop{% endunless %}">
    {% if description_below %}
      {%-
        render 'product-description' with
        description: product.description,
        description_below: description_below,
        show_share_buttons: show_share_buttons
      -%}
    {% endif %}

    {% render 'widgets' with blocks: section.blocks, current_variant: current_variant, display_on_desktop: description_below %}
  </div>

  {%- assign images = product.media | where: 'media_type', 'image' -%}
  {% render 'lightbox' with images: images %}
  {%- if quick_purchase_bar_enabled -%}
    {% render 'quick-purchase-bar' with product: product, show_share_buttons: show_share_buttons %}
  {%- endif -%}
</section>

{% render 'product-reviews' with product: product %}

{%- assign models = product.media | where: 'media_type', 'model' | json -%}

<script>
    window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    ShopifyXR('addModels', {{ models }});
    window.addEventListener("DOMContentLoaded", function () {
      let handle = '{{ product.handle }}';
      let collection = {{ product | json }}
      function send_emp_view_event(current_id, event_name="view_item"){
        let collection = {{ product | json }};
        {% comment %} console.log(collection, current_id) {% endcomment %}
        const [current_variant] = collection.variants.filter((item)=> item.id === Number(current_id) );
        {% comment %} console.log("current_variant", current_variant); {% endcomment %}
        let name = `${current_variant.name.split(" - ")[0]}-${current_variant.option1}`
        {% comment %} console.log("product--template-legging","{{ template.name }}" )
        console.log("current",current_variant)
        console.log("collection",{{ product | json }}) {% endcomment %}
        let id = current_variant.sku
        dataLayer = window.dataLayer || [];
        dataLayer.push({
        event : 'emp_event',
        eventCategory : 'ecommerce',
        eventAction : event_name,
        ecommerce: {
            detail: {
                products: [{
                  name: name,
                   id: id.split('.')[0]+'.'+id.split('.')[1],
                   price: `${current_variant.price/100}`,
                   brand: 'NU Concept 肌能衣研製所',
                   category: collection.type,
                   variant:`${current_variant.option2} / ${current_variant.option3}`
                }]
            }
          }
        })

      }

      {% comment %} const product = collection.variants.filter((item)=> item.id === current_variant.id ); {% endcomment %}
      let current_variant = {{ current_variant | json }};

      {% comment %} let name = `FIR 美敷肌能®壓力褲-${current_variant.option1} ${current_variant.option2}` {% endcomment %}
      {% comment %} "FIR 美敷肌能®成套系列-胭脂霧紅 - 交叉款 / M / S"  {% endcomment %}
      let id = current_variant.id;
      send_emp_view_event(id)
      {% comment %} console.log("sent!") {% endcomment %}

      document.getElementById('product-form-add-to-cart').addEventListener('click',()=>{
        let id;
        if(location.search.includes("=")){
          let current_variant_id = location.search.split("=")[1];
          let variant =  collection.variants.filter((item)=> item.id === Number(current_variant_id) );
          id = variant[0].id
        }else{
          id = collection.variants[0].id;
        }
        send_emp_view_event(id, "add_to_cart")
      })
      if(handle.includes('all')){

        document.querySelectorAll('.product-form__option .product-form__color-chips').forEach(item=>{
          item.addEventListener('click', ()=>{
            let id = location.search.split("=")[1];
            {% comment %} console.log("choose click", id) {% endcomment %}
            send_emp_view_event(id)
          })
        })
      }else{
      document.querySelectorAll('.product-form__option .product-form__color-chips').forEach(item=>{
        item.addEventListener('click',()=>{
          let id = location.search.split("=")[1];
          {% comment %} console.log("choose click", id) {% endcomment %}
          send_emp_view_event(id)
        })
      })
    }
  });
  window.addEventListener('load',()=>{
    setTimeout(()=>{
      //fix_pre_order_app()
    },0)
  })
</script>
<script defer="defer" src="//cdn.shopify.com/shopifycloud/shopify-xr-js/assets/v1.0/shopify-xr.en.js"></script>

{%- unless product == empty -%}
  <script id="ProductJson-{{ section.id }}" type="application/json">
    {{ product | json }}
  </script>
  <script id="ModelJson-{{ section.id }}" type="application/json">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endunless -%}

{% schema %}
{
  "name": "Product details",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_quick_purchase_bar",
      "label": "Show quick purchase bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_labels",
      "label": "Show labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity_input",
      "label": "Show quantity input",
      "info": "If disabled, quantity added defaults to 1.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "description_layout",
      "type": "radio",
      "label": "Description position",
      "default": "below",
      "options": [
        {
          "value": "inline",
          "label": "Beneath button"
        },
        {
          "value": "below",
          "label": "Beneath section"
        }
      ]
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "id": "enable_video_looping",
      "type": "checkbox",
      "label": "Enable video looping",
      "default": true
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "payment_widget",
      "name": "Payment widget",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "payment",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "security",
              "label": "Security"
            },
            {
              "value": "shipping",
              "label": "Shipping"
            }
          ]
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Payment"
        },
        {
          "id": "show_payment_icons",
          "type": "checkbox",
          "label": "Show payment icons",
          "default": true
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Your payment information is processed securely. We do not store credit card details nor have access to your credit card information.</p>"
        }
      ]
    },
    {
      "type": "security_widget",
      "name": "Security widget",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "security",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "security",
              "label": "Security"
            },
            {
              "value": "shipping",
              "label": "Shipping"
            }
          ]
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Security"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>This website is encrypted. We take your security very seriously. All transactions powered by Shopify.</p>"
        }
      ]
    },
    {
      "type": "shipping_widget",
      "name": "Shipping widget",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "shipping",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "security",
              "label": "Security"
            },
            {
              "value": "shipping",
              "label": "Shipping"
            }
          ]
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Shipping"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Rates are approximations. Exact rates will be provided at checkout.</p>"
        },
        {
          "id": "show_estimator",
          "type": "checkbox",
          "label": "Show shipping estimator",
          "default": true
        }
      ]
    },
    {
      "type": "custom_widget",
      "name": "Custom widget",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "chat",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "payment",
              "label": "Payment"
            },
            {
              "value": "security",
              "label": "Security"
            },
            {
              "value": "shipping",
              "label": "Shipping"
            }
          ]
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Widget title"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use these blocks to provide some at a glance information about your processes or procedures.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %}
   <style>
    .pre-order-hidden{
      visibility:hidden;
    }
  </style>
{% endcomment %}
