{%- render 'section--quote' with
  timer: section.settings.timer,
  image_shape: section.settings.image_shape,
  section_contrast: section.settings.section_contrast,
  text_max_width: section.settings.text_max_width,
  blocks: section.blocks,
-%}

{% schema %}
  {
    "name": "Quotes",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "id": "timer",
        "type": "range",
        "label": "Time between quotes",
        "default": 7,
        "min": 3,
        "max": 15,
        "step": 1
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 40,
        "max": 60,
        "step": 1,
        "default": 54
      },
      {
        "id": "image_shape",
        "type": "radio",
        "label": "Image shape",
        "default": "round",
        "options": [
          { "value": "round", "label": "Round" },
          { "value": "square", "label": "Square" }
        ]
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "type": "textarea",
            "id": "quote",
            "label": "Quote",
            "default": "Absolutely unparalleled products and service. I'm confident that this store will be the next big thing in its industry, and that its products will be timeless."
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Steve Jordans"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author photo",
            "info": "160px x 160px recommended."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Quotes",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
