{% comment %}
    	FIR-leggings
{% endcomment %}
{%- liquid
  assign max_products = 6
  assign columns = section.settings.columns
-%}
{% if settings.reviews-function-show %}
  {% include 'product-ugc-reviews', product: product %}
{% endif %}

{% if settings.reviews-function-show-okendo %}
  {% include 'okendo-reviews-widget', product: product %}
{% endif %}
<section
  data-section-id="{{ section.id }}"
  data-section-type="recommended-products"
  data-product-id="{{ product.id }}"
  data-limit="{{ max_products }}"
  class="
    recommended-products
    recommended-products--columns-{{ columns }}
    section
    section--contrast
    {% unless section.settings.enabled -%} hidden{%- endunless %}
  "
  style="--text-max-width: {{ section.settings.text_max_width }}rem;"
>
  <div class="section__inner">
    {%
      render 'section-header',
      heading: section.settings.title,
      subheading: section.settings.subheading,
      classes: 'section-header--large section-header--center',
    %}

    <div class="recommended-products__content" data-recommendations>
      <div class="recommended-products__slider-wrapper">
        {%- liquid
          assign carousel_wraps = false
          assign minimum_items_for_wrap_around = columns | plus: 1
          assign items_needed = minimum_items_for_wrap_around | minus: recommendations.products_count

          if items_needed <= 0
            assign carousel_wraps = true
          endif

          assign aspect_ratio = section.settings.aspect_ratio
        -%}

        {%- if recommendations.products_count > 0 -%}
          <div class="recommended-products__slider" data-slider data-carousel-wraps="{{ carousel_wraps }}">
            {%- for product in recommendations.products -%}
              <div class="recommended-products__slide" data-slide>
                {% render 'product-item' with product: product, aspect_ratio: aspect_ratio %}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>

      {% render 'carousel-navigation' with columns: columns, item_count: recommendations.products_count %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Recommended products",
  "class": "shopify-section--stackable",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable",
      "default": true
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Columns per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Recommended"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "You might want to take a closer look."
    },
    {
      "type": "range",
      "id": "text_max_width",
      "label": "Max width of text",
      "min": 24,
      "max": 48,
      "step": 1,
      "default": 42
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "Image aspect ratio",
      "options": [
        {
          "label": "Natural",
          "value": "natural"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Landscape (3:2)",
          "value": "landscape"
        },
        {
          "label": "Portrait (2:3)",
          "value": "portrait"
        }
      ],
      "default": "natural"
    }
  ]
}
{% endschema %}
