<section class="reviews-wall">
  <div class="reviews-wall-content">
    <h2 class="reviews-wall__title">{{ section.settings.reivews-title | newline_to_br }}</h2>
    <h2 class="reviews-wall__subtitle">{{ section.settings.reivews-subtitle | newline_to_br }}</h2>
  </div>
</section>
<h2 class="reviews-category__title">{{ section.settings.reivews-category-title | newline_to_br }}</h2>

<section class="reviews">
  <div class="reviews-type">
    {% for type in section.blocks %}
      {% assign typeImage =  type.settings.image | image_url: width: 100, height: 100 %}
      {% assign typeImageActive = type.settings.image-active | image_url: width: 100, height: 100 %}
      <img
        class="reviews-type__item"
        width="100"
        height="100"
        src="{{ typeImage }}"
        data-type="{{ type }}"
        id="reviews-type-{{ forloop.index0 }}"
      >
      <img
        class="reviews-type__noActive reviews-type__noActive--{{ forloop.index0 }}"
        width="100"
        height="100"
        style="display:none"
        src="{{ typeImage }}"
      >
      <img
        class="reviews-type__Active reviews-type__Active--{{ forloop.index0 }}"
        style="display:none"
        src="{{ typeImageActive }}"
        width="100"
        height="100"
      >
    {% endfor %}
  </div>
</section>
<style>
  section.reviews .reviews-type {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-column-gap: 25px;
    justify-content: center;
    justify-items: center;
  }
  section.reviews .reviews-type__item{
    border-radius: 10px;
    object-fit: cover;
    cursor:pointer;
  }
</style>
{% schema %}
{
  "name": "reviews header",
  "settings": [
    {
      "type": "image_picker",
      "id": "wall-image",
      "label": "Image",
      "info": "1440px x 810px  recommended"
    },
    {
      "type": "image_picker",
      "id": "wall-image-mobile",
      "label": "mobile image",
      "info": "375px x 410px recommended"
    },
    {
      "type": "textarea",
      "id": "reivews-title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "textarea",
      "id": "reivews-subtitle",
      "label": "subtitle",
      "default": "來自消費者的真實反饋"
    },
    {
      "type": "textarea",
      "id": "reivews-category-title",
      "label": "Category title",
      "default": "下方 category 的 title",
      "info": "下方 category 的 title"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "image_picker",
      "name": "Reviews type",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "類別的圖片",
          "info": "recommend size: 100px x 100px"
        },
        {
          "id": "image-active",
          "type": "image_picker",
          "label": "類別的圖片 (active)",
          "info": "recommend size: 100px x 100px"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  section.reviews-wall{
    background-image:url("{{ section.settings.wall-image | image_url }}");
  }
  @media(max-width:800px){
    section.reviews-wall{
      background-image:url("{{ section.settings.wall-image-mobile | image_url }}");
    }
    section.reviews .reviews-type{
      grid-template-columns: repeat(2, 110px);
      grid-gap: 10px;
      padding: 20px;
    }
  }
</style>
<style>
    section.reviews-wall {
      height: 800px;
      position: relative;
      background-size:cover;
    }

    section.reviews-wall .reviews-wall-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      width: max-content;

    }
  section.reviews-wall .reviews-wall__title{
    font-size:46px;
    margin-bottom: 20px;
  }
  section.reviews-wall .reviews-wall__subtitle {
    font-weight: 400;
  }
    .reviews-category__title {
      max-width: 800px;
      text-align: center;
      margin: 80px auto;
      font-weight: 400;
    }

    @media (max-width:800px){
      .reviews-category__title{
        padding:0 20px;
      }
    }
    @media(max-width:600px) {
      section.reviews-wall {
        height: 410px;
        background-position: center;
      }

      section.reviews-wall .reviews-wall__title {
        font-size:26px;
      }
      section.reviews-wall .reviews-wall__subtitle {
        font-size:16px;
        font-weight: 400;
      }

      .reviews-category__title {
        font-size: 16px;
        margin: 20px auto;

      }
    }
</style>

{% javascript %}

{% endjavascript %}
