{%- render 'section--rich-text' with
  text_max_width: section.settings.text_max_width,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  section_contrast: section.settings.section_contrast,
  link: section.settings.link,
  link_text: section.settings.link_text,
-%}

{% schema %}
  {
    "name": "Rich text",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Rich text"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Use this text area to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Button label",
        "default": "Read more"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [{
        "name": "Rich text",
        "category": "Text"
    }]
  }
{% endschema %}
