{%- render 'section--slideshow' with
  desktop_height: section.settings.desktop_height,
  mobile_height: section.settings.mobile_height,
  overlay_shadow: section.settings.overlay_shadow,
  overlay_opacity: section.settings.overlay_opacity,
  color_overlay: section.settings.color_overlay,
  heading_text_size: section.settings.heading_text_size,
  color_text: section.settings.color_text,
  color_background_button: section.settings.color_background_button,
  color_text_button: section.settings.color_text_button,
  duration_autoplay: section.settings.duration_autoplay
  blocks: section.blocks
-%}

{% schema %}
  {
    "name": "Slideshow",
    "class": "shopify-section--stackable shopify-section--contrast offset-section",
    "settings": [
      {
        "type": "range",
        "id": "desktop_height",
        "label": "Height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "mobile_height",
        "label": "Mobile height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "duration_autoplay",
        "label": "Time between slides",
        "unit": "s",
        "min": 0,
        "max": 10,
        "step": 2,
        "default": 4
      },
      {
        "id": "heading_text_size",
        "type": "range",
        "label": "Heading size",
        "unit": "px",
        "min": 48,
        "max": 72,
        "step": 2,
        "default": 64
      },
      {
        "type": "range",
        "id": "overlay_shadow",
        "label": "Text shadow amount",
        "unit": "%",
        "min": 0,
        "max": 60,
        "step": 5,
        "default": 10
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "id": "color_text",
        "type": "color",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#ffffff"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#1C2232"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay opacity",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "limit": 5,
        "settings": [
          {
            "id": "desktop_image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "mobile_image",
            "type": "image_picker",
            "label": "Mobile image"
          },
          {
            "id": "title",
            "type": "textarea",
            "label": "Heading"
          },
          {
            "id": "subheading",
            "type": "richtext",
            "label": "Subheading"
          },
          {
            "id": "max_width_subheading",
            "type": "range",
            "label": "Text max width",
            "min": 20,
            "max": 50,
            "step": 2,
            "default": 40
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Button label"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Button link"
          },
          {
            "id": "alignment",
            "type": "select",
            "label": "Text alignment",
            "options": [
              { "label": "Top left", "value": "left_top" },
              { "label": "Top center", "value": "center_top" },
              { "label": "Top right", "value": "right_top" },
              { "label": "Middle left", "value": "left_center" },
              { "label": "Middle center", "value": "center_center" },
              { "label": "Middle right", "value": "right_center" },
              { "label": "Bottom left", "value": "left_bottom" },
              { "label": "Bottom center", "value": "center_bottom" },
              { "label": "Bottom right", "value": "right_bottom" }
            ],
            "default": "left_center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "title": "Slideshow",
              "subheading": "<p>Use this section to make a bold statement</p>",
              "link": "#",
              "link_text": "Buy now"
            }
          },
          {
            "type": "image",
            "settings": {
              "title": "Slideshow",
              "subheading": "<p>Use this section to make a bold statement</p>",
              "link": "#",
              "link_text": "Buy now"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
