{%- render 'section--social-proof' with
  columns: section.settings.columns,
  aspect_ratio: section.settings.aspect_ratio,
  section_contrast: section.settings.section_contrast,
  text_max_width: section.settings.text_max_width,
  like_color: section.settings.like_color,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  blocks: section.blocks,
-%}

{% schema %}
  {
    "name": "Social proof",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Social proof"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading",
        "default": "<p>Use this Section to display your favourite social images.</p>"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "aspect_ratio",
        "type": "select",
        "label": "Image aspect ratio",
        "options": [
          { "label": "Natural", "value": "natural" },
          { "label": "Square (1:1)", "value": "square" },
          { "label": "Landscape (3:2)", "value": "landscape" },
          { "label": "Portrait (2:3)", "value": "portrait" }
        ],
        "default": "natural"
      },
      {
        "type": "color",
        "id": "like_color",
        "label": "Like icon color",
        "default": "#C71B1B"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 50,
    "blocks": [
      {
        "type": "image",
        "name": "Post",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Details"
          },
          {
            "type": "text",
            "id": "likes",
            "label": "Number of likes",
            "info": "Misleading customers with fake numbers could fall under “unfair or deceptive acts or practices” in the [FTC Act](https://ca.practicallaw.thomsonreuters.com/w-007-7584)."
          },
          {
            "type": "text",
            "id": "account",
            "label": "Posted by"
          },
          {
            "type": "textarea",
            "id": "caption",
            "label": "Caption"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Social proof",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}

