<div class="store-availability-container"
  data-section-id="{{ section.id }}"
  data-section-type="store-availability"
>
  {%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
  {%- assign closest_location = pick_up_availabilities.first -%}

  {% capture product_availability_icon %}
    {%- if closest_location.available -%}
      {% render 'icon' with icon: 'in-stock' %}
    {%- else -%}
      {% render 'icon' with icon: 'out-of-stock' %}
    {%- endif -%}
  {% endcapture %}

  {%- if pick_up_availabilities.size > 0 -%}
    <div class="store-availability{% if closest_location.available %} store-availability--available{% endif %}">
      <div class="store-availability__information fs-body-small">
        {%- if closest_location.available -%}
          <div class="store-availability__information-title">
            {{ 'store_availability.general.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
          </div>
          <div class="store-availability__information-stock">
            {{ product_availability_icon }}<span>{{ 'store_availability.general.in_stock' | t }}&#44; {{ closest_location.pick_up_time }}</span>
          </div>
          <div class="store-availability__information-stores">
            <button type="button" class="store-availability__information-link btn btn--text-link" data-store-availability-drawer-trigger aria-haspopup="dialog">
              {%- if pick_up_availabilities.size == 1 -%}
                {{ 'store_availability.general.view_store_info' | t }}
              {%- else -%}
                {{ 'store_availability.general.check_other_stores' | t }}
              {%- endif -%}
            </button>
          </div>
        {%- else -%}
          <div class="store-availability__information-title">
            {{ 'store_availability.general.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
          </div>
          {%- if pick_up_availabilities.size > 1 -%}
            <div class="store-availability__information-stock">
              {{ product_availability_icon }}<span>{{ 'store_availability.general.not_in_stock' | t }}</span>
            </div>
            <div class="store-availability__information-stores">
              <button type="button" class="store-availability__information-link btn btn--text-link" data-store-availability-drawer-trigger aria-haspopup="dialog">
                {{ 'store_availability.general.check_other_stores' | t }}
              </button>
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>

    <div class="store-availability__store-list-wrapper" data-store-availability-list-content>
      <p class="store-availability__store-list-title ff-heading fs-heading-3-base">{{ 'store_availability.general.locations' | t }}</p>
      <div class="store-availability__store-list" >
        {%- for availability in pick_up_availabilities -%}
          <div class="store-availability-list__item{% if availability.available %} store-availability-list__item--available{% endif %}">
            <div class="store-availability-list__item-inner">
              <div class="store-availability-list__location fs-body-bold">
                  {{availability.location.name}}
              </div>
              <div class="store-availability-list__stock">
                {%- if availability.available -%}
                  {% render 'icon' with icon: 'in-stock' %} {{ 'store_availability.general.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
                {%- else -%}
                  {% render 'icon' with icon: 'out-of-stock' %} {{ 'store_availability.general.pick_up_currently_unavailable' | t }}
                {%- endif -%}
              </div>
              {%- assign address = availability.location.address -%}
              <div class="store-availability-list__address rte">
                {{ address | format_address }}
              </div>
              {%- if address.phone.size > 0 -%}
                <p class="store-availability-list__phone">
                  {{ address.phone }}<br>
                </p>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
