
{%- render 'section--testimonials' with
  columns: section.settings.columns,
  section_contrast: section.settings.section_contrast,
  text_max_width: section.settings.text_max_width,
  text_alignment: section.settings.text_alignment,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  blocks: section.blocks
-%}

{% schema %}
  {
    "name": "Testimonials",
    "class": "shopify-section--stackable shopify-section--text-first",
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading",
            "default": "Amazing product!"
          },
          {
            "id": "testimonial",
            "type": "richtext",
            "label": "Testimonial",
            "default": "<p>\"Add customer reviews and testimonials to showcase your store’s happy customers.\"</p>"
          },
          {
            "id": "author",
            "type": "text",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "testimonial",
            "settings": {
              "heading": "Amazing product!",
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          },
          {
            "type": "testimonial",
            "settings": {
              "heading": "Amazing product!",
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          },
          {
            "type": "testimonial",
            "settings": {
              "heading": "Amazing product!",
              "testimonial": "<p>\"Add quotes from your customers here. Anything positive is great to include, even if it's just something about how fast shipping was or how great you were to deal with.\"</p>",
              "author": "Happy customer"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
