{%-
  render 'section--text-columns-with-images' with
  columns: section.settings.columns,
  text_alignment: section.settings.text_alignment,
  image_shape: section.settings.image_shape,
  section_contrast: section.settings.section_contrast,
  blocks: section.blocks,
  mobile_one_line: section.settings.mobile_one_line
-%}

{% schema %}
{
  "name": "Text columns with images",
  "class": "shopify-section--stackable shopify-section--small shopify-section--text-first",
  "settings": [
    {
      "type": "range",
      "id": "columns",
      "label": "Columns per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "id": "image_shape",
      "type": "radio",
      "label": "Image shape",
      "default": "round",
      "options": [
        {
          "value": "round",
          "label": "Round"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "id": "section_contrast",
      "type": "checkbox",
      "label": "Use alternate section color",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "mobile_one_line",
      "label": "[Mobile] 不換行顯示",
      "default": false,
      "info": "如果打勾，手機版會變成 2 個一排"
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image",
          "info": "160px x 160px recommended."
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Feature heading"
        },
        {
          "id": "subheading",
          "type": "textarea",
          "label": "Subheading",
          "default": "Tell a story, explain a detail about your product, or describe a new promotion."
        },
        {
          "id": "link",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Button label",
          "default": "Read more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "category": "Text",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
