<section class="brand-image key-visual" data-url="{{ section.settings.file-name }}">
  <video autoplay class="brand-image brand-image-desktop" loop muted playsinline>
    <source src="{{ section.settings.file-name | append: '.mp4' | file_url }}" type="video/mp4">
    Your brower is not supported!
  </video>
  {% if section.settings.file-name-mobile != blank %}
    <video autoplay class="brand-image brand-image-mobile" loop muted playsinline>
      <source src="{{ section.settings.file-name-mobile | append: '.mp4' | file_url }}" type="video/mp4">
      Your brower is not supported!
    </video>
  {% endif %}
</section>
<style>
  .brand-image{
    width:100vw;
    height:initial;
    display:block;
  }
  .key-visual{
    margin-bottom: {{ section.settings.desktop_margin_bottom }}px;
  }
  {% if section.settings.file-name-mobile != blank %}
    .brand-image-mobile{
      display: none;
    }
    @media(max-width: 800px){
      .key-visual{
        margin-bottom: {{ section.settings.mobile_margin_bottom }}px;
      }
      .brand-image-desktop{
        display: none;
      }
      .brand-image-mobile{
        display: block;
      }
    }

  {% endif %}
  {% if section.settings.mobile-display != true %}
    .brand-image-mobile{
      display:none;
    }

    {% endif %}
</style>
{% schema %}
{
  "name": "Brand image",
  "class": "shopify-section--stackable shopify-section--contrast offset-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "mobile-display",
      "label": "mobile display",
      "default": false
    },
    {
      "type": "text",
      "id": "file-name",
      "label": "File name",
      "default": "brand_image"
    },
    {
      "type": "text",
      "id": "file-name-mobile",
      "label": "File name mobile",
      "default": "brand_image"
    },
    {
      "type": "range",
      "id": "desktop_margin_bottom",
      "label": "Margin bottom (desktop)",
      "min": 0,
      "max": 56,
      "step": 4,
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "label": "Margin bottom (mobile)",
      "min": 0,
      "max": 40,
      "step": 2,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Video Brand Image",
      "category": "Video",
      "settings": {}
    }
  ]
}
{% endschema %}
