{%- render 'section--video-hero' with
  overlay_shadow: section.settings.overlay_shadow,
  overlay_opacity: section.settings.overlay_opacity,
  alignment: section.settings.alignment,
  color_background_button: section.settings.color_background_button,
  heading: section.settings.title,
  subheading: section.settings.subheading,
  link: section.settings.link,
  link_text: section.settings.link_text,
  desktop_height: section.settings.desktop_height,
  mobile_height: section.settings.mobile_height,
  color_text: section.settings.color_text,
  color_text_button: section.settings.color_text_button,
  color_overlay: section.settings.color_overlay,
  max_width_subheading: section.settings.max_width_subheading,
  heading_text_size: section.settings.heading_text_size,
  video_url: section.settings.video_url,
  image: section.settings.image,
-%}

{% schema %}
  {
    "name": "Video hero",
    "class": "shopify-section--stackable shopify-section--contrast offset-section",
    "settings": [
      {
        "type": "range",
        "id": "desktop_height",
        "label": "Height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "mobile_height",
        "label": "Mobile height",
        "unit": "%",
        "min": 50,
        "max": 100,
        "step": 5,
        "default": 100
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Video link",
        "info": "Use a direct link to an .mp4 video file. [Learn more here](https://fluorescent.co/help/spark/video-hero#add-a-video)."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image fallback"
      },
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "Video Hero"
      },
      {
        "id": "subheading",
        "type": "textarea",
        "label": "Subheading",
        "default": "Feature seamless auto-playing hero videos in this space."
      },
      {
        "id": "heading_text_size",
        "type": "range",
        "label": "Heading size",
        "unit": "px",
        "min": 48,
        "max": 72,
        "step": 2,
        "default": 64
      },
      {
        "id": "max_width_subheading",
        "type": "range",
        "label": "Text max width",
        "min": 20,
        "max": 50,
        "step": 2,
        "default": 40
      },
      {
        "id": "link_text",
        "type": "text",
        "label": "Button label",
        "default": "Shop now"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Button link"
      },
      {
        "id": "alignment",
        "type": "select",
        "label": "Text alignment",
        "options": [
          { "label": "Top left", "value": "left_top" },
          { "label": "Top center", "value": "center_top" },
          { "label": "Top right", "value": "right_top" },
          { "label": "Middle left", "value": "left_center" },
          { "label": "Middle center", "value": "center_center" },
          { "label": "Middle right", "value": "right_center" },
          { "label": "Bottom left", "value": "left_bottom" },
          { "label": "Bottom center", "value": "center_bottom" },
          { "label": "Bottom right", "value": "right_bottom" }
        ],
        "default": "left_center"
      },
      {
        "type": "range",
        "id": "overlay_shadow",
        "label": "Text shadow amount",
        "unit": "%",
        "min": 0,
        "max": 60,
        "step": 5,
        "default": 20
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay opacity",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 30
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000"
      },
      {
        "id": "color_text",
        "type": "color",
        "label": "Text",
        "default": "#ffffff"
      },
      {
        "id": "color_background_button",
        "type": "color",
        "label": "Button background",
        "default": "#1C2232"
      },
      {
        "id": "color_text_button",
        "type": "color",
        "label": "Button text",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Video hero",
        "category": "Video",
        "settings": {
          "link": "#"
        }
      }
    ]
  }
{% endschema %}