{%- render 'section--video' with
  heading: section.settings.title,
  subheading: section.settings.subheading,
  text_max_width: section.settings.text_max_width,
  video_url: section.settings.video_url,
  image: section.settings.image,
  opacity_overlay: section.settings.opacity_overlay,
  color_overlay: section.settings.color_overlay,
  section_contrast: section.settings.section_contrast,
-%}

{% schema %}
  {
    "name": "Video",
    "class": "shopify-section--stackable shopify-section--image-first",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading"
      },
      {
        "id": "subheading",
        "type": "richtext",
        "label": "Subheading"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "label": "Max width of text",
        "min": 24,
        "max": 48,
        "step": 1,
        "default": 42
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "id": "opacity_overlay",
        "type": "range",
        "label": "Overlay opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "default": 60,
        "unit": "%"
      },
      {
        "id": "color_overlay",
        "type": "color",
        "label": "Overlay",
        "default": "#000000"
      },
      {
        "id": "section_contrast",
        "type": "checkbox",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Video",
        "settings": {
          "title": "Featured video",
          "subheading": "<p>Use this section for interviews, product promotions, demo reels, and more.</p>"
        }
      }
    ]
  }
{% endschema %}
