<script data-cfasync="false" type="text/javascript">
  if (typeof Shopify === "undefined")
    var Shopify = {};



  Shopify.cart = {{ cart | json }};
</script>
<div id="sca-fg-owl-carousel">
  <div class="sca-fg-cart-container" id="freegift_cart_container" style="display: none;">
    <div class="owl-carousel" id="freegift_message"></div>
  </div>
  <div id="sca-fg-slider-cart" style="display: none;">
    <div class="sca-fg-cart-title">
      <strong>Select your free gift (s)</strong>
    </div>
    <div class="owl-carousel" id="sca_freegift_list"></div>
  </div>
</div>
<div id="sca_fg_cart">
  {% section 'cart--template' %}
  <script id="docapp-discount-speedup">
    (() => {
      if (!document
          .documentElement
          .innerHTML
          .includes("\\/shop" + "\\/js" + "\\/discount-on-cart-pro.min.js") || window.discountOnCartProAppLoaded)
        return;



      let script = document.createElement("script");
      script.src = "https://d9fvwtvqz2fm1.cloudfront.net/shop/js/discount-on-cart-pro.min.js?shop=nuconcept1315.myshopify.com";
      document.getElementById("docapp-discount-speedup").after(script);
    })();
  </script>
</div>
<script>
    window.addEventListener("DOMContentLoaded",function(){
      {% comment %} console.log('dom',document.querySelector(".discountify_discount_wrap")); {% endcomment %}

    })
    window.addEventListener("load", function () {
  //     console.log(document.querySelector(".discountify_discount_wrap"))
  //     if (document.querySelector(".discountify_discount_wrap")) {
  //       // const voilaDropdown = document.querySelector('.ms_vl_drp_cls');
  //             // document
  //       //   .querySelector(".cart__footer-tax-note")
  //       //   .append(voilaDropdown);
  //       const voilaApp = document.querySelector(".discountify_discount_wrap");
  //       document.querySelector('.radio_cpn').style.cssText='margin-bottom:10px;text-align:left';
  //       document.querySelector('.ms_vl_radio_cpn_spn').style.cssText='font-size:18px;';
  //         document.querySelector(".cart__footer-tax-note").append(voilaApp);
  //         document
  //         .querySelector(".dscnt_manual_fldwrap")
  //         .style
  //         .width = "100%";
  //         if(window.innerWidth <= 600){
  //           document
  //         .querySelector(".ms-vl-drp_sel")
  //         .style
  //       .cssText = "-webkit-appearance: auto;padding:5px;width:100%;";
  //         }else{
  //           document
  //         .querySelector(".ms-vl-drp_sel")
  //         .style
  //       .cssText = "-webkit-appearance: auto;padding:5px;width:285px;";
  //         }

  //       document
  //         .querySelector(".ms_vl_drp_cls")
  //       .style.cssText='width:100%';
  //     }


      // GTM 埋 code 進入 cart page


    })
</script>
<style>
  .ms_vl_drp_cls {
    width: 100%;
  }
  .dscnt_manual_fldwrap {
    width: 100%;
  }
  @media(max-width:600px) {
    .ms-vl-drp_sel {
      -webkit-appearance: menulist;
      padding: 5px;
      width: 100%;
    }
  }
  {% if settings.cart_enable_discount_input == false %}
    /* 直接隱藏 discount on cart app 輸入折扣碼的選項 */
    .docapp-coupon-input.docapp-in-summary {
      display: none !important;
    }
  {% endif %}
</style>

<script id="docapp-discount-speedup">
  (() => { if (!document.documentElement.innerHTML.includes('\\/shop' + '\\/js' + '\\/discount-on-cart-pro.min.js') || window.discountOnCartProAppLoaded) return; let script = document.createElement('script'); script.src = "https://d9fvwtvqz2fm1.cloudfront.net/shop/js/discount-on-cart-pro.min.js?shop=nuconcept1315.myshopify.com"; document.getElementById('docapp-discount-speedup').after(script); })();
</script>
