{% section "reviews-header" %}
{% section "article-bar" %}
{% section 'page-reviews-type-1' %}
{% section 'page-reviews-type-2' %}
{% section 'page-reviews-type-3' %}
{% section 'page-reviews-type-4' %}
<style>
  #shopify-section-page-reviews-type-1,
  #shopify-section-page-reviews-type-2,
  #shopify-section-page-reviews-type-3,
  #shopify-section-page-reviews-type-4{
    display: none;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded',async ()=>{
    setTimeout(()=>{
     activeReviewType(0);
   },0)
    document.getElementById('reviews-type-0').addEventListener('click',()=>{
      activeReviewType(0)
    });
    document.getElementById('reviews-type-1').addEventListener('click',()=>{
      activeReviewType(1)
    });
    document.getElementById('reviews-type-2').addEventListener('click',()=>{
      activeReviewType(2)
    });
    document.getElementById('reviews-type-3').addEventListener('click',()=>{
      activeReviewType(3)
    });

    async function activeReviewType(index){

         await document.getElementById('reviews-type-0').setAttribute('src',document.querySelector('.reviews-type__noActive--0').getAttribute('src'))
         await document.getElementById('reviews-type-1').setAttribute('src',document.querySelector('.reviews-type__noActive--1').getAttribute('src'))
         await document.getElementById('reviews-type-2').setAttribute('src',document.querySelector('.reviews-type__noActive--2').getAttribute('src'))
         await document.getElementById('reviews-type-3').setAttribute('src',document.querySelector('.reviews-type__noActive--3').getAttribute('src'))

         await document.getElementById(`reviews-type-${index}`).setAttribute('src',document.querySelector(`.reviews-type__Active--${index}`).getAttribute('src'))
         const type1 = document.getElementById(`shopify-section-page-reviews-type-1`);
         const type2 = document.getElementById(`shopify-section-page-reviews-type-2`);
         const type3 = document.getElementById(`shopify-section-page-reviews-type-3`);
         const type4 = document.getElementById(`shopify-section-page-reviews-type-4`);

         type1 && (type1.style.display ='none');
         type2 && (type2.style.display ='none');
         type3 && (type3.style.display ='none');
         type4 && (type4.style.display ='none');

          {% comment %} document.getElementById(`shopify-section-page-reviews-type-1`).style.display= 'none';
          document.getElementById(`shopify-section-page-reviews-type-2`).style.display= 'none';
          document.getElementById(`shopify-section-page-reviews-type-3`).style.display= 'none';
          document.getElementById(`shopify-section-page-reviews-type-4`).style.display= 'none'; {% endcomment %}

       if(document.getElementById(`shopify-section-page-reviews-type-${index+1}`)){
          document.getElementById(`shopify-section-page-reviews-type-${index+1}`).style.display= 'block';
       }
    }
  })
</script>
